:root {
  --blue-0: #040d20;
  --cw-2: #b5b8cc;
  --blue-2: #0d327f;
  --content: 1380px;
  --cw-1: #819cdc;
  --secondary: #6fe3b9;
  --bg: #151515;
  --primary: #1963fd;
  --azure-blue: #44a3db;
  --blue-1: #071940;
  --cw-5: #e8d4bb;
  --blue-1-5: #0b1429;
  --blue-3: #2950a2;
  --content-inner: 1000px;
  --text-content: 800px;
  --cw-6: #f4eadd;
  --cw-0: #4d80ed;
  --rust: #d74a49;
  --pink: #9e59da;
  --yellow: #d7aa49;
  --rose: #be1757;
  --green: #2e884c;
  --cobalt: #1527ee;
  --purple: #5836df;
  --dark-teal: #00a37d;
  --elephant-grey: #3e3d49;
  --orange: #bd6b00;
  --process-blue: #1343d3;
  --accent: var(--secondary);
  --white: white;
  --black: black;
  --secondary-bg: rgba(111, 227, 185, .15);
  --cw-1-5: #3658a1;
  --blue-2-bg: rgba(13, 50, 127, .33);
  --cw-4: #dccdc0;
  --cw-3: #cfc6c4;
  --blue-4: #062057;
  --cobalt-2: #0029b1;
  --scroll-1-horiz: 0px;
  --logo-radius-curtain: 8px;
  --trigger-for-logo-position-change: #ddd;
  --logo-curtain-left: 0vw;
  --logo-curtain-top: 0vh;
  --trigger-for-tiles-build-in-change: #ddd;
  --azure-blue-bg: rgba(68, 163, 219, .15);
  --orange-2: #c36f01;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

p {
  margin-bottom: 10px;
}

.body {
  background-color: var(--blue-0);
  color: var(--cw-2);
  font-family: Montserrat \- Custom, sans-serif;
}

.navbar-no-shadow {
  z-index: 99;
  color: var(--blue-2);
  transition: all .2s;
  position: relative;
}

.navbar-no-shadow-container {
  z-index: 5;
  max-width: var(--content);
  background-color: rgba(0, 0, 0, 0);
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.container-regular {
  max-width: var(--content);
  width: 90vw;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-brand.w--current {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 30px;
  grid-template-columns: 30px 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: var(--cw-1);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--secondary);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.mobile-margin-top-10 {
  margin-left: 20px;
}

.nav-button-wrapper {
  margin-left: 0;
}

.btn {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: var(--bg);
  cursor: pointer;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  color: var(--bg);
}

.btn:active {
  background-color: #43464d;
}

.btn.hero {
  font-size: 17px;
  line-height: 25px;
}

.btn.sec, .btn.sec:hover {
  color: var(--cw-1);
}

.btn.before-footer-final-chat-cta {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button-background {
  z-index: 1;
  background-image: linear-gradient(296deg, var(--primary), var(--azure-blue) 52%, var(--secondary));
  pointer-events: none;
  width: 200%;
  height: 100%;
  transition: all .2s;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

.button-background.sec {
  background-image: linear-gradient(296deg, var(--blue-0), var(--blue-1) 52%, var(--blue-2));
}

.button-text {
  z-index: 2;
  font-size: 17px;
  position: relative;
}

.icon {
  z-index: 2;
  font-family: Bootstrap Icons, sans-serif;
  font-size: 2rem;
  position: relative;
}

.icon.right {
  transition: all .2s;
}

.icon.right.small {
  font-size: 1rem;
}

.icon.right.in-badge {
  opacity: .33;
  font-size: inherit;
  line-height: inherit;
}

.icon.small {
  opacity: .5;
  font-size: 1rem;
}

.icon.small.green {
  color: var(--cw-5);
}

.icon.btn-icon {
  margin-left: 5px;
  font-size: 1.5rem;
  transform: rotate(0);
}

.icon.cookie {
  font-size: 30px;
  line-height: 30px;
}

.icon.cookie.accept-cookies {
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
}

.icon.cookie.accept-cookies:hover {
  background-color: var(--azure-blue);
  color: var(--bg);
}

.text-block {
  color: #fff;
  text-transform: lowercase;
  font-family: Bootstrap Icons, sans-serif;
}

.html-embed {
  z-index: 2;
  font-family: Bootstrap Icons, sans-serif;
  position: relative;
}

.content {
  max-width: var(--content);
  width: 90vw;
  margin: 100px auto;
  display: flex;
  position: relative;
}

.content.hero {
  z-index: 0;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 600px;
  display: flex;
  position: relative;
}

.content.stats {
  border: 1px none var(--blue-2);
  background-color: var(--blue-1-5);
  color: var(--blue-3);
  mix-blend-mode: screen;
  border-radius: 4px;
  flex-flow: wrap;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  display: flex;
}

.content.sliding-work-showcase {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.content.sliding-work-showcase.temp {
  flex-flow: column;
}

.content.sliding-work-showcase.highlight-subtle-block {
  border: 1px none var(--blue-2);
  background-color: var(--blue-1-5);
  mix-blend-mode: screen;
  border-radius: 4px;
  margin-top: 40px;
  padding: 40px 20px 20px;
}

.content.spread {
  justify-content: space-between;
  align-items: flex-start;
}

.content.spread.compact {
  max-width: var(--content-inner);
}

.content.spread.centre-vert {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.content.spread.centre-vert.reverse-orientation {
  flex-flow: row-reverse;
}

.content.spread.centre-vert.centred {
  flex-flow: column;
}

.content.vert {
  max-width: var(--content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
}

.content.doc-page {
  max-width: var(--text-content);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

.content.lets-build {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.content.works-and-experiments-label-and-content {
  justify-content: center;
  align-items: flex-start;
  height: -webkit-max-content;
  height: max-content;
  min-height: calc(100vh - 70px);
}

.content.vertical {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content.primere-btf-content {
  margin-top: 100px;
}

.content.primere-btf-content.highlight-subtle-block {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--blue-1-5);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.content.works-and-exp-show-static {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
}

.hero-heading {
  color: var(--cw-6);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2em;
}

.hero-heading.gradient-text {
  background-image: radial-gradient(circle farthest-corner at 100% 0%, var(--primary) 27%, var(--secondary));
  mix-blend-mode: screen;
  font-size: 71px;
  font-weight: 800;
  line-height: 1.3em;
  transition: all .1s;
}

.hero-text-cta {
  z-index: 99;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  position: relative;
}

.hero-img {
  z-index: 2;
  aspect-ratio: 1;
  mix-blend-mode: normal;
  width: 90vw;
  max-width: 600px;
  position: relative;
}

.hero-img.content-img {
  border: 1px solid var(--blue-2);
  border-radius: 4px;
  max-width: 40%;
  padding: 40px;
}

.hero-img.content-img.no-outline {
  border-width: 0;
}

.hero-img.skew-container {
  perspective: 2000px;
  transform-style: preserve-3d;
  transform: rotateX(28deg)rotateY(-9deg)rotateZ(23deg)perspective(2000px);
}

.hero-img.wrapper {
  perspective: 2000px;
  transform-style: preserve-3d;
  max-width: 500px;
  max-height: 500px;
}

.hero-h2 {
  color: var(--azure-blue);
  mix-blend-mode: screen;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.8em;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(350deg, #000, #fff);
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text.ready {
  background-image: linear-gradient(350deg, var(--primary), var(--azure-blue));
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 52px;
  line-height: 1.5em;
}

.gradient-text.ready.no-margin {
  margin-bottom: 0;
}

.gradient-text.ready.increase-margin {
  margin-bottom: 60px;
}

.gradient-text.doc-heading {
  background-image: linear-gradient(350deg, var(--primary), var(--azure-blue));
  font-size: 50px;
  line-height: 1.4em;
}

.image-2 {
  z-index: 10;
  opacity: 1;
  filter: blur(60px);
  mix-blend-mode: overlay;
  width: 100vw;
  max-width: none;
  height: auto;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-waving-hand {
  z-index: 3;
  transform-origin: 100% 100%;
  mix-blend-mode: normal;
  width: 20%;
  transition: all .2s;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hero-image-wrapper {
  perspective: 2000px;
  margin-left: auto;
  position: relative;
}

.hero-star {
  z-index: 0;
  opacity: 1;
  mix-blend-mode: normal;
  width: 20%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.hero-star.larger {
  z-index: 4;
  opacity: 0;
  filter: none;
  mix-blend-mode: normal;
  width: 30%;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.statistic-organiser {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  box-shadow: 1px 0 0 0 var(--blue-2);
  color: var(--cw-0);
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  max-width: 80vw;
  padding-right: 20px;
  display: flex;
}

.statistic-organiser.not-first {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
}

.statistic-organiser.last {
  box-shadow: none;
}

.statistic-organiser.last.not-first {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.animated-counter {
  background-image: linear-gradient(350deg, var(--primary), var(--cw-0));
  text-align: right;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald \- Custom, sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
}

.animated-counter._2 {
  min-width: 3rem;
}

.animated-counter._3 {
  min-width: 4rem;
}

.animated-counter._3.gradient-text {
  font-family: Oswald \- Custom, sans-serif;
}

.stat-description {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  display: flex;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 600;
}

.stat-text {
  font-size: 17px;
  font-weight: 200;
  line-height: 21px;
}

.work-tile {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .05);
  border-radius: 8px;
  flex-flow: row;
  width: 50%;
  min-width: 650px;
  max-width: 75vw;
  padding: 20px;
  display: flex;
}

.work-tile.compact {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 40px);
  min-width: auto;
  padding: 30px;
}

.work-tile.wide-work-tile {
  background-color: #010014;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
  min-width: auto;
  padding: 25px;
}

.work-ile-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.work-ile-title.compact {
  font-size: 19px;
}

.work-tile-text {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: var(--cw-1);
  flex-flow: column;
  height: 100%;
  font-size: 15px;
  line-height: 25px;
}

.work-showcase-wrapper {
  width: 100vw;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.work-showcase-wrapper.works-and-exp {
  position: relative;
}

.work-list {
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.work-tile-image {
  aspect-ratio: 1;
  width: 200px;
  max-width: none;
  height: 200px;
}

.work-tile-image.compact {
  width: 75vw;
  max-width: 280px;
  height: auto;
}

.technologies-used {
  border-radius: 4px;
  width: 100%;
  height: 5px;
  display: flex;
  overflow: hidden;
}

.technology {
  height: 100%;
}

.technology.html5-tech-used {
  background-color: var(--rust);
  width: 30%;
}

.technology.html5-tech-used.ws {
  width: 5%;
}

.technology.html5-tech-used.ee {
  width: 10%;
}

.technology.html5-tech-used.keevo {
  width: 30%;
}

.technology.html5-tech-used.f18-pay {
  width: 10%;
}

.technology.css-key-colour {
  background-color: var(--pink);
  width: 60%;
}

.technology.css-key-colour.ee {
  width: 10%;
}

.technology.css-key-colour.naira {
  width: 30%;
}

.technology.css-key-colour.f18pay {
  width: 10%;
}

.technology.js-key-colour {
  background-color: var(--yellow);
  width: 90%;
}

.technology.js-key-colour.ee, .technology.js-key-colour.btc {
  width: 10%;
}

.technology.js-key-colour.zismo {
  width: 20%;
}

.technology.js-key-colour.naira {
  width: 40%;
}

.technology.js-key-colour.f18-pay {
  width: 50%;
}

.technology.scss-key-colour {
  background-color: var(--rose);
}

.technology.scss-key-colour.ws {
  width: 5%;
}

.technology.scss-key-colour.ee {
  width: 10%;
}

.technology.scss-key-colour.keevo {
  width: 60%;
}

.technology.scss-key-colour.incognet {
  width: 10%;
}

.technology.scss-key-colour.zismo {
  width: 15%;
}

.technology.scss-key-colour.p2p {
  width: 10%;
}

.technology.scss-key-colour.btcpay-server {
  width: 60%;
}

.technology.vue-key-colour {
  background-color: var(--green);
}

.technology.vue-key-colour.ee {
  width: 10%;
}

.technology.vue-key-colour.p2p {
  width: 80%;
}

.technology.vue-key-colour.f18 {
  width: 30%;
}

.technology.ns-key-colour {
  background-color: var(--cobalt);
}

.technology.ns-key-colour.ee {
  width: 10%;
}

.technology.php-key-colour {
  background-color: var(--purple);
}

.technology.php-key-colour.ee {
  width: 10%;
}

.technology.php-key-colour.incognet {
  width: 80%;
}

.technology.php-key-colour.zismo {
  width: 65%;
}

.technology.node-key-colour {
  background-color: var(--dark-teal);
}

.technology.node-key-colour.ee {
  width: 10%;
}

.technology.sql-key-colour {
  background-color: var(--elephant-grey);
}

.technology.sql-key-colour.ee {
  width: 10%;
}

.technology.btc-key-colour {
  background-color: var(--orange);
}

.technology.btc-key-colour.ee {
  width: 10%;
}

.technology.webflow-key-colour {
  background-color: var(--process-blue);
}

.technology.webflow-key-colour.ee {
  width: 10%;
}

.technology.webflow-key-colour._100 {
  width: 100%;
}

.technology-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  width: 100%;
  margin-top: auto;
  display: flex;
}

.list-item {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  display: flex;
}

.technology-pc {
  opacity: .4;
  font-weight: 700;
}

.technology-colour-key {
  background-color: #d74a49;
  border-radius: 20px;
  width: .7rem;
  height: .7rem;
}

.technology-colour-key.htmol5-colour-key {
  background-color: var(--rust);
}

.technology-colour-key.css-colour-key {
  background-color: var(--pink);
}

.technology-colour-key.js-colour-key {
  background-color: var(--yellow);
}

.technology-colour-key.scss-colour-key {
  background-color: var(--rose);
}

.technology-colour-key.vue-colour-key {
  background-color: var(--green);
}

.technology-colour-key.ns-colour-key {
  background-color: var(--cobalt);
}

.technology-colour-key.php-colour-key {
  background-color: var(--purple);
}

.technology-colour-key.node-key-colour {
  background-color: var(--dark-teal);
}

.technology-colour-key.sql-key-colour {
  background-color: var(--elephant-grey);
}

.technology-colour-key.btc-key-colour {
  background-color: var(--orange);
}

.technology-colour-key._wf-key-colour {
  background-color: var(--process-blue);
}

.technology-colour-key.webflow-key-colour {
  background-color: #0d31d1;
}

.work-wrapper-overlay {
  background-image: linear-gradient(270deg, var(--blue-0), transparent);
  pointer-events: none;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.footer-dark {
  background-image: linear-gradient(to bottom, var(--blue-1-5), var(--blue-1-5));
  color: var(--cw-1);
  padding: 50px 0 15px;
  position: relative;
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
}

.footer-wrapper {
  max-width: var(--content);
  color: var(--cw-2);
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: flex;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: inherit;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.footer-link:hover {
  color: var(--accent);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  max-width: var(--content);
  color: var(--cw-2);
  text-align: right;
  width: 80vw;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 16px;
}

.body-wrapper {
  width: 100vw;
}

.body-wrapper.no-overflow {
  overflow: hidden;
}

.tile-flex-animated-container {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  width: 100%;
  max-width: 100vw;
  margin: 60px auto;
  padding: 20px 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.provider-flex {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  position: relative;
}

.provider-tile {
  justify-content: center;
  align-items: center;
  width: -webkit-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: max-content;
  display: block;
  position: relative;
}

.provider-tile-img {
  opacity: .3;
  mix-blend-mode: normal;
  width: auto;
  max-width: none;
  height: 30px;
  transition: all .2s;
}

.provider-tile-img.invert {
  opacity: .3;
  filter: invert();
}

.html-embed-2 {
  opacity: 0;
  pointer-events: none;
  display: block;
  position: absolute;
}

.provider-overlay {
  z-index: 1;
  background-color: var(--white);
  mix-blend-mode: color;
  width: 100%;
  height: 100%;
  position: absolute;
}

.providers-overlay {
  background-image: linear-gradient(90deg, var(--blue-0), transparent);
  box-shadow: inset 1px 0 0 1px var(--blue-2);
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.providers-overlay.right {
  background-image: linear-gradient(270deg, var(--blue-0), transparent);
  box-shadow: inset -1px 0 0 1px var(--blue-2);
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.text-org {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.text-org.subscriptions {
  z-index: 2;
  width: 600px;
  max-width: 50vw;
  margin-bottom: -80px;
  position: relative;
}

.text-org.centred {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.text-block-reading {
  font-size: 18px;
  line-height: 1.8em;
}

.text-block-reading.left-align {
  text-align: left;
}

.btn-flex {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  margin-top: 20px;
}

.btn-flex.orientate-right {
  margin-left: auto;
}

.pricing-comparison {
  padding: 80px 30px;
  position: relative;
}

.pricing-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.pricing-card {
  z-index: 3;
  border: 1px solid var(--blue-2);
  background-color: var(--blue-0);
  box-shadow: 0 4px 80px -20px var(--black);
  background-image: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5vw;
  display: flex;
  position: relative;
}

.pricing-card.featured-pricing {
  z-index: 2;
  background-color: var(--blue-0);
  background-image: radial-gradient(circle farthest-corner at 50% 100%, var(--blue-0), var(--black));
  box-shadow: 0 0 130px -50px var(--cw-0);
  border-radius: 10px;
}

.pricing-image {
  aspect-ratio: 1;
  background-image: radial-gradient(circle farthest-corner at 0% 100%, var(--blue-1), var(--blue-2));
  object-fit: cover;
  border-radius: 7px;
  width: auto;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 16px;
}

.pricing-image.main {
  background-image: radial-gradient(circle farthest-corner at 0% 100%, var(--black), var(--blue-1));
}

.pricing-title {
  background-image: linear-gradient(299deg, var(--azure-blue), var(--secondary));
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}

.pricing-title.gradient-text {
  background-image: linear-gradient(299deg, var(--azure-blue), var(--primary));
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1em;
}

.pricing-subtitle {
  color: var(--primary);
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
}

.pricing-price {
  color: var(--azure-blue);
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 32px;
}

.paragraph-regular {
  font-size: 14px;
  line-height: 20px;
}

.paragraph-regular.margin-bottom-20 {
  margin-bottom: 20px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.outline-button {
  color: #1a1b1f;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px #1a1b1f;
}

.button-primary.outline-button:hover {
  color: #fff;
  background-color: #1a1b1f;
}

.pricing-divider {
  background-color: var(--azure-blue);
  opacity: .3;
  align-self: stretch;
  height: 1px;
  margin: 56px -24px 16px;
}

.pricing-divider.for-light-block {
  background-color: var(--blue-2);
  opacity: 1;
}

.pricing-feature-list {
  color: var(--azure-blue);
  mix-blend-mode: screen;
  align-self: stretch;
  width: 80%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing-feature {
  align-self: stretch;
  font-size: 16px;
  line-height: 24px;
}

.pricing-feature.things-are-different {
  color: var(--cw-2);
  font-weight: 600;
}

.badge {
  background-color: var(--secondary);
  color: var(--blue-1);
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 24px;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  top: -20px;
  right: 10px;
}

.badge.subtle {
  background-color: var(--azure-blue);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
  line-height: 17px;
  top: -12px;
  right: 20px;
}

.badge.subtle.left {
  border: 1px solid var(--blue-2);
  background-color: var(--blue-1-5);
  color: var(--cw-0);
  left: 20px;
  right: auto;
}

.badge.inline-badge {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--secondary-bg);
  color: var(--secondary);
  text-transform: none;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 14px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8em;
  text-decoration: none;
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}

.text-span {
  opacity: .5;
}

.text-span-2 {
  opacity: .51;
  font-size: 20px;
}

.pricing-head {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.list-item-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.list-item-2.things-change-after-this {
  margin-bottom: 20px;
}

.major-exit-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
}

.major-exit-text.gradient-text {
  z-index: 2;
  background-image: radial-gradient(circle farthest-side at 0% 0%, var(--accent), transparent 54%), radial-gradient(circle farthest-side at 100% 0%, var(--secondary), transparent 44%), linear-gradient(180deg, var(--primary), var(--azure-blue));
  filter: saturate(200%);
  text-align: center;
  margin-top: 0;
  padding: 20px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.2em;
  position: relative;
}

.image-3 {
  max-width: var(--content);
  opacity: .11;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.code {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
}

.paragraph {
  font-size: 17px;
  line-height: 1.8em;
}

.paragraph.doc-para {
  margin-top: 20px;
}

.text-block-3 {
  margin-top: -15px;
}

.terms-list {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  margin-top: 60px;
  font-size: 17px;
  line-height: 1.8em;
  list-style-type: decimal;
  display: flex;
}

.list-item-3 {
  margin-bottom: 40px;
}

.rich-text-block {
  margin-top: 40px;
}

.rich-text-block p {
  font-size: 17px;
  line-height: 1.8em;
}

.rich-text-block h3 {
  color: var(--azure-blue);
}

.status {
  background-color: var(--dark-teal);
  border-radius: 20px;
  width: 10px;
  height: 10px;
}

.framework-credit-wrapper {
  margin-top: 20px;
}

.framework-logo {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 35px;
}

.work-wrapper-parent {
  height: 100vh;
  min-height: 2000px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.work-wrapper-free-container {
  height: -webkit-max-content;
  height: max-content;
  position: relative;
}

.scroll-work-wrapper {
  pointer-events: none;
  height: 100vh;
  min-height: 2000px;
  position: absolute;
}

.worker-scroll-container {
  position: relative;
  top: 0;
}

.works-and-exp-scroll-trigger {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.image-skew {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: none;
}

.image-skew.base {
  z-index: 3;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -50px);
}

.image-skew._1 {
  z-index: 2;
  transform: translate(0);
}

.image-skew._8 {
  z-index: 1;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 50px);
}

.img-overlay {
  z-index: 99;
  width: 200%;
  height: 200%;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.link {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: var(--cw-1);
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.link:hover {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--secondary);
}

.link.cookie {
  opacity: .66;
  font-size: 11px;
}

.link.cookie:hover {
  opacity: 1;
}

.gradient-overlay-wrapper {
  z-index: 4;
  aspect-ratio: 1;
  opacity: .6;
  filter: blur(30px);
  mix-blend-mode: normal;
  transform-style: preserve-3d;
  background-image: url('../images/blur2.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  border-radius: 25%;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transform: translate3d(0, 0, 51px);
}

.work-tile-icon {
  aspect-ratio: 1;
  border-radius: 50px;
  width: 35px;
}

.flex-header-tile {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.image-5 {
  z-index: -1;
  opacity: .45;
  position: absolute;
  transform: skew(66deg);
}

.blur {
  z-index: -1;
  opacity: .12;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.blur.right {
  opacity: .2;
  transform: translate(66%, -50%);
}

.blur.left-large {
  opacity: .27;
  transform: skew(8deg, -35deg)translate(-50%, -50%);
}

.blur.centre-alternate-colour {
  opacity: .4;
  width: 100vw;
  transform: scale(2)translate(0, -15%);
}

.homepage-loader {
  z-index: 100;
  background-color: var(--process-blue);
  border-radius: 25%;
  width: 35px;
  height: 35px;
  position: absolute;
  overflow: hidden;
}

.loader-image-backgdrop {
  aspect-ratio: 1;
  width: 105%;
  max-width: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(5%);
}

.words-laft-eitheeen {
  margin-top: 7px;
  margin-left: 45px;
}

.limited-availability-prompt {
  text-decoration: none;
}

.tabs {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0 0 0 1px var(--blue-2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  flex: 1 0 auto;
  grid-template-rows: auto;
  grid-template-columns: minmax(300px, .25fr) 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-self: stretch;
  align-items: start;
  justify-items: stretch;
  display: grid;
  overflow: hidden;
}

.tabs-menu {
  box-shadow: 0 0 0 1px var(--blue-2);
  flex-flow: column;
  display: flex;
}

.tab {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  box-shadow: 0 1px 0 0 var(--blue-2);
  color: var(--cw-1-5);
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1.8em;
  display: flex;
}

.tab:hover {
  color: var(--cw-1);
}

.tab.w--current {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  background-color: var(--blue-2-bg);
  color: var(--cw-0);
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}

.tab.w--current:hover {
  color: var(--cw-0);
}

.unselected-tab {
  background-color: var(--bg);
  color: var(--cw-4);
}

.unselected-tab:hover {
  color: var(--secondary);
}

.tabs-content {
  border-left: 1px solid var(--blue-2);
  border-radius: 1px;
  padding: 20px 40px;
}

.flex-for-span-syle-diff {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
  flex-flow: column;
  display: flex;
  position: relative;
}

.cookie-notice {
  z-index: 99;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--blue-1);
  box-shadow: 0 0 0 1px var(--primary);
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 20px;
  position: fixed;
  top: auto;
  bottom: 10px;
  left: 10px;
  right: auto;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .navbar-no-shadow {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }

  .navbar-no-shadow-container {
    width: 100%;
    padding-left: 5vw;
    padding-right: 2vw;
  }

  .container-regular {
    width: 90vw;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
  }

  .nav-menu {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    background-color: var(--blue-0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: -webkit-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: 10px;
    padding: 20px 20px 40px;
    display: flex;
    overflow: hidden;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    color: var(--primary);
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: var(--azure-blue);
    color: var(--blue-0);
    border-radius: 200px;
  }

  .icon.right.icon-menu {
    color: var(--azure-blue);
    font-size: 2rem;
  }

  .icon.right.icon-menu:hover {
    color: var(--secondary);
  }

  .icon.right.icon-close {
    font-size: 2rem;
  }

  .content.hero {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: auto;
    display: flex;
  }

  .content.stats {
    width: 90vw;
  }

  .content.sliding-work-showcase.highlight-subtle-block {
    flex-flow: column;
  }

  .content.spread {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .hero-heading {
    font-size: 40px;
  }

  .hero-heading.gradient-text {
    font-size: 45px;
    line-height: 1.4em;
  }

  .hero-img {
    width: 50vw;
    margin-top: auto;
  }

  .hero-img.content-img {
    width: 33vw;
    margin-top: 0;
  }

  .hero-img.content-img.no-outline {
    display: none;
  }

  .hero-img.skew-container {
    perspective: 45vw;
    transform: rotateX(-21deg)rotateY(0)rotateZ(0)rotateX(-21deg)rotateY(2deg)rotateZ(45deg);
  }

  .hero-img.wrapper {
    transform: rotate(0)translate3d(-56px, 0, 111px);
  }

  .gradient-text.ready {
    font-size: 42px;
  }

  .gradient-text.doc-heading {
    font-size: 40px;
  }

  .image-2 {
    width: 120vw;
  }

  .hero-waving-hand {
    mix-blend-mode: normal;
    width: 30%;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .hero-image-wrapper {
    aspect-ratio: 1;
    width: 25vw;
    display: flex;
  }

  .work-tile.compact {
    width: 90vw;
    max-width: none;
  }

  .work-tile.wide-work-tile {
    width: 100%;
    max-width: 90vw;
  }

  .container {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .footer-block {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .body-wrapper {
    max-width: var(--content);
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  .text-org.subscriptions {
    max-width: 40vw;
  }

  .pricing-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-top: 0;
    display: grid;
  }

  .pricing-card {
    width: 45vw;
    padding: 20px;
  }

  .pricing-image {
    height: 75px;
  }

  .pricing-title.gradient-text {
    font-size: 30px;
  }

  .pricing-divider {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .major-exit-text.gradient-text {
    font-size: 60px;
  }

  .image-skew.base {
    transform: translate3d(0, 50px, -50px);
  }

  .image-skew._1 {
    transform: translate(0, 26px);
  }

  .gradient-overlay-wrapper {
    opacity: 1;
    filter: blur(30px);
    mix-blend-mode: lighten;
    transform: translate3d(0, 0, 97px);
  }
}

@media screen and (max-width: 767px) {
  .navbar-no-shadow {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .content.hero {
    flex-flow: column-reverse;
  }

  .content.stats {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .content.spread {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .hero-heading.gradient-text {
    font-size: 55px;
    line-height: 1.4em;
  }

  .hero-img.content-img {
    width: 50vw;
    display: none;
  }

  .hero-img.skew-container {
    perspective: 65vw;
    transform: rotate(0)rotateX(0)rotateY(9deg)rotateZ(55deg);
  }

  .hero-img.wrapper {
    margin-left: auto;
    margin-right: auto;
    transform: translate(8px, 52px);
  }

  .gradient-text.doc-heading {
    font-size: 35px;
  }

  .hero-image-wrapper {
    aspect-ratio: auto;
    width: 100%;
    height: 50%;
    max-height: 30vh;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -25%);
  }

  .statistic-organiser {
    box-shadow: none;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .statistic-organiser.not-first {
    box-shadow: none;
  }

  .work-tile {
    flex-flow: column;
    width: 80vw;
    min-width: auto;
    max-width: none;
  }

  .work-tile.compact {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .work-tile-text {
    height: 100%;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-flow: wrap;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }

  .footer-block {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-copyright-center {
    text-align: center;
  }

  .text-org.subscriptions {
    width: auto;
    max-width: none;
    margin-bottom: 0;
  }

  .btn-flex.orientate-right {
    flex-flow: row-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .pricing-comparison {
    padding: 60px 15px;
  }

  .pricing-wrapper {
    grid-template-columns: 1fr;
    justify-items: stretch;
    margin-top: 40px;
  }

  .pricing-card {
    box-shadow: 0 4px 0 2px var(--black);
    width: auto;
  }

  .pricing-card.featured-pricing {
    box-shadow: 0 0 0 2px var(--cw-0);
  }

  .pricing-title {
    font-size: 34px;
    line-height: 42px;
  }

  .image-skew.base {
    transform: translate3d(0, 0, -50px);
  }

  .image-skew._1 {
    transform: translate(0);
  }

  .gradient-overlay-wrapper {
    mix-blend-mode: lighten;
  }

  .loader-image-backgdrop {
    width: auto;
    min-width: 105vw;
    min-height: 105vh;
    right: -20%;
  }

  .tabs {
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .tabs-content {
    border-left-width: 0;
  }
}

@media screen and (max-width: 479px) {
  .navbar-no-shadow {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .navbar-brand.w--current {
    width: 35px;
    height: 35px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .content.hero {
    margin-top: 10px;
  }

  .content.stats {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content.sliding-work-showcase {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content.spread.compact.reverse-on-mobile {
    flex-flow: column-reverse;
  }

  .content.lets-build {
    height: auto;
  }

  .content.works-and-experiments-label-and-content {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-heading {
    font-size: 29px;
  }

  .hero-heading.gradient-text {
    font-size: 35px;
  }

  .hero-text-cta {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-img.content-img {
    width: 70vw;
  }

  .hero-img.skew-container {
    perspective: 150vw;
    transform: rotateX(2deg)rotateY(4deg)rotateZ(35deg);
  }

  .hero-img.wrapper {
    transform: translate(8px, -7px);
  }

  .hero-h2 {
    font-size: 19px;
  }

  .gradient-text.ready {
    font-size: 31px;
  }

  .hero-image-wrapper {
    transform: translate(0, -10%);
  }

  .statistic-organiser {
    width: 100%;
    padding-left: 20px;
  }

  .statistic-organiser.not-first {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .statistic-organiser.last.not-first {
    width: 100%;
    padding-right: 20px;
  }

  .heading {
    overflow-wrap: break-word;
  }

  .work-tile.compact {
    width: 90vw;
  }

  .work-ile-title {
    font-size: 18px;
  }

  .work-tile-image.compact {
    width: 60vw;
  }

  .work-wrapper-overlay {
    opacity: 0;
    width: 20vw;
  }

  .container {
    max-width: none;
  }

  .footer-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-right: auto;
  }

  .footer-copyright-center {
    text-align: left;
    width: 100%;
  }

  .providers-overlay, .providers-overlay.right {
    width: 20vw;
  }

  .text-org.subscriptions {
    margin-bottom: -33px;
  }

  .btn-flex {
    grid-row-gap: 15px;
    flex-flow: wrap;
  }

  .pricing-wrapper {
    margin-top: 60px;
  }

  .major-exit-text.gradient-text {
    font-size: 30px;
  }

  .words-laft-eitheeen {
    display: none;
  }
}

#w-node-da75addd-2dae-d3f4-b26a-23cfbaca2616-74e8849f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-da75addd-2dae-d3f4-b26a-23cfbaca2620-74e8849f {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e28b2c83-3d20-f0ea-2b37-5ec141346fa7-41346f98, #w-node-e28b2c83-3d20-f0ea-2b37-5ec141346f9e-41346f98, #w-node-_26beecda-c968-eb58-1bc5-790c38ae2b87-41346f98, #w-node-ccc7714e-4111-33db-545c-124e39540595-3954058f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ccc7714e-4111-33db-545c-124e39540597-3954058f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-ccc7714e-4111-33db-545c-124e395405b5-3954058f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-ccc7714e-4111-33db-545c-124e39540595-3954058f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8df47551-d3a1-31bc-10bd-8c3b404d75c3-404d75c2 {
    grid-area: 2 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ccc7714e-4111-33db-545c-124e39540595-3954058f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ccc7714e-4111-33db-545c-124e395405b5-3954058f {
    grid-area: 1 / 1 / 2 / 2;
  }
}


@font-face {
  font-family: 'Bootstrap Icons';
  src: url('../fonts/bootstrap-icons.woff2') format('woff2'), url('../fonts/bootstrap-icons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-800italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-900italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-200italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat - Custom';
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald - Custom';
  src: url('../fonts/oswald-v53-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}