<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/zismo.webp">
  </div>
  <div class="post-components">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/zismo.svg">
    <h3><span>Zismo.io</span><span class="">100 hours+</span></h3>
    <span class="subtitle post badges">P2P Trading platform prototype<br>>100 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View demo&nbsp;<i
        class="chevron-to-arrow -long"></i></a>
    <div class="palette"><i style="background-color:#1f3575" colour="#1f3575"></i><i
        style="background-color:#1634db" colour="#1634db"></i><i style="background-color:#166bdb"
        colour="#166bdb"></i><i style="background-color:#075311" colour="#075311"></i><i
        style="background-color:#00d07b" colour="#00d07b"></i><i style="background-color:#16db30"
        colour="#16db30"></i><i style="background-color:#d8fae5" colour="#d8fae5"></i><i
        style="background-color:#db1641" colour="#db1641"></i><i style="background-color:#fad8df"
        colour="#fad8df"></i><i style="background-color:#edeff6" colour="#edeff6"></i><i
        style="background-color:#d8e9fa" colour="#d8e9fa"></i></div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
      <li>UI</li>
      <li>UX</li>
      <li>databases</li>
      <li>encryption</li>
      <li>geolocation</li>
    </ul>
    <div class="text-block">
      <p>This peer-to-peer trading platform was designed to work similarly to local bitcoins, but with huge
        improvements to the user experience.</p>
      <p>The development of this platform led to the creation of some unique UI elements; like the 'vertical
        cover-flow' element for listing trades.</p>
    </div><a class="btn pri" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>