<div class="study-contents">

  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/vetoken.webp">
  </div>
  <div class="post-components "">
    <h3><span>veToken Finance</span><span class="">8 hours+</span></h3>
    <span class="subtitle post badges">Landing-page<br>>8 hours of development</span>

    <div class="palette">
      <i style="background-color:#d06482" colour="#d06482"></i>
      <i style="background-color:#77cc4b" colour="#77cc4b"></i>
      <i style="background-color:#4c5bc9" colour="#4c5bc9"></i>
      <i style="background-color:#151515" colour="#151515"></i>
      <i style="background-color:#a8adc7" colour="#a8adc7"></i>
      <i style="background-color:#edca2e" colour="#edca2e"></i>
    </div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
      <li>UI</li>
    </ul>
    <div class="text-block">
      <p></p>
    </div>
  </div>
</div>
