<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/btcpayserver.webp">
  </div>
  <div class="post-components "">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/btc.svg">
    <h3><span>BTCPay Server</span><span class="">40 hours+</span></h3>
    <span class="subtitle post badges">Landing-page<br>>40 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://experimental-btcpayserver.flat18.co.uk/"
      target="blank_">View site&nbsp;<i class="chevron-to-arrow -long"></i></a>
    <div class="palette"><i style="background-color:#CEDC21" colour="#CEDC21"></i><i
        style="background-color:#51B13E" colour="#51B13E"></i>
    </div>
    <ul class="flex">
      <li>Custom graphics</li>
      <li>Layout</li>
      <li>UI</li>
    </ul>
    <div class="text-block">
      <p>BTCPay Server website is the result of countless revisions and refinements of an original idea. Feedback and input from the community and public contributors has shaped the final product.</p>
      <p>*Linked site may reflect crowd-sourced/publicly-contributed modifications or changes to the designs and layouts
        made by Flat18.</p>
    </div><a class="btn pri" rel="noreferrer" href="https://btcpayserver.org/"
      target="blank_">View site&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>