<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/p2pnft.webp">
  </div>
  <div class="post-components "">
    <h3><span>P2P NFT</span><span class="">40 hours+</span></h3>
    <span class="subtitle post badges">NFT-trading platform<br>>40 hours of development and design</span>
    
    <div class="palette"><i style="background-color:#fdda00" colour="#fdda00"></i><i
        style="background-color:#e54341" colour="#e54341"></i><i style="background-color:#272727"
        colour="#272727"></i><i style="background-color:#f6f0eb" colour="#f6f0eb"></i>
    </div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
      <li>UI</li>
    </ul>
    <div class="text-block">
      <p></p>
    </div>
  </div>
</div>