
  .valueControlBtn {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    height: 40px;
    width: 40px;
    line-height: 45px;
    color: var(--primary);
    display: block;
    border-radius: 60px;
    margin: auto
  }

  .demoBlockText {
    padding: 0 20px;
    font-size: 12px;
    color: var(--accent)
  }

  .valueControlBtn i:before {
    line-height: 30px
  }

  .payButtonLiveDemoInvoice {
    margin: 40px auto 40px auto;
    display: inline-grid;
    grid-auto-flow: row;
    width: auto;
    border: 2px solid ;
    border-radius: 15px;
    padding-bottom: 15px
  }

  .payButtonLiveDemoInvoiceInner {
    display: flex;
    flex-flow: wrap
  }

  .payButtonLiveDemoInvoiceText {
    margin: 0 auto 0 20px;
    transform: translateY(-10px);
    background: var(--background);
    padding: 0 5px;
    font-size: 14px;
    color: var(--black)
  }

  .GenerateInvoiceButton {
    margin: auto;
    text-transform: none !important;
    padding: 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer;
  }



  .GenerateInvoiceButton .fab {
    font-size: 2rem
  }

  #valueSelector .finalValue_ {
    height: 50px;
    font-size: 25px;
    margin: auto;
    border-width: 0px;
    line-height: 50px;
    text-align: center;
    border: none;
    padding-left: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background: var(--background);
    color: var(--black);
    box-shadow: 0px 0px 0px 2px ;
    border-radius: 10px;
    max-width: 80vw;
  }

  .currency_ {
    list-style: none;
    height: 50px;
    border-width: 0;
    background: var(--bg-accent);
    padding: 0 5px 0 5px;
    font-size: 15px;
    font-family: Faktum-Bold, sans-serif;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    background: var(--background);
    color: var(--black);
    border-radius: 10px;
  }
  .payButtonLiveDemoInvoiceInner > a > i{
    transition: .3s ease;
  }
.payButtonLiveDemoInvoiceInner > a > i:hover{
  transform: translateY(-2px);
}


.spinnerAnimated circle {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  stroke-dasharray: 600;
  transform: rotate(360deg);
  animation: dash 2s ease forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

@keyframes dash {
  0% {
    transform: rotate(0);
    stroke-dashoffset: 600
  }
  100% {
    transform: rotate(360deg);
    stroke-dashoffset: 0
  }
}

@keyframes dashL2 {
  to {
    transform: rotate(360deg)
  }
}

.spinnerAnimated {
  grid-row: 2/5;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: dashL2 1s linear forwards infinite
}