
    <div class="container master">
  <h1>FLAT18.CO.UK Policy on User Privacy</h1>
  <i style="font-size:12px;">Updated: 30.DEC.2019</i>
  <p style="background:#000;color:var(--accent,yellow);padding: 10px;">
  <br>
          This policy applies to ALL services, websites, apps, projects of FLAT EIGHTEEN MICROSYSTEMS DEVELOPMENT LLC, (FLAT 18), including testing, beta and alpha releases unless another data-handling policy exists and explicitly overrides this policy by way of actual declaration.
      <br>
      <br>
          This policy applies to site-visitors worldwide.
      <br><br>
          We do not set cookies or trackers on our main website, flat18.co.uk.
      <br>
      <br>
  </p>
  <p>
  We do not use Cookies to enhance your experience on our main site, flat18.co.uk. On Flat18 projects, hosted, staged or otherwise executed codebases, we may set cookies for the purpose of account and session management. In such a case, you will be informed of the cookie requirements. 
      <br>Flat18 does not knowingly utilise any third-party metrics service in any project on our servers.
      We rely on our own in-house metrics and analysis platform that ensures anonymity by excluding third-party plugins or services. The data derived from our service, which may comprise browser technology, accessing IP addresses and referral URLs, is not used to identify an individual user. Whenever any personal (identifiable) data is stored on our servers we will take every reasonable precaution to prevent breaches of security or leaking of said data. It is not and will never be our policy to disclose to any third party, the total or any part of the organised data collected on individuals which is either anonymous or identifiable; the only exception being formal, documented requests by police or law officials.
  </p>
  <p>
  Flat18 may, at times, prepare for public consumption, data relating to the overall scope of information collected from site visitors e.g. volume of visitors from a specific country. Every reasonable care will be taken to maintain the anonymity of our users. 
  </p>
  <p>
      Data collected about users is limited to network location and browser technologies. For customers, your names and contact data (including physical addresses) are stored indefinitely, even if you cease to be a customer. We will comply with any request by a verified individual to delete, modify or produce such stored data.
  </p>

  <p>
      We have cased the practice of profiling on the basis of gender, age and educational-background.
  </p>

  <p>
      Our fiat-currency payment processing providers may have different data protection policies which are out of our control. We use Stripe and Paypal for processing fiat-currencies and their own policies will apply whenever you visit their domains.
  </p>

  </div>

