<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/incognetio.webp">
  </div>
  <div class="post-components">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/incognet.svg">
    <h3><span>Incognet</span><span class="">10 hours+</span></h3>
    <span class="subtitle post badges">Website redesign proposal<br>>10 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
    <div class="palette"><i style="background-color:#ca3e47" colour="#ca3e47"></i><i
        style="background-color:#164eab" colour="#164eab"></i><i style="background-color:#fcdab7"
        colour="#fcdab7"></i><i style="background-color:#000" colour="#000"></i><i
        style="background-color:#18181a" colour="#18181a"></i><i style="background-color:#302c2f"
        colour="#302c2f"></i><i style="background-color:#eee" colour="#eee"></i></div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
      <li>JavaScript-avoidance</li>
      <li>UI</li>
      <li>backend whois middleware</li>
    </ul>
    <div class="text-block">
      <p>One main objective in this re-design proposal, is the de-cluttering of the site's existing content.</p>
      <p>However, it was also important that the site felt like the design choices were 'considered' and
        deliberately understated.</p>
      <p>Copious padding and judicious use of graphics hidden in menu dropdowns, make the UI feel stylish and
        characterful without compromising the minimalistic, clean look.</p>
    </div><a class="btn pri" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>