<div class="showcase-tile">
  <div class="study-contents">
    
    <div class="banner-parent">
      <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/nairaex.webp">
    </div>
    <div class="post-components">
      <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/nairaex.svg">
      <h3><span>NairaEx</span><span class="">~ 15 hours</span></h3>
      <span class="subtitle post badges">Landing-page for debit-card<br>Approx. 15 hours of development</span>
      <a class="btn" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
        target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
      <div class="palette"><i style="background-color:#02d602" colour="#02d602"></i><i
          style="background-color:#0d9900" colour="#0d9900"></i><i style="background-color:#1ba672"
          colour="#1ba672"></i><i style="background-color:#09815c" colour="#09815c"></i><i
          style="background-color:#444" colour="#444"></i><i style="background-color:#d1d9e6"
          colour="#d1d9e6"></i><i style="background-color:#8792a1" colour="#8792a1"></i><i
          style="background-color:#cbdbec" colour="#cbdbec"></i></div>
      <ul class="flex">
        <li>custom graphics</li>
        <li>Layout</li>
        <li>keyframe animation loop</li>
      </ul>
      <div class="text-block">
        <p>NairaEx is a Nigerian company providing bitcoin services to the African and Canadian markets. </p>
        <p>This landing page was for a crypto debit-card, to be used in Canada. </p>
        <p>The design features colours associated with the Nigerian flag, and offers light-weight, pure-CSS
          animation for the debit-card graphic.</p>
      </div><a class="btn pri" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
        target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
    </div>
  </div>
</div>