$large: 1400px;
$content: 1200px;
$medium: 960px;
$small: 756px;
$x-small: 500px;

$title: 'Stanley','Merriweather',"Austin News Text Web Roman Regular", serif;
$sans-serif: "Montserrat", Arial, Helvetica, sans-serif;
