 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 200;
   src: url(/src/fonts/montserrat/montserrat-v25-latin-200.eot);
   src: local(''), url('/src/fonts/montserrat/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'), url(/src/fonts/montserrat/montserrat-v25-latin-200.woff2) format('woff2'), url(/src/fonts/montserrat/montserrat-v25-latin-200.woff) format('woff'), url(/src/fonts/montserrat/montserrat-v25-latin-200.ttf) format('truetype'), url('/src/fonts/montserrat/montserrat-v25-latin-200.svg#Montserrat') format('svg');
   font-display: swap;
 }

 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url(/src/fonts/montserrat/montserrat-v25-latin-regular.eot);
   src: local(''), url('/src/fonts/montserrat/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), url(/src/fonts/montserrat/montserrat-v25-latin-regular.woff2) format('woff2'), url(/src/fonts/montserrat/montserrat-v25-latin-regular.woff) format('woff'), url(/src/fonts/montserrat/montserrat-v25-latin-regular.ttf) format('truetype'), url('/src/fonts/montserrat/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
   font-display: swap;
 }

 @font-face {font-family: "Austin News Text Web Roman Regular";
  src: url("/src/fonts/austin/4119f2f793f60df049502711f3076133.eot"); /* IE9*/
  src: url("/src/fonts/austin/4119f2f793f60df049502711f3076133.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/src/fonts/austin/4119f2f793f60df049502711f3076133.woff2") format("woff2"), /* chrome、firefox */
  url("/src/fonts/austin/4119f2f793f60df049502711f3076133.woff") format("woff"), /* chrome、firefox */
  url("/src/fonts/austin/4119f2f793f60df049502711f3076133.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/src/fonts/austin/4119f2f793f60df049502711f3076133.svg#Austin News Text Web Roman Regular") format("svg"); /* iOS 4.1- */
}

/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('/src/fonts/merriweather/merriweather-v30-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/src/fonts/merriweather/merriweather-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/src/fonts/merriweather/merriweather-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/src/fonts/merriweather/merriweather-v30-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/src/fonts/merriweather/merriweather-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/src/fonts/merriweather/merriweather-v30-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}



@font-face {
  font-family: 'icomoon';
  src:  url('/src/fonts/icomoon/icomoon.eot?v6ht9q');
  src:  url('/src/fonts/icomoon/icomoon.eot?v6ht9q#iefix') format('embedded-opentype'),
    url('/src/fonts/icomoon/icomoon.ttf?v6ht9q') format('truetype'),
    url('/src/fonts/icomoon/icomoon.woff?v6ht9q') format('woff'),
    url('/src/fonts/icomoon/icomoon.svg?v6ht9q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new-message:before {
  content: "\e910";
}
.icon-send1:before {
  content: "\e910";
}
.icon-cheveron-right:before {
  content: "\e90d";
}
.icon-cheveron-down:before {
  content: "\e90e";
}
.icon-send:before {
  content: "\e900";
}
.icon-arrow-right2:before {
  content: "\e901";
}
.icon-arrow-down2:before {
  content: "\e902";
}
.icon-tags:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e90c";
}
.icon-sun:before {
  content: "\e909";
}
.icon-external-link:before {
  content: "\e90a";
}
.icon-circle:before {
  content: "\e90f";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-bitcoin:before {
  content: "\e903";
}
.icon-btc:before {
  content: "\e903";
}
.icon-cc-mastercard:before {
  content: "\e904";
}
.icon-cc-visa:before {
  content: "\e905";
}
.icon-bitcoin1:before {
  content: "\e906";
  color: #f7931a;
}
.icon-googlepay:before {
  content: "\e907";
  color: #5f6368;
}
.icon-applepay:before {
  content: "\e908";
}


 .other-shots {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   overflow-y: visible;
   overflow-x: scroll;
   box-shadow: 0 0 0 2px;
   max-width: calc(500px - 2rem)
 }

 .other-shots img {
   max-height: 100px;
   max-width: 100px;
   cursor: pointer;
   margin-right: 2px;
   padding: .75rem;
   margin: auto
 }

 .on-show {
   height: 500px;
   max-height: 100vw;
   display: grid
 }

 .on-show img {
   max-width: calc(500px - 2rem);
   width: calc(50vw - 2rem);
   padding: .75rem;
   margin: auto;
   animation: growIn .4s ease forwards 1
 }

 .album {
   display: grid;
   grid-template: 1fr auto/1fr;
   box-shadow: 0 0 0 2px;
   margin: auto
 }

 @media (max-width:800px) {
   .on-show img {
     max-width: calc(100vw - 4rem);
     width: calc(100vw - 4rem)
   }

   .other-shots {
     max-width: calc(100vw - 4rem)
   }
 }
