.immersive {
  // scroll-snap-align: top;
  overflow: unset !important;
  // contain: content;
  // margin-top: 0;
}
.immersive-content {
  min-height: 500px;
  width: 100vw;
  max-width: 100%;
  // margin: auto;
  @media (max-width: $large) {
    max-width: $content;
    width: 100vw;
  }
  @media (max-width: $small) {
    min-height: 250px;
  }
  .immersive-section {
    opacity: 0;
    transform: translateY(0px);
    transition: 0.2s linear;
    &.entered {
      opacity: 1;
      transform: translateY(0px);
    }
    &.exited {
      opacity: 0 !important;
      transform: translateY(-50px) !important;
    }
    &.zoom-in-out {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .immersive-section-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // margin: 3rem auto;
        gap: 3rem;
        h2 {
          line-height: 1;
          font-size: 4rem;
          text-align: center;
          @media (max-width: $medium) {
            font-size: 3.5rem;
          }
          @media (max-width: $small) {
            font-size: 3rem;
          }
        }
        p {
          // font-size: 2rem;
          // @media (max-width: $medium) {
          //   font-size: 1.8rem;
          // }
          // @media (max-width: $small) {
          //   font-size: 1.4rem;
          // }
          // @media (max-width: $x-small) {
          font-size: 1.2rem;
          // }
        }
      }
    }
  }
}
.light {
  .laptop {
    &::after {
      background-image: url(/src/img/laptop-bg-light.svg);
    }
    .immersive-section-content {
      .display {
        &::before {
        --display-ui:url(/src/img/light-ui.svg);
          // background-image: url(/src/img/light-ui.svg);
        }
      }
    }
  }
}
.laptop {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url(/src/img/laptop-bg-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    z-index: -1;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: $content;
  }
  .immersive-section-content {
    perspective: 1200px;
    .display {
        display: grid;
      aspect-ratio: 8/ 5;
      transform: rotate3d(1, 0, 0, -45deg);
      transform-origin: bottom;
      position: relative;
      transition: .1s linear;
      &::before {
        --display-ui:url(/src/img/dark-ui.svg);
        content: "";
        position: absolute;
        background-color: var(--dark);
        height: 100%;
        width: 100%;
        z-index: -1;
        box-shadow: inset 0px -1px 0px 18px var(--persistent-black);
        border-radius: 30px 30px 0 0;
        background-image: linear-gradient(to top,var(--persistent-black) -100%,transparent 400% 300%),var(--display-ui);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        // transition: .2s ease;
        @media (max-width: $small) {
          box-shadow: inset 0px 2px 0px 9px var(--persistent-black);
          border-radius: 18px 18px 0 0;
        }
      }
      @for $i from 1 through 100 {
        &.at-position-#{$i} {
          &::after {
            box-shadow: 3px -3px 0px -1px var(--white), -3px -3px 0px -1px var(--white),
              0 -#{24 - $i/10}px .1px -12px var(--white),
              0 -#{20 - $i/10}px .1px -7px var(--white), 
              0 -#{10 - $i/10}px .1px -1px var(--white);
          }
          &::before{
            background-image: linear-gradient(to top,var(--persistent-black) -200%,transparent #{400% - (4.0% * $i)} 300%),var(--display-ui);
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        background: var(--theme-dark);
        height: 100%;
        width: 100%;
        z-index: -2;
        box-shadow: 3px -3px 0px -1px var(--white),
        -3px -3px 0px -1px var(--white),
        0 -38px .1px -19px var(--white),
        0 -25px 0.1px -10px var(--white),
        0 -13px 0.1px -2px var(--white);
        border-radius: 30px 30px 0 0;
        // transition: .2s ease;
        @media (max-width: $small) {
          border-radius: 18px 18px 0 0;
        }
      }
      h2 {
        font-size: 3rem;
        margin: auto;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 100;
        &.typewriter-magic {
          padding: 0 6rem;
          width: 80vw;
          max-width: 800px;
          @media (max-width: $medium) {
            padding: 0 4rem;
            font-size: 2.5rem;
          }
          @media (max-width: $small) {
            padding: 0 3.5rem;
            font-size: 2rem;
          }
          @media (max-width: $x-small) {
            padding: 0 3rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    .laptop-body {
      position: relative;
      height: 35px;
      width: 120%;
      display: block;
      background: linear-gradient(var(--white) 70%, var(--persistent-black) 130%);
      position: absolute;
      bottom: 0;
      z-index: 1;
      border-radius: 5px 5px 20px 20px;
      @media (max-width: $medium) {
        height: 30px;
        border-radius: 4px 4px 15px 15px;
      }
      @media (max-width: $small) {
        height: 25px;
        border-radius: 3px 3px 8px 8px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 20%;
        height: 30%;
        background: linear-gradient(to bottom, var(--persistent-black) -400%, transparent 200%);
        border-radius: 0 0 20px 20px;
        margin: auto;
        right: 0;
        left: 0;
        box-shadow: 0 1px 2px -2px var(--persistent-white);
      }
    }
  }
}
.inspired-16 {
  min-height: 500px;
  height: 90vh;
  position: relative;
  --l1-rotate: 0deg;
  --l2-rotate: 0deg;
  contain: content;
  border-radius: 30px;
  max-width: 90vw;
  margin: auto;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-width: 100vh;
    min-height: 100vw;
    top: 50%;
    left: 50%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s linear;
  }
  &::before {
    background-image: url(/src/img/emoji-l1.svg);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(var(--l1-rotate));
    @keyframes rotate-l1 {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
  &::after {
    background-image: url(/src/img/emoji-l2.svg);
    z-index: -2;
    transform: translate(-50%, -50%) rotate(var(--l2-rotate));
  }
  .heading {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin: auto;
    border-radius: 50px;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 1rem;
    position: relative;
    contain: content;
    max-width: 80vw;
    padding: 3rem 0;
    &::after {
      content: "";
      background: var(--black);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: -1;
    }
    h2,
    p {
      padding: 0 3rem;
      margin: 0;
      @media (max-width: $small) {
        padding: 0 2rem;
      }
    }
  }
}
.weird {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.entered {
  .immersive-section-content {
    .soldering {
      svg {
        .rect{
          fill:var(--yellow);
        }
        top: calc(100% / -6);
        left: calc(100% / -6);
        @media (max-width: $small) {
          top: calc(100% / -6);
          left: 0;
          transform: scale(0.8);
        }
      border-radius: 3000px;
      opacity: 1;
        transform: scale(1);
      }
    }
  }
}
.light {
  .entered {
    .immersive-section-content {
      .soldering {
        svg {
          .rect{
            fill:var(--accent);
          }
          opacity: 1;
        }
      }
    }
  }
}
.flex-image-left {
  .soldering {
    border-radius: 3px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/src/img/solder.webp);
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   z-index: -1;
    //   background-color: var(--white);
    //   border-radius: 3px;
    //   opacity: 0.5;
    // }
    svg {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
      transition: 1s ease;
      transition-delay: 0.5s;
      transform: scale(0.875);
      opacity: 0;
      height: 100%;
      width: 100%;
      border-radius: 3px;
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-image: url(/src/img/geometric.svg);
      z-index: -2;
    }
  }
  .content-image {
    height: calc(50vw - 3rem);
    display: block;
    top: 0;
    left: 0;
    aspect-ratio: 1/1;
    margin: 2px;
    // box-shadow: 0 0 5px -3px;
    max-height: calc((#{$content} / 2) - 3rem);
    @media (max-width: $medium) {
      max-height: 400px;
    }
    @media (max-width: $small) {
      height: 90vw;
    }
  }
  .text {
    width: calc(50vw - 3rem);
    max-width: calc((#{$content} / 2) - 3rem);
    text-align: left;
    @media (max-width: $small) {
      width: 90vw;
      max-width: unset;
      text-align: center;
    }
    h2,
    p,
    .btn {
      margin: 1.5rem auto;
    }
    h2,
    p {
      text-align: left !important;
      @media (max-width: $small) {
        text-align: center !important;
      }
    }
  }
}


blank{
  background: url(../../img/projects/btcpayserver.webp);
  background: url(../../img/projects/incognetio.webp);
  background: url(../../img/projects/keevo.webp);
  background: url(../../img/projects/nairaex.webp);
  background: url(../../img/projects/oldflat18.webp);
  background: url(../../img/projects/p2pnft.webp);
  background: url(../../img/projects/showcaselogos.webp);
  background: url(../../img/projects/vetoken.webp);
  background: url(../../img/projects/vswee.webp);
  background: url(../../img/projects/walletscrutiny.webp);
  background: url(../../img/projects/zismo.webp);

  background: url(../../img/solder.png);
  background: url(../../img/fellas.png);
  background: url(../../img/fella.webp);
}