<div class="study-contents">

  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/gace.webp">
  </div>
  <div class="post-components "">
    <img class=" icon" loading="lazy" alt="website image" src="/src/img/projects/icons/gace.svg">
    <h3><span>Sample Website Launched Ultra-fast</span><span class="">4 hours+</span></h3>
    <span class="subtitle post badges">Concept pure HTML website built in a matter hours.</span>
    <a class="btn" rel="noreferrer" href="https://global-alliance-for-cryptocurrency-education.pages.dev/" target="blank_">View demo&nbsp;<i
        class="chevron-to-arrow -long"></i></a>
    <div class="palette">
      <i style="background-color:#292929" colour="#292929"></i>
      <i style="background-color:#4d4d4d" colour="#4d4d4d"></i>
      <i style="background-color:#db0f38" colour="#db0f38"></i>
      <i style="background-color:#f7931a" colour="#f7931a"></i>
      <i style="background-color:#f7cb1a" colour="#f7cb1a"></i>
      <i style="background-color:#0c9893" colour="#0c9893"></i>
      <i style="background-color:#04c87e" colour="#04c87e"></i>
      <i style="background-color:#2c9433" colour="#2c9433"></i>
      <i style="background-color:#195e9f" colour="#195e9f"></i>
      <i style="background-color:#323fbb" colour="#323fbb"></i>
    </div>
    <ul class="flex">
      <li>Layout</li>
      <li>UI</li>
      <li>Logo Design</li>
    </ul>
    <div class="text-block">
      <p></p>
    </div><a class="btn pri" rel="noreferrer" href="https://global-alliance-for-cryptocurrency-education.pages.dev/" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>
