<div class="footer">

  <div class="item">
    <h2>Shortcuts</h2>

    <ul>
      <li>
        <a title="Service status" class="status good" href="https://stats.uptimerobot.com/RKBX3irMJl">Service
          status</a>
      </li>
      <li>
        <a title="Service Pricing information" href="/pricing">Pricing</a>
      </li>
      <li>
        <a title="Learn about Flat18" href="/about">About Us</a>
      </li>
      <li>
        <a title="Read our terms of service" href="/terms">Terms</a>
      </li>
      <li>
        <a title="Read our umbrella privacy policy" href="/privacy">Privacy</a>
      </li>
      <li>
        <a href="/donate" title="Make a donation to Flat18" class="breakingLinks">Donate
          to Flat 18</a>
      </li>
      <li>
        <a href="/free" title="Learn about our free service pledge" class="breakingLinks">Free Services</a>
      </li>
      <li>
        <a href="/illustrations" title="A simple, experimental showcase" class="breakingLinks">Illustrations</a>
      </li>
    </ul>
  </div>
  <div class="item">
    <h2>Contact</h2>

    <ul>
      <li><a href="mailto:eighteen@flat18.co.uk?subject=General enquiry">eighteen@flat18.co.uk</a></li>
      <li><a href="mailto:finance@flat18.co.uk?subject=Finance enquiry">finance@flat18.co.uk</a></li>
      <li><a href="tel:+447480569779">(44) 7480 569779</a></li>
      <li><a href="tel:+44120212552">(44) 1202 125522</a></li>
    </ul>
  </div>
  <div class="item">
    <h2>Socials</h2>

    <ul>
      <li>
        <a title="Flat18 Twitter Account" target="_blank" rel="noreferrer"
          href="https://www.twitter.com/f18micro">Twitter</a>
      </li>
      <li>
        <a title="Contact Flat18 on Telegram" target="_blank" rel="noreferrer"
          href="https://t.me/flat18_bot">Telegram</a>
      </li>
    </ul>
  </div>
  <div class="item wide">

    <p><a class="logo" title="Flat 18" href="/"></a> © 2012-2022 FLAT 18
    </p>
    <p>This website only uses cookies for our private, self-hosted live chat.</p>
  </div>

</div>

<script>
  let theme = localStorage ? (localStorage.getItem('theme') === 'dark' ? 'auto' : 'light') : 'auto'
  let size = window.outerWidth >= 756 ? "expanded_bubble" : "standard"
  window.chatwootSettings = {
    position: "right", type: size, launcherTitle: "Get in touch 👋",
    darkMode: theme,
  };
  (function (d, t) {
    var BASE_URL = "https://chatwoot.flat18.co.uk";
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = BASE_URL + "/packs/js/sdk.js";
    g.defer = true;
    g.async = true;
    s.parentNode.insertBefore(g, s);
    g.onload = function () {
      window.chatwootSDK.run({
        websiteToken: '9Jjcn8mZRMgPJHrje66mZaCB',
        baseUrl: BASE_URL
      })
    }
  })(document, "script");


  function makeid(length) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() *
        charactersLength));
    }
    return result;
  }
  window.addEventListener("chatwoot:ready", function () {
    // Use window.$chatwoot here
    // ...
    let random = Date.now() + makeid(8)
    window.$chatwoot.setUser(random, {
      //email: "<email-address-of-the-user@your-domain.com>",
      //name: "<name-of-the-user>",
      avatar_url: "/src/img/avi.svg",
      //phone_number: "<phone-number-of-the-user>",
    });
  });  
</script>

<!-- Twitter conversion tracking base code -->
<script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  twq('config','ockjn');
  </script>
  <!-- End Twitter conversion tracking base code -->

<script src="/src/js/file.js"></script>
