<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="canonical" href="$canonical">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML Meta Tags -->
  <title>$title$name</title>
  <meta name="description" content="Websites, Apps, Crypto. Let's chat about your next big idea.">
  <meta name="keywords"
    content="web development trinidad, web developer trinidad, web developer united kingdom, web developer ireland, web development company, crypto system developers, build a website, build an app, build a crypto service,web development, design, development, website, server, hosting, domains, email, mobile apps, corporate apps, HTML,CSS,XML,JavaScript, btcpay, design, logos, webdesign, illustrations, graphic design, small business, servers, fullstack, ubuntu, troubleshootings, bitcoin, btcpayserver, cryptocurrencies, crypto, nativescript, apps, payment processor, payment processing, accept bitcoin online, build a website, crypto enthusiast, fintech, defi, remote, united kingdom, ireland, britain, british, rebel, money, affordable, open source, opensource, github, git, network, frontend developer, backend developer, web3, php, metamask, wallet connect, ethereum">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="$site">
  <meta property="og:type" content="website">
  <meta property="og:title" content="$title$name">
  <meta property="og:description" content="Websites, Apps, Crypto. Let's chat about your next big idea.">
  <meta property="og:image" content="$site/src/img/favicon.svg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="flat18.co.uk">
  <meta property="twitter:url" content="$site">
  <meta name="twitter:title" content="$title$name">
  <meta name="twitter:description" content="Websites, Apps, Crypto. Let's chat about your next big idea.">
  <meta name="twitter:image" content="$site/src/img/favicon.svg">

  <link rel="shortcut icon" type="image/png" href="/src/img/favicon.svg" />

  <link rel="preconnect" href="https://chatwoot.flat18.co.uk" />
  <link rel="preconnect" href="https://api.flat18.co.uk" />

  <link rel="stylesheet" href="/src/css/file.css">
  <link rel="preload" href="/src/js/file.js" as="script">
  <link rel="prefetch" href="/src/js/file.js">

  <script>
    fetch('https://api.flat18.co.uk/metrics/webm/index.php')
      .then(response => response.json())
      .then(data => {
        window.webM = data.webM
      });
  </script>
</head>