<div class="nav">
  <a class="logo" title="$name" href="/"></a>
  <div></div>
  <div class="menu">
    <a href="/pricing" aria-label="See our simplified pricing options"><span>pricing</span><i class="ico icon-tags mobile"></i></a>
    <a href="/#contact" aria-label="Send us a message online"><span>contact</span><i class="ico icon-send1 mobile"></i></a>
    <div class="nav-link lightDark"><i class="ico"></i></div>
  </div>
</div>