<div class="nav">
  <a class="logo" title="$name" href="/"></a>
  <div></div>
  <div class="menu">
    <a href="/pricing"><span>pricing</span><i class="ico icon-pricetags mobile"></i></a>
    <a href="/#contact"><span>contact</span><i class="ico icon-send1 mobile"></i></a>
    <a class="lightDark"><i class="ico"></i></a>
  </div>
</div>