<div class="nav">
  <a class="logo" title="$name" href="/"></a>
  <div></div>
  <div class="menu">
    <a href="/#pricing">pricing</a>
    <a href="/#contact">contact</a>
    <a class="lightDark"><i class="ico"></i></a>
  </div>
</div>