:root {
  --primary-2: #0044cc;
--primary: #0062ff;
--accent: #00bbbb;
--bg-accent: #c5e7e7;
--light-accent: #0ad1d1;
  --permanent-white: #efeffc;
  --white: #efeffc;
  --black: #4a5361;
  --black2: #697280;
  --light: var(--shadow-5);
  --medium-grey: #687386;
  --grey: #8792a1;
  --light-grey: #d1d9e6;
  --dark-grey: rgb(52, 55, 66);
  --indigo: #586ada;
  --bg-indigo: #d5daf6;
  --light-indigo: #678ef1;
  --cerulean: #ceedfd;
  --bg-cerulean: #067ab8;
  --light-cerulean: #3a97d4;
  --moss: #09815c;
  --bg-moss: #cffcee;
  --light-moss: #1ba672;
  --lime: #0d9900;
  --bg-lime: #cffcdc;
  --light-lime: #02d602;
  --yellow: #cf9800;
  --bg-yellow: #ece6d4;
  --light-yellow: #d8af3b;
  --amber: #bb5506;
  --bg-amber: #fde2ce;
  --light-amber: #d97919;
  --red: #c44c35;
  --bg-red: #f4dcd7;
  --light-red: #e56f49;
  --crimson: #cd3d64;
  --bg-crimson: #f5d6de;
  --light-crimson: #ed5f74;
  --purple: #a44fb5;
  --bg-purple: #ecdbf0;
  --light-purple: #c66bce;
  --violet: #825fc3;
  --bg-violet: #e2daf1;
  --light-violet: #9c82db;
  --shadow-5: rgba(0, 25, 66, 0.05);
  --shadow-10: rgba(0, 25, 66, 0.1);
  --shadow-20: rgba(0, 25, 66, 0.2);
  --shadow-30: rgba(0, 25, 66, 0.5);
  --gauze-20: rgba(255, 255, 255, 0.2);
  --gauze-30: rgba(255, 255, 255, 0.3);
  --gauze-50: rgba(255, 255, 255, 0.5);
  --gauze-80: rgba(255, 255, 255, 0.8);

  --dark-only: block;
  --dark-only-grid: grid;
  --light-only-grid: none;
  --light-only: none;
  --light-shadow: rgba(16, 19, 54, 0.3);
  --dark-shadow: #000;
  --d-accent-text: var(--light-grey);
  --l-accent-text: var(--medium-grey);
  --l-black: var(--white);
  --l-black2: var(--grey);
  --l-white: var(--black);
  --accent-text: var(--d-accent-text);
  --background: #0d1727;
  --l-background: #f1f5fc;
  --gauze-1: #161926;
  --l-gauze-1: #e0f2e9;
}

.body-theme-override-light {
  --shadow-10: var(--light-shadow);
  --light-only: block;
  --light-only-grid: grid;
  --dark-only-grid: none;
  --dark-only: none;
  --accent-text: var(--l-accent-text);
  --background: var(--l-background);
  --gauze-1: var(--l-gauze-1)
}

@media (prefers-color-scheme:dark) {
  .body-theme-override-dark {
    /* --shadow-10: var(--dark-shadow); */
    --dark-only: block;
    --dark-only-grid: grid;
    --light-only-grid: none;
    --light-only: none;
  --white: var(--l-white);
  --black: var(--l-black);
  --black2: var(--l-black2);
  --light: var(--gauze-20);
}
  .body-theme-override-light {
    /* --white: var(--l-white);
    --black: var(--l-black); */
    /* --shadow-10: var(--light-shadow); */
    --light-only: block;
    --light-only-grid: grid;
    --dark-only-grid: none;
    --dark-only: none;
    --accent-text: var(--l-accent-text);
    --background: var(--l-background);
    --gauze-1: var(--l-gauze-1)
  }
}

.body-theme-override-dark {
  /* --shadow-10: var(--dark-shadow); */
  --dark-only: block;
  --dark-only-grid: grid;
  --light-only-grid: none;
  --light-only: none;
  --light: var(--gauze-20);

}

.dark-only {
  display: var(--dark-only)
}

.light-only {
  display: var(--light-only)
}

.menu-option.light-only {
  display: var(--light-only-grid)
}

.menu-option.dark-only {
  display: var(--dark-only-grid)
}

body{
 padding: 0;
 margin: 0;
 font-family: "Montserrat", sans-serif;
 background-color: var(--background);
 color: var(--black);
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .heading, .title{
  font-family: "DM Serif Display", serif;
}

#menuHolder {
  display: grid;
  grid-template: 1fr / auto 1fr auto;
  padding: 10px;
  background: var(--background);
  position: relative;
  z-index: 2;
}

.logo-wrapper{
  text-decoration: none; 
  color: var(--primary);
  display: grid;
  grid-template: 1fr / auto auto;
  column-gap: .5rem;
  font-family: "DM Serif Display", serif;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}
.menu-logo {
  height: 40px;
}

#MenuShortcuts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menuDropDown {
  list-style: none;
  padding: 0;
  display: flex;
}

.a {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--black2);
  transition: .2s ease;
  cursor: pointer;
  user-select: none;
}

.a:not(.notifyDot_):hover {
  box-shadow: 0 2px 0 0;
  color: var(--accent);
}

a{
  color: var(--accent);
  cursor: pointer;
  user-select: none;
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 0 0 2px var(--accent), 8px 8px 0 0 var(--light-grey), inset 8px 8px 0 0 var(--bg-accent);
  font-weight: 500;
  cursor: pointer;
  color: var(--accent);
  transition: .2s ease;
  margin-right: auto;
  background-color: var(--background);
}

.btn:hover {
  background: var(--bg-accent);
  color: var(--accent);
  box-shadow: 0 0 0 0px var(--accent), 0px 0px 0 0 var(--light-grey), inset 0px 0px 0 0 var(--bg-accent);
}

.btn:active {
  background: var(--accent);
  color: var(--bg-accent);
  box-shadow: 0 0 0 0px var(--accent), 0px 0px 0 0 var(--light-grey), inset 0px 0px 0 0 var(--bg-accent);
}

.mobile-only{
  display:none;
}

.container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  max-width: 1200px;
  margin: auto;
}

.-m2{margin-top: 6rem;}

.tapestry {
  height: 500px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.text-parent {
  padding: 2rem;
  text-align: center;
}
.secondary-text {
  padding: 2rem;
  box-shadow: 0 0 0 2px var(--black2);
  border-radius: 1rem;
  margin: auto;
}

.secondary-text h3{
  margin: 0;
}

h1, .h1 {
  font-size: 4rem;
  line-height: 1;
  margin-top: 0;
  font-weight: 800;
}

.showcase-flex {
  display: flex;
  max-width: 100vw;
  overflow: scroll;
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-grey) var(--background);
}

/* Works on Chrome, Edge, and Safari */
.showcase-flex::-webkit-scrollbar {
  width: 12px;
}

.showcase-flex::-webkit-scrollbar-track {
  background: var(--background);
}

.showcase-flex::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 20px;
  border: 3px solid var(--background);
}


.showcase-item {
  max-width: 80vw;
  min-width: 250px;
  margin: 1rem;
  display: block;
  padding: 1.5rem;
  background: var(--light);
  border-radius: .5rem;
  font-size: .8rem;
  font-weight: 400;
}

.showcase-item img {
  height: auto;
  width: 100%;
  border-radius: .4rem;
  background-color: var(--background);
  margin: auto;
}

.showcase-item h3 {
  margin-top: 0;
  font-weight: 800;
  line-height: 1;
  font-size: 1.25rem;
}

.showcase-item h3 i {
  font-size: 1rem;
  float: right;
}

.articleHolder {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.articleHolder .container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-parent h2{margin-top: 0;}

.displayed-currency{font-size: 5rem;}


.currencyOpts span:not(.focused):hover {
  background: var(--primary);
  color: var(--bg-indigo)
}

.currencyOpts span {
  padding: 10px 20px;
  background: var(--bg-indigo);
  color: var(--primary-2);
  cursor: pointer
}

.currencyOpts span.focused {
  background: var(--accent);
  color: var(--bg-accent);
}

.currencyOpts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.fullContactForm {
  margin: 0 auto 50px auto;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin: 10px;
  min-width: 180px;
}

.fullContactForm input::placeholder, .fullContactForm textarea::placeholder {
opacity: .25;
}
.fullContactForm.mini input, .fullContactForm.mini textarea, .fullContactForm.mini {
  font-size: .8rem;
  padding: 5px;
  max-width: calc(100vw - 6rem);
  width: 300px;
  color: var(--permanent-white);
}

.fullContactForm.mini input, .fullContactForm.mini textarea{
  background: var(--shadow-10);
  box-shadow: none;
}
.mini .form-help-text {
  margin-bottom: 2px;
  font-size: 10px;
  margin-top: 5px;
}

  .fullContactForm input, .fullContactForm textarea {
  font-size: 1rem;
  padding: 1rem;
  background: var(--background);
  font-family: inherit;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 0px 0px 1px;
  border-style: solid;
  border-bottom-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: var(--black);
}

.form-help-text {
  margin-bottom: 5px;
  margin-left: calc(1rem / 2);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  margin-top: 1rem;
}

.errorHelpForm{margin-bottom: 1.5rem !important;}

.-g1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient( 90deg, var(--accent), var(--primary));}

.-g1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--dark-grey);
}

.footer{ 
  color: var(--permanent-white);
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footlocker{
  padding: 2rem;
}
.footlocker ul{
  padding: 0;
  list-style: none;
}

.footlocker ul li, .footlocker ul li a{
  text-decoration: none;
  color: var(--permanent-white);
  padding: 5px 0;
}

.-full-width{
  width: 100%;
}

.locker-head{
  font-size: 2rem;
}

.isValid {
  box-shadow: 0 0 0 2px var(--accent)!important
}

.isInvalid {
  box-shadow: 0 0 0 2px var(--crimson)!important
}

.free-title{
  width: 50%;max-width: 100%;text-align: center;
}

.workingForm {
  display: none
}

@media (max-width:800px){
  .free-title {
    width: 90vw;
    margin: auto;
}
  .container {
    max-width: calc(100vw - 4rem);
}
.text-parent {
  padding: 2rem 0;
}
h1, .h1 {
  font-size: 3rem;
}
  #MenuShortcuts.open #MenuTrigger .fa-bars{display: none;}
  #MenuShortcuts:not(.open) #MenuTrigger .fa-times{display: none;}
  #MenuShortcuts:not(.open) .MenuDropdownHolder{display: none;}
  #MenuShortcuts.open .MenuDropdownHolder {
    display: block;
    position: relative;
    z-index: 1;
}

  #MenuShortcuts.open .MenuDropdownHolder .menuDropDown {
    display: grid;
    grid-auto-flow: row;
    position: absolute;
    right: 0;
    top: 1rem;
    width: calc(150px + 2rem);
    max-width: calc(100vw - 4rem);
    background: var(--background);
    gap: 2rem;
    padding: 2rem;
    box-shadow: -2rem 2rem 2rem var(--shadow-30), inset 0 0 0 1px;
    border-radius: 5px;
    text-align: right;
}

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display:unset !important;
  }
  .container {
    display: grid;
    grid-template: auto auto / 1fr;
   width: 100vw;
    margin: auto;
}
.tapestry {
  max-height: 30vh;
}
.text-parent{grid-row: 1/2;}

.a:not(.notifyDot_):hover , .a:not(.notifyDot_):active {
  box-shadow: 0 0 0 2px;
  color: var(--accent);
  background: var(--bg-accent);
  border-radius: 2px;
}

}