<br>
<br>
<br>

<div class="container master">

  <h2>
    Additional Information
  </h2>
  <p>We want nothing more than to satisfy our customers and send them away happy. Any issues found with work provided
    will be considered if found to have been reasonably
    avoidable or out of the control of our developers.</p>
  <ol>
    <li>Overtime hours, or hours in excess of either a daily limit of 4 hours or a monthly limit of 40 hours, will be
      billed at <span class="currency-bundle"><span class="currency-symbol">£</span><span
          class="currency-value">50</span></span> <small>/ hour</small> <a href="/terms">Terms of Service</a> for more
      information.
    </li>

    <li>Reviews are usually completed within 1-2 days. See our <a href="/terms">Terms of Service</a> for more
      information.
    </li>

    <li>Scheduling is subject to our internal time management. This means that requests may be fulfilled at any time
      within 2 days.</li>
    </ul>
</div>

