<div class="container brands-parent -disabled-build-in-scroll" style="margin: auto;">
  <div class="brands">
      <img src="/src/img/btcpayserver-logo.png" />
      <img src="/src/img/zettahash-logo.png" />
      <img src="/src/img/wallet-scrunity-logo.png" />
      <img src="/src/img/saltwaterlab-logo.png" />

    <!-- END -->

  </div>
</div>