<div class="container flex">
  <div class="text-organiser">
    <h2>You imagine it. We create it.</h2>
    <p>Whatever you're planning to build, let's see how we can help make it a reality.</p>
    <ul class="flex">
      <li>DeFi</li>
      <li>Crypto</li>
      <li>APIs</li>
      <li>Frontend design</li>
      <li>PHP development</li>
      <li>javascript</li>
      <li>HTML</li>
      <li>Server config</li>
      <li>Virtual Machines</li>
      <li>payments processing</li>
      <li>ERC-20</li>
      <li>Bitcoin</li>
      <li>finance</li>
      <li>Design</li>
    </ul>
    <a class="btn primary chat-trigger" href="#contact">Get in touch <i class="ico icon-chat"></i></a>
    <a class="btn" href="#pricing">Check out our pricing <i class="ico icon-arrow-down2"></i></a>
  </div>
  <div class="img cat" src="/src/img/cat-on-computer.webp"></div>
</div>