<div class="container flex" id="contact">
  <div class="img loudspeaker" src="/src/img/loudspeaker.webp"></div>
  <div class="contact-form text-organiser">
    <h2>Get in touch with us</h2>


    <label for="inputFormName" class="form-help-text">Nickname</label>
    <input type="text" class="contact-form-input" placeholder="Jessie Limonzest" data-type="name" />
    <label class="form-help-text" for="inputFormTel">Telephone • Telegram • Signal</label>
    <input type="text" class="contact-form-input" placeholder="+44 7456 554455" data-type="numb" />
    <label class="form-help-text" for="inputFormAdd">Email</label>
    <input type="text" class="contact-form-input" placeholder="jessie@example.com" data-type="email" />
    <label class="form-help-text" for="inputFormMes">Message</label>
    <textarea type="text" class="contact-form-input" placeholder="Here's my next big project..."
      data-type="message"></textarea>

    <div class="workingForm">
      <label class="form-help-text errorHelpForm" for="workingForm"></label>
      <span style="margin: auto;" onclick="infoTransformsToButton(this)" class="btn">Send message <i
          class="ico icon-send"></i></span>
    </div>
  </div>

</div>