<div class="container projects parent" id="projects">
  <div class="heading reading-layout">
    <h2>Creative studies</h2>
    <p>Here are some design & creativity studies produced from demo sites, archived landing-pages and projects that
      never made it past the development phase.</p>
  </div>
  <div class="project-showcase-workspace-container">
    <div class="project-showcase-workspace">
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/nairaex.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/nairaex.svg">
            <h3><span>NairaEx</span><span class=" post">~ 15 hours</span></h3>
            <span class="subtitle post badges">Landing-page for debit-card<br>Approx. 15 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
              target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#02d602" colour="#02d602"></i><i
                style="background-color:#0d9900" colour="#0d9900"></i><i style="background-color:#1ba672"
                colour="#1ba672"></i><i style="background-color:#09815c" colour="#09815c"></i><i
                style="background-color:#444" colour="#444"></i><i style="background-color:#d1d9e6"
                colour="#d1d9e6"></i><i style="background-color:#8792a1" colour="#8792a1"></i><i
                style="background-color:#cbdbec" colour="#cbdbec"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
            </ul>
            <div class="text-block post">
              <p>NairaEx is a Nigerian company providing bitcoin services to the African and Canadian markets. </p>
              <p>This landing page was for a crypto debit-card, to be used in Canada. </p>
              <p>The design features colours associated with the Nigerian flag, and offers light-weight, pure-CSS
                animation for the debit-card graphic.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
              target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/btcpay.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/btc.svg">
            <h3><span>BTCPay Server</span><span class=" post">~ 15 hours</span></h3>
            <span class="subtitle post badges">Landing-page / Experimental homepage<br>Approx. 15 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://experimental-btcpayserver.flat18.co.uk/"
              target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#CEDC21" colour="#CEDC21"></i><i
                style="background-color:#51B13E" colour="#51B13E"></i><i style="background-color:#1E7A44"
                colour="#1E7A44"></i><i style="background-color:#0f3723" colour="#0f3723"></i><i
                style="background-color:var(--white)" colour="var(--white)"></i><i style="background-color:#000"
                colour="#000"></i>
            </div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>UI</li>
            </ul>
            <div class="text-block post">
              <p>Flat18 has played an important part in the development of the BTCPay Server website. </p>
              <p>In its early days, we tried many iterations of the website, using design to strike the right balance of
                seriousness and credibility while remaining inviting and approachable.</p>
              <p>This is one of many rejected samples provided. It features an experimental hero element with an
                embedded .gif element, experimental carousel for displaying the product features, and some whimsical
                graphics and page elements.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://experimental-btcpayserver.flat18.co.uk/"
              target="blank_">View demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/zismo.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/zismo.svg">
            <h3><span>Zismo.io</span><span class=" post">~ 100 hours</span></h3>
            <span class="subtitle post badges">P2P Trading platform prototype<br>Approx. 100 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View demo&nbsp;<i
                class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#1f3575" colour="#1f3575"></i><i
                style="background-color:#1634db" colour="#1634db"></i><i style="background-color:#166bdb"
                colour="#166bdb"></i><i style="background-color:#075311" colour="#075311"></i><i
                style="background-color:#00d07b" colour="#00d07b"></i><i style="background-color:#16db30"
                colour="#16db30"></i><i style="background-color:#d8fae5" colour="#d8fae5"></i><i
                style="background-color:#db1641" colour="#db1641"></i><i style="background-color:#fad8df"
                colour="#fad8df"></i><i style="background-color:#edeff6" colour="#edeff6"></i><i
                style="background-color:#d8e9fa" colour="#d8e9fa"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>UI</li>
              <li>UX</li>
              <li>databases</li>
              <li>encryption</li>
              <li>geolocation</li>
            </ul>
            <div class="text-block post">
              <p>This peer-to-peer trading platform was designed to work similarly to local bitcoins, but with huge
                improvements to the user experience.</p>
              <p>The development of this platform led to the creation of some unique UI elements; like the 'vertical
                cover-flow' element for listing trades.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/showcaselogos.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/iconmstr.svg">
            <h3><span>Logo & Icon Design</span><span class=" post">~ 2 hours</span></h3>
            <span class="subtitle post badges">Icon design<br>Approx. 2 hrs per design</span>

            <div class="palette post"><i style="background-color:rgb(223, 110, 73)" colour="rgb(223, 110, 73)"></i><i
                style="background-color:rgb(226, 73, 134)" colour="rgb(226, 73, 134)"></i><i
                style="background-color:rgb(247, 181, 49)" colour="rgb(247, 181, 49)"></i><i
                style="background-color:rgb(138,201,94)" colour="rgb(138,201,94)"></i><i
                style="background-color:rgb(100,156,248)" colour="rgb(100,156,248)"></i><i
                style="background-color:rgb(117,108,246)" colour="rgb(117,108,246)"></i><i
                style="background-color:#1F223A" colour="#1F223A"></i><i style="background-color:#50577E"
                colour="#50577E"></i><i style="background-color:#A8ADC7" colour="#A8ADC7"></i><i
                style="background-color:#F0F2FF" colour="#F0F2FF"></i></div>
            <ul class="flex post">
              <li>multiple logo iterations</li>
              <li>monoscrome and coloured specimen</li>
              <li>product mockups</li>
            </ul>
            <div class="text-block post">
              <p>Logos are a design introduction for any project, and can set the tone for the UX and interface design
                ass a whole.</p>
              <p>We enjoy designing logos that are vibrant, simple and meaningful to the product it represents.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/vswee.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/vswee.webp">
            <h3><span>vswee</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post badges">Landing-page<br>Approx. 10 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
                class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#ff8336" colour="#ff8336"></i><i
                style="background-color:#fe3b3b" colour="#fe3b3b"></i><i style="background-color:#0c121e"
                colour="#0c121e"></i><i style="background-color:rgb(36, 41, 62)" colour="rgb(36, 41, 62)"></i><i
                style="background-color:#d8dbe3" colour="#d8dbe3"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
            </ul>
            <div class="text-block post">
              <p>Taking inspiration from simple, single-themed landing-pages online, this personal landing-page uses
                narrowly-justified text against oversized, simple graphics to achieve a clean and dramatic page.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
                class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/incognetio.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/incognet.svg">
            <h3><span>Incognet</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post badges">Website redesign proposal<br>Approx. 10 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#ca3e47" colour="#ca3e47"></i><i
                style="background-color:#164eab" colour="#164eab"></i><i style="background-color:#fcdab7"
                colour="#fcdab7"></i><i style="background-color:#000" colour="#000"></i><i
                style="background-color:#18181a" colour="#18181a"></i><i style="background-color:#302c2f"
                colour="#302c2f"></i><i style="background-color:#eee" colour="#eee"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>JavaScript-avoidance</li>
              <li>UI</li>
              <li>backend whois middleware</li>
            </ul>
            <div class="text-block post">
              <p>One main objective in this re-design proposal, is the de-cluttering of the site's existing content.</p>
              <p>However, it was also important that the site felt like the design choices were 'considered' and
                deliberately understated.</p>
              <p>Copious padding and judicious use of graphics hidden in menu dropdowns, make the UI feel stylish and
                characterful without compromising the minimalistic, clean look.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/keevo.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/keevo.png">
            <h3><span>Keevo wallet</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post badges">Landing-page experiment sample<br>Approx. 10 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://hosted.flat18.co.uk/keevo" target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#1DB92C" colour="#1DB92C"></i><i
                style="background-color:#000" colour="#000"></i><i style="background-color:#eee" colour="#eee"></i><i
                style="background-color:var(--white)" colour="var(--white)"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
              <li>slide-show animations</li>
            </ul>
            <div class="text-block post">
              <p>This landing-page experiment conceptualises how an immersive experience might begin.</p>
            </div> <a class="btn pri post" rel="noreferrer" href="https://hosted.flat18.co.uk/keevo"
              target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/oldflat18.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/f18.svg">
            <h3><span>Previous Flat18</span><span class=" post">~ 40 hours</span></h3>
            <span class="subtitle post badges">Older website versions for Flat18<br>Approx. 40 hours of development</span>
            <a class="btn post" rel="noreferrer" href="https://old.flat18.co.uk" target="blank_">View demo&nbsp;<i
                class="chevron-to-arrow -long"></i></a>
            <div class="palette post"><i style="background-color:#0064ff" colour="#0064ff"></i><i
                style="background-color:#0ad2d2" colour="#0ad2d2"></i><i style="background-color:#879de2"
                colour="#879de2"></i><i style="background-color:#04c" colour="#04c"></i><i
                style="background-color:#f0003c" colour="#f0003c"></i><i style="background-color:#00174f"
                colour="#00174f"></i><i style="background-color:#000" colour="#000"></i><i
                style="background-color:var(--white)" colour="var(--white)"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
              <li>form validation</li>
              <li>email handlers</li>
              <li>databases</li>
              <li>analytics</li>
            </ul>
            <div class="text-block post">
              <p>Since 2017, the Flat18 website has been re-designed numerous times. None of these re-designs has ever
                actually been completed.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://old.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>