<div class="hero">

  <div class="cta-organiser">
    <h1 alt="Web Development and Design Plus Loads More" title="Developing a bit of Everything!">Developing a bit of <span class="hilight">Everything</span><br>⚡️⚡️⚡️</h1>
    </h1>
    <p title="We're a Development Team creating beautiful websites and apps for over 10 years.">We're a Development Duo creating beautiful websites and apps for over 10 years.</p>
    <ul class="flex subtle">
      <li>#FullStackDeveloper</li>
      <li>#DesignAndCode</li>
    </ul>
    <a class="btn primary chat-trigger" href="#contact">Chat with us about your project</a>
  </div>
  <img class="hero-img" src="/src/img/hero.webp">
</div>