<div class="hero">
  <div class="image-element pattern">


  </div>
  <div class="cta-organiser">
    <h1 alt="Web Development and Design Plus Loads More" title="Web Development and Design Plus Loads More">Web Development & <span class="_typewriter-magic" data-period="2000" data-type='[ "Design", "Magic ðŸª„", "DeFi ðŸ’¸", "Crypto ðŸ”", "Frontends", "UI/UX ðŸš€", "Node.js âš¡ï¸", "Backends", "APIs ðŸ’»", "Art âœï¸" ]'>Design</span>
    </h1>
    <p>We have 10+ years experience building clever solutions for Small Businesses who care about robust code and beautiful design.</p>
    <ul class="flex subtle">
      <li>#FullStackDeveloper</li>
      <li>#DesignAndCode</li>
    </ul>
    <a class="btn primary chat-trigger" href="#contact">Chat with us about your project  ðŸš€</a>
  </div>
</div>