<div class="hero">
  <div class="image-element">


  </div>
  <div class="cta-organiser">
    <h1 alt="Web Developers obsessed with Design" title="We are Web and Software Developers">Web Development & Design
    </h1>
    <p>We're a small team handling web design, graphic design, software development and crypto-services.</p>
    <ul class="flex subtle">
      <li>#FullStackDeveloper</li>
      <li>#DesignAndCode</li>
    </ul>
    <a class="btn primary chat-trigger" href="#contact"><i class="ico icon-circle"></i> Get in touch with us</a>
  </div>
</div>