<div class="hero">

  <div class="cta-organiser">
    <h1 alt="Web Development and Design Plus Loads More" title="Web Development and Design Plus Loads More"><strike>Web</strike> <b>Everything</b>тЪбя╕П Development
    </h1>
    <p>We have 10+ years experience building clever solutions for Everyone who cares about robust, maintainable code and beautiful design.</p>
    <ul class="flex subtle">
      <li>#FullStackDeveloper</li>
      <li>#DesignAndCode</li>
    </ul>
    <a class="btn primary chat-trigger" href="#contact">Chat with us about your project  ЁЯЪА</a>
  </div>
  <img class="hero-img" src="/src/img/hero.webp">
</div>