<div class="container immersive build-in-scroll">
  <div class="immersive-content">
    <div class="immersive-section zoom-in-out flex-image-left">
      <div class="immersive-section-content">
        <div class="content-image soldering">
          <svg width="100%" height="100%" viewBox="0 0 158 158" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <rect id="Artboard3" x="-0" y="0" width="157.48" height="157.378" style="fill:none;"/>
            <clipPath id="__geometric_cl_1">
                <rect id="Artboard31" serif:id="Artboard3" x="-0" y="0" width="157.48" height="157.378"/>
            </clipPath>
            <g clip-path="url(#__geometric_cl_1)">
                <g transform="matrix(0.500326,0,0,-0.500326,-59.1482,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,-58.8859,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,-78.8461,98.5004)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,-78.8461,-19.8116)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,-78.7149,177.189)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,-78.5838,58.8772)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <path d="M59.016,0L59.016,0.105L58.975,0.103C48.45,0.103 39.846,8.392 39.341,18.792L39.341,19.76C39.341,19.531 39.337,19.303 39.329,19.076C39.322,19.303 39.318,19.531 39.318,19.76L39.318,18.792C38.813,8.392 30.209,0.103 19.684,0.103L19.643,0.105L19.643,0L59.016,0Z" style="fill:var(--yellow);"/>
                <path d="M39.341,59.897C39.846,70.297 48.45,78.586 58.975,78.586L59.016,78.584L59.016,78.689L59.147,78.689L59.147,78.794L59.106,78.792C48.581,78.792 39.977,87.081 39.472,97.48L39.472,98.449C39.472,98.22 39.469,97.992 39.461,97.765C39.453,97.992 39.449,98.22 39.449,98.449L39.449,97.48C38.944,87.081 30.34,78.792 19.815,78.792L19.775,78.794L19.775,78.689L19.643,78.689L19.643,78.584L19.684,78.586C30.209,78.586 38.813,70.297 39.318,59.897L39.318,58.929C39.318,59.157 39.322,59.385 39.329,59.612C39.337,59.385 39.341,59.157 39.341,58.929L39.341,59.897Z" style="fill:var(--yellow);"/>
                <path d="M19.906,157.378L59.278,157.378L59.278,157.273L59.237,157.275C48.713,157.275 40.109,148.985 39.604,138.586L39.604,137.617C39.604,137.846 39.6,138.074 39.592,138.301C39.584,138.074 39.58,137.846 39.58,137.617L39.58,138.586C39.075,148.985 30.471,157.275 19.946,157.275L19.906,157.273L19.906,157.378Z" style="fill:var(--yellow);"/>
                <path d="M19.643,20.678C20.109,30.271 27.467,38.069 36.867,39.22L39.318,39.22L39.318,39.324L39.277,39.322C38.964,39.322 38.652,39.33 38.343,39.344C38.652,39.359 38.964,39.366 39.277,39.366L39.318,39.364L39.318,39.469L36.867,39.469C27.468,40.62 20.11,48.417 19.643,58.011L19.643,58.98C19.643,58.751 19.639,58.523 19.632,58.296C19.624,58.523 19.62,58.751 19.62,58.98L19.62,58.011C19.154,48.418 11.796,40.62 2.397,39.469L-0.055,39.469L-0.055,39.364L-0.014,39.366C0.299,39.366 0.611,39.359 0.921,39.344C0.611,39.33 0.299,39.322 -0.014,39.322L-0.055,39.324L-0.055,39.22L2.397,39.22C11.795,38.069 19.153,30.272 19.62,20.678L19.62,19.709C19.62,19.938 19.624,20.166 19.632,20.393C19.639,20.166 19.643,19.938 19.643,19.709L19.643,20.678Z" style="fill:var(--yellow);"/>
                <path d="M19.775,99.366C20.24,108.96 27.599,116.758 36.998,117.908L39.58,117.908L39.58,118.013L39.54,118.011C39.204,118.011 38.871,118.02 38.54,118.036C38.828,118.049 39.118,118.055 39.408,118.055L39.449,118.053L39.449,118.158L37.129,118.158C27.73,119.309 20.373,127.106 19.906,136.7L19.906,137.669C19.906,137.44 19.902,137.212 19.894,136.985C19.886,137.212 19.882,137.44 19.882,137.669L19.882,136.7C19.416,127.107 12.058,119.309 2.659,118.158L0.077,118.158L0.077,118.053L0.117,118.055C0.452,118.055 0.786,118.047 1.116,118.03C0.828,118.018 0.539,118.011 0.248,118.011L0.208,118.013L0.208,117.908L2.528,117.908C11.927,116.757 19.284,108.961 19.751,99.366L19.751,98.398C19.751,98.627 19.755,98.855 19.763,99.082C19.771,98.855 19.775,98.627 19.775,98.398L19.775,99.366Z" style="fill:var(--yellow);"/>
                <g transform="matrix(-0.500326,0,0,-0.500326,137.807,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,138.069,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,19.5343,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,19.7967,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <path d="M137.689,0L137.689,0.105L137.649,0.103C127.181,0.103 118.614,8.302 118.024,18.622L118.024,19.76C118.024,19.491 118.018,19.223 118.008,18.957C117.997,19.223 117.991,19.491 117.991,19.76L117.991,18.622C117.401,8.302 108.834,0.103 98.366,0.103L98.326,0.105L98.326,0L137.689,0Z" style="fill:var(--yellow);"/>
                <path d="M118.024,60.067C118.614,70.387 127.181,78.586 137.649,78.586L137.689,78.584L137.689,78.689L137.82,78.689L137.82,78.794L137.78,78.792C127.313,78.792 118.745,86.991 118.155,97.31L118.155,98.449C118.155,98.18 118.15,97.912 118.139,97.646C118.128,97.912 118.122,98.18 118.122,98.449L118.122,97.31C117.532,86.991 108.965,78.792 98.497,78.792L98.457,78.794L98.457,78.689L98.326,78.689L98.326,78.584L98.366,78.586C108.834,78.586 117.401,70.387 117.991,60.067L117.991,58.929C117.991,59.198 117.997,59.465 118.008,59.732C118.018,59.465 118.024,59.198 118.024,58.929L118.024,60.067Z" style="fill:var(--yellow);"/>
                <path d="M98.588,157.378L137.952,157.378L137.952,157.273L137.911,157.275C127.444,157.275 118.876,149.076 118.286,138.756L118.286,137.617C118.286,137.886 118.281,138.154 118.27,138.421C118.259,138.154 118.254,137.886 118.254,137.617L118.254,138.756C117.663,149.076 109.096,157.275 98.629,157.275L98.588,157.273L98.588,157.378Z" style="fill:var(--yellow);"/>
                <path d="M98.358,20.847C98.903,30.362 106.228,38.074 115.573,39.22L118.024,39.22L118.024,39.324L117.983,39.322C117.67,39.322 117.358,39.33 117.049,39.344C117.358,39.359 117.67,39.366 117.983,39.366L118.024,39.364L118.024,39.469L115.573,39.469C106.229,40.613 98.903,48.325 98.358,57.841L98.358,58.98C98.358,58.711 98.353,58.443 98.342,58.176C98.331,58.443 98.326,58.711 98.326,58.98L98.326,57.841C97.782,48.326 90.456,40.614 81.112,39.469L78.661,39.469L78.661,39.364L78.701,39.366C79.014,39.366 79.326,39.359 79.636,39.344C79.326,39.33 79.014,39.322 78.701,39.322L78.661,39.324L78.661,39.22L81.112,39.22C90.455,38.075 97.781,30.364 98.326,20.847L98.326,19.709C98.326,19.978 98.331,20.246 98.342,20.512C98.353,20.246 98.358,19.978 98.358,19.709L98.358,20.847Z" style="fill:var(--yellow);"/>
                <path d="M98.49,99.536C99.034,109.051 106.359,116.763 115.704,117.908L118.286,117.908L118.286,118.013L118.246,118.011C117.91,118.011 117.577,118.02 117.247,118.036C117.535,118.049 117.824,118.055 118.115,118.055L118.155,118.053L118.155,118.158L115.835,118.158C106.492,119.302 99.165,127.014 98.621,136.53L98.621,137.669C98.621,137.4 98.615,137.132 98.604,136.865C98.594,137.132 98.588,137.4 98.588,137.669L98.588,136.53C98.044,127.015 90.719,119.303 81.374,118.158L78.792,118.158L78.792,118.053L78.832,118.055C79.167,118.055 79.501,118.047 79.831,118.03C79.543,118.018 79.254,118.011 78.963,118.011L78.923,118.013L78.923,117.908L81.243,117.908C90.586,116.764 97.912,109.052 98.457,99.536L98.457,98.398C98.457,98.667 98.462,98.935 98.473,99.201C98.484,98.935 98.49,98.667 98.49,98.398L98.49,99.536Z" style="fill:var(--yellow);"/>
                <g transform="matrix(-0.500326,0,0,-0.500326,216.481,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,216.743,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,98.4585,-59.0313)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L196.85,117.986L157.48,117.986L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <path d="M-0.031,78.689L-0.031,58.929C-0.031,69.778 8.777,78.586 19.627,78.586L19.667,78.584L19.667,78.689L19.798,78.689L19.798,78.794L19.758,78.792C8.908,78.792 0.1,87.6 0.1,98.449L0.1,78.689L-0.031,78.689Z" style="fill:var(--primary);"/>
                <g transform="matrix(-0.500326,0,0,-0.500326,98.7208,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L196.85,117.986L157.48,117.986L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,98.4585,-59.0313)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,98.4585,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,98.5897,19.6575)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,98.7208,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,-19.8116,-59.0313)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,-19.8116,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,-19.6805,19.6575)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,-19.5493,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <path d="M39.329,19.076C39.69,8.543 48.355,0.103 58.975,0.103L59.016,0.105L59.016,19.76L58.98,19.76C58.952,30.586 50.154,39.366 39.322,39.366L39.3,39.365L39.277,39.366C28.428,39.366 19.62,30.558 19.62,19.709L19.643,19.709L19.643,0.105L19.684,0.103C30.304,0.103 38.969,8.543 39.329,19.076Z" style="fill:var(--primary);"/>
                <path d="M58.98,58.98L19.62,58.98C19.62,48.131 28.428,39.322 39.277,39.322L39.3,39.324L39.322,39.322C50.172,39.322 58.98,48.131 58.98,58.98Z" style="fill:var(--accent-text);"/>
                <path d="M59.242,137.669L19.882,137.669C19.882,126.819 28.69,118.011 39.54,118.011L39.562,118.012L39.585,118.011C50.434,118.011 59.242,126.819 59.242,137.669Z" style="fill:var(--accent-text);"/>
                <path d="M58.98,0.105L58.98,0L78.678,0L78.678,19.76C78.678,8.911 69.87,0.103 59.02,0.103L58.98,0.105ZM98.391,0.105L98.351,0.103C87.501,0.103 78.693,8.911 78.693,19.76L78.693,0L98.391,0L98.391,0.105Z" style="fill:var(--primary);"/>
                <path d="M58.98,78.689L58.98,78.584L59.02,78.586C69.87,78.586 78.678,69.778 78.678,58.929L78.693,58.929C78.693,69.778 87.501,78.586 98.351,78.586L98.391,78.584L98.391,78.689L98.522,78.689L98.522,78.794L98.482,78.792C87.632,78.792 78.824,87.6 78.824,98.449L78.809,98.449C78.809,87.6 70.001,78.792 59.151,78.792L59.111,78.794L59.111,78.689L58.98,78.689Z" style="fill:var(--primary);"/>
                <path d="M78.94,137.617C78.94,148.467 70.132,157.275 59.283,157.275L59.242,157.273L59.242,157.378L98.653,157.378L98.653,157.273L98.613,157.275C87.764,157.275 78.955,148.467 78.955,137.617L78.94,137.617Z" style="fill:var(--primary);"/>
                <path d="M58.98,58.98C58.98,48.947 51.447,40.659 41.733,39.469L39.282,39.469L39.282,39.364L39.322,39.366C39.636,39.366 39.948,39.359 40.257,39.344C39.948,39.33 39.636,39.322 39.322,39.322L39.282,39.324L39.282,39.22L41.733,39.22C51.447,38.03 58.98,29.742 58.98,19.709L58.98,58.98ZM58.995,19.709C58.995,29.742 66.528,38.03 76.242,39.22L78.693,39.22L78.693,39.324L78.653,39.322C78.339,39.322 78.027,39.33 77.718,39.344C78.027,39.359 78.339,39.366 78.653,39.366L78.693,39.364L78.693,39.469L76.242,39.469C66.528,40.659 58.995,48.947 58.995,58.98L58.995,19.709Z" style="fill:var(--yellow);"/>
                <path d="M59.111,117.908L59.126,117.908L59.126,98.398C59.126,108.431 66.66,116.719 76.373,117.908L78.955,117.908L78.955,118.013L78.915,118.011C78.58,118.011 78.246,118.02 77.916,118.036C78.204,118.049 78.493,118.055 78.784,118.055L78.824,118.053L78.824,118.158L76.504,118.158C66.791,119.348 59.257,127.635 59.257,137.669L59.257,118.158L59.242,118.158L59.242,137.669C59.242,127.635 51.709,119.348 41.995,118.158L39.413,118.158L39.413,118.053L39.454,118.055C39.789,118.055 40.122,118.047 40.453,118.03C40.165,118.018 39.876,118.011 39.585,118.011L39.544,118.013L39.544,117.908L41.864,117.908C51.578,116.719 59.111,108.431 59.111,98.398L59.111,117.908Z" style="fill:var(--yellow);"/>
                <g transform="matrix(-0.500326,0,0,0.500326,177.182,-59.0313)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,177.182,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,177.314,19.6575)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,177.445,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <path d="M58.995,19.709L98.358,19.709C98.358,30.558 89.55,39.366 78.701,39.366L78.677,39.365L78.653,39.366C67.803,39.366 58.995,30.558 58.995,19.709Z" style="fill:var(--primary);"/>
                <path d="M98.358,58.98L58.995,58.98C58.995,48.131 67.803,39.322 78.653,39.322L78.677,39.324L78.701,39.322C89.55,39.322 98.358,48.131 98.358,58.98Z" style="fill:var(--primary);"/>
                <path d="M98.621,137.669L59.257,137.669C59.257,126.819 68.066,118.011 78.915,118.011L78.939,118.012L78.963,118.011C89.812,118.011 98.621,126.819 98.621,137.669Z" style="fill:var(--primary);"/>
                <g transform="matrix(0.500326,0,0,0.500326,58.8598,-59.0313)">
                    <path d="M157.48,118.195L157.48,117.986L196.85,117.986L196.85,157.48C196.85,135.796 179.245,118.191 157.561,118.191L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <path d="M137.651,78.689L137.651,78.584L137.692,78.586C148.541,78.586 157.349,69.778 157.349,58.929L157.48,98.449C157.48,87.6 148.672,78.792 137.823,78.792L137.782,78.794L137.782,78.689L137.651,78.689Z" style="fill:var(--primary);"/>
                <g transform="matrix(0.500326,0,0,-0.500326,59.1221,216.409)">
                    <path d="M157.48,118.195L157.48,117.986L196.85,117.986L196.85,157.48C196.85,135.796 179.245,118.191 157.561,118.191L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,58.8598,-59.0313)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,58.8598,137.72)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,0.500326,58.9909,19.6575)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <g transform="matrix(0.500326,0,0,-0.500326,59.1221,216.409)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--accent-text);"/>
                </g>
                <path d="M118.008,18.957C118.429,8.48 127.069,0.103 137.649,0.103L137.689,0.105L137.689,19.76L137.689,19.76C137.661,30.586 128.864,39.366 118.032,39.366L118.008,39.365L117.983,39.366C107.151,39.366 98.354,30.586 98.326,19.76L98.326,19.76L98.326,0.105L98.366,0.103C108.947,0.103 117.586,8.48 118.008,18.957Z" style="fill:var(--primary);"/>
                <path d="M137.689,58.98L98.326,58.98C98.326,48.131 107.134,39.322 117.983,39.322L118.008,39.324L118.032,39.322C128.881,39.322 137.689,48.131 137.689,58.98Z" style="fill:var(--accent-text);"/>
                <path d="M98.457,98.398L98.457,78.794L98.497,78.792C109.078,78.792 117.717,87.168 118.139,97.646C118.561,87.168 127.2,78.792 137.78,78.792L137.82,78.794L137.82,98.449L137.82,98.449C137.792,109.275 128.995,118.055 118.163,118.055L118.139,118.054L118.115,118.055C107.534,118.055 98.895,109.678 98.473,99.201C98.051,109.678 89.412,118.055 78.832,118.055L78.808,118.054L78.784,118.055C67.952,118.055 59.154,109.275 59.126,98.449L59.111,98.449C59.083,109.275 50.286,118.055 39.454,118.055L39.431,118.054L39.408,118.055C28.559,118.055 19.751,109.247 19.751,98.398L19.775,98.398L19.775,78.794L19.815,78.792C30.435,78.792 39.1,87.232 39.461,97.765C39.821,87.232 48.486,78.792 59.106,78.792L59.147,78.794L59.147,98.398L98.457,98.398Z" style="fill:var(--primary);"/>
                <path d="M137.952,137.669L98.588,137.669C98.588,126.819 107.396,118.011 118.246,118.011L118.27,118.012L118.294,118.011C129.143,118.011 137.952,126.819 137.952,137.669Z" style="fill:var(--accent-text);"/>
                <path d="M137.689,20.936C138.274,30.411 145.583,38.078 154.898,39.22L157.349,39.22L157.349,39.324L157.309,39.322C156.995,39.322 156.683,39.33 156.374,39.344C156.683,39.359 156.995,39.366 157.309,39.366L157.349,39.364L157.349,39.469L154.898,39.469C145.584,40.61 138.274,48.277 137.689,57.752L137.689,58.98C137.689,58.689 137.683,58.4 137.67,58.111C137.658,58.4 137.651,58.689 137.651,58.98L137.651,57.752C137.066,48.278 129.757,40.61 120.442,39.469L117.991,39.469L117.991,39.364L118.032,39.366C118.345,39.366 118.657,39.359 118.966,39.344C118.657,39.33 118.345,39.322 118.032,39.322L117.991,39.324L117.991,39.22L120.442,39.22C129.757,38.079 137.066,30.412 137.651,20.936L137.651,19.709C137.651,20 137.658,20.289 137.67,20.577C137.683,20.289 137.689,20 137.689,19.709L137.689,20.936Z" style="fill:var(--yellow);"/>
                <path d="M137.82,99.625C138.405,109.1 145.714,116.767 155.029,117.908L157.612,117.908L157.612,118.013L157.571,118.011C157.236,118.011 156.903,118.02 156.572,118.036C156.86,118.049 157.149,118.055 157.44,118.055L157.48,118.053L157.48,118.158L155.16,118.158C145.846,119.299 138.537,126.966 137.952,136.441L137.952,137.669C137.952,137.378 137.945,137.089 137.933,136.8C137.92,137.089 137.914,137.378 137.914,137.669L137.914,136.441C137.329,126.967 130.02,119.299 120.705,118.158L118.122,118.158L118.122,118.053L118.163,118.055C118.498,118.055 118.831,118.047 119.162,118.03C118.874,118.018 118.585,118.011 118.294,118.011L118.254,118.013L118.254,117.908L120.574,117.908C129.888,116.768 137.197,109.1 137.782,99.625L137.782,98.398C137.782,98.688 137.789,98.978 137.801,99.266C137.814,98.978 137.82,98.688 137.82,98.398L137.82,99.625Z" style="fill:var(--yellow);"/>
                <g transform="matrix(-0.500326,0,0,-0.500326,236.141,98.5004)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,236.141,-19.8116)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,-0.500326,236.272,177.189)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
                <g transform="matrix(-0.500326,0,0,0.500326,236.403,58.8772)">
                    <path d="M157.48,118.195L157.561,118.191C179.245,118.191 196.85,135.796 196.85,157.48L157.48,157.48L157.48,118.195Z" style="fill:var(--primary);"/>
                </g>
            </g>
        </svg>
        </div>
        <div class="text">
          <h2>We're Developers doing more than just coding.</h2>
          <p>Talk to us about creating Illustrations and Iconography for your app or website.</p>
          <p>We're here to help 🙂</p>
          <a class="btn primary chat-trigger" href="#contact"><i class="ico icon-circle"></i> Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>