<div class="container immersive build-in-scroll">
  <div class="immersive-content">
    <div class="immersive-section zoom-in-out inspired-16">
      <div class="immersive-section-content">
        <div class="heading">
          <h2>More than just design</h2><br>
          <p>We're a good fit for any facet of your project.<br>We particularly like PHP and Javascript*<br><small>*And
              we don't care who knows it!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
