<div class="container immersive build-in-scroll">
  <div class="immersive-content">
    <div class="immersive-section zoom-in-out flex-image-left">
      <div class="immersive-section-content">
        <div class="content-image soldering">
            <svg width="100%" height="100%" viewBox="0 0 315 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                        <rect class="rect" x="0" y="0" width="315" height="315"/>
            </svg>
        </div>
        <div class="text">
          <h2>A Love ♥️ of Design & a Passion for Tech.</h2>
          <p>Talk to us about creating Illustrations and Iconography for your app or website.</p>
          <p>We're here to help 🙂</p>
          <a class="btn primary chat-trigger" href="#contact">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>