<div class="container immersive build-in-scroll">
  <div class="immersive-content">
    <div class="immersive-section zoom-in-out flex-image-left">
      <div class="immersive-section-content">
        <div class="content-image soldering">
        </div>
        <div class="text">
          <h2>We're Developers who do more than just code.</h2>
          <p>Talk to us about creating Illustrations and Iconography for your app or website.</p>
          <p>We're here to help 🙂</p>
          <a class="btn primary chat-trigger" href="#contact"><i class="ico icon-circle"></i> Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>