<div class="container immersive build-in-scroll">
  <div class="immersive-content">
    <div class="immersive-section zoom-in-out laptop">
      <div class="immersive-section-content">
        <div class="laptop-body"></div>
        <div class="display">
          <h2 class="typewriter-magic" data-type='["Let&#39;s build something beautiful together ❤️"]'>Let&#39;s build something amazing together ❤️</h2>
        </div>

      </div>
    </div>
  </div>
</div>
