<div class="container time-estimates parent">
  <div class="heading reading-layout">
    <h2>Estimates</h2>
    <p>We've included some common project sizes and starting estimates to help you choose a plan that suits your needs.</p>
  </div>
  <div class="examples-flex animate-rotate">

    <div class="item target data">
      <div class="month-gauge-parent">
        <div class="month-gauge days-2">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
      
      <h3>Logo & Design</h3>
      <p>
        Create a logo, colour palette and basic artworks and banners for use online.
      </p>
      <p><span class="badge">6 hours</span>
        <br>
        <span class="badge">
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small></span> or 
        <span class="badge">
          <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value no-strategy">234</span>
        </span>
        <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">
      <div class="month-gauge-parent">
        <div class="month-gauge days-4">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
      
      <h3>Basic Website</h3>
      <p>
        Create a small static website or landing page.
      </p>
      <p><span class="badge">12 hours</span>
        <br>
        <span class="badge">
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small></span> or 
        <span class="badge">
          <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value no-strategy">468</span>
        </span>
        <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">
      <div class="month-gauge-parent">
        <div class="month-gauge days-6">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
      
      <h3>Backend API</h3>
      <p>
        Create a flexible application with a restful HTTP interface written in a powerful server-side language such as Node.js - JavaScript or PHP.
      </p>
      <p><span class="badge">20 hours</span>
        <br>
        <span class="badge">
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small></span> or 
        <span class="badge">
          <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value no-strategy">780</span>
        </span>
        <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">
      <div class="month-gauge-parent">
        <div class="month-gauge days-10">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
      
      <h3>Frontend App</h3>
      <p>
        Create a frontend application or website using a framework such as Vue.js.
        <br>
      </p>
      <p><span class="badge">30 hours</span>
        <br>
        <span class="badge">
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small></span> or 
        <span class="badge">
          <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value no-strategy">1,170</span>
        </span>
        <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">
      <div class="month-gauge-parent">
        <div class="month-gauge days-16">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
        <div class="month-gauge days-10">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
      </div>
      
      <h3>Application Stack</h3>
      <p>
        Create a web app with expertly-designed UI and supporting backend services, APIs.<br>
      </p>
      <p><span class="badge">60 hours</span>
        <br>
        <span class="badge">
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small></span> or 
        <span class="badge">
          <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value no-strategy">2,340</span>
        </span>
        <small>overall</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

  </div>
</div>