<div class="container pricing parent build-in-scroll animate-rotate" id="pricing">
  <div class="heading">
    <h2>Pricing</h2>
    <div class="currency-options">
      <div class="option">BTC</div>
      <div class="option selected">GBP</div>
      <div class="option">EUR</div>
      <div class="option">USD</div>
    </div>
  </div>
  <div class="pricing-item">
    <div class="heading">
    <svg class="target shapes" width="100%" height="100%" viewBox="0 0 57 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
      <circle id="circle1" cx="18.772" cy="38.353" r="16.689" style="fill:var(--primary);" />
      <rect id="square" x="5.061" y="23.834" width="27.421" height="27.87" style="fill:var(--accent);" />
      <path id="triangle" d="M18.772,23.142l16.192,28.561l-32.385,0l16.193,-28.561Z" style="fill:var(--primary);" />
    </svg>
      <h2>Essentials Monthly</h2>
      <h2>
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,499</span>
        </span>
        <small>/ month</small>
      </h2>
      <span class="notible">
        <span class="currency-bundle">Less than
          <span class="currency-symbol">£</span><span class="currency-value no-strategy">35</span> </span>per
        hour<br>Pause / resume whenever you need to.</span>
    </div>
    <div class="wyg">
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Graphic design</li>
        <li>Frontend UI/UX development</li>
        <li>Website/Landing-page</li>
        <li>Backend management</li>
        <li>APIs</li>
        <li>Maintenance</li>
        <li>Application staging</li>
      </ul>
      <a class="btn pri chat-trigger" href="#contact">Get in touch</a>
    </div>
    <div class="clickable-target">
      <h3>How it works <i class="ico icon-cheveron-down"></i></h3>
      <ul class="dash payload">
        <li>Up to 40 hours/month are dedicated to your project.</li>
        <li>Make as many revisions or requests as you like.</li>
        <li>Tasks are queued according to priority and roadmap.</li>
        <li>Pause development any time.</li>
        <li>You pay in advance and unused hours expire at the end of the month.</li>
      </ul>
    </div>
  </div>

  <div class="pricing-item">
    <div class="heading">
      <svg class="target grow" width="100%" height="100%" viewBox="0 0 57 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <rect id="grow1" x="3.763" y="3.763" width="49.166" height="49.166" />
        <rect id="square" x="3.763" y="22.607" width="30.322" height="30.322" style="fill:var(--accent);" />
      </svg>
      <h2>Flexible PAYG</h2>
      <h2>
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">49</span>
        </span>
        <small>/ hour</small>
      </h2>
      <span class="notible">Pay as you go.<br>For projects little and large.<br><br>This option is available for a limited time.</span>
    </div>
    <div class="wyg">
      <h3>We're phasing out hourly billing in the near future.</h3>
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Everything in <b>Essentials Monthly</b></li>
        <li>Flexibility to work on smaller projects</li>
      </ul>
      <a class="btn pri chat-trigger" href="#contact">Get in touch</a>
    </div>
    <div class="clickable-target">
      <h3>How it works <i class="ico icon-cheveron-down"></i></h3>
      <ul class="dash payload">
        <li>We use your budget or project outline to set a schedule and costing according to you needs.</li>
        <li>4 hours - daily cap and overall minimum.</li>
        <li>Additional 1-week review period.</li>
        <li>You pay what is due at the end of every month or when your project is completed, whichever is sooner.</li>
      </ul>
    </div>
  </div>
</div>
