<div class="container pricing parent" id="pricing">
  <div class="heading">
    <h2>Pricing</h2>
    <div class="currency-options">
      <div class="option">BTC</div>
      <div class="option selected">GBP</div>
      <div class="option">EUR</div>
      <div class="option">USD</div>
    </div>
  </div>
  <div class="pricing-item">
    <div class="heading">
      <h2>Essentials Monthly</h2>
      <h2>
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">1,199</span>
        </span>
        <small>/ month</small>
      </h2>
      <span class="notible">
        <span class="currency-bundle">Less than
          <span class="currency-symbol">£</span><span class="currency-value no-strategy">29.98</span> </span>per
        hour<br>Pause and resume any time.</span>
    </div>
    <div class="wyg">
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Graphic design</li>
        <li>Frontend UI/UX development</li>
        <li>Website/Landing-page</li>
        <li>Backend management</li>
        <li>APIs</li>
        <li>Maintenance</li>
        <li>Application staging</li>
      </ul>
      <a class="btn pri chat-trigger" href="#contact">Get started <i class="ico icon-chat"></i></a>
    </div>
    <div>
      <h3>How it works:</h3>
      <ul class="dash">
        <li>Up to 40 hours/month are dedicated to your project.</li>
        <li>Make as many revisions or requests as you like.</li>
        <li>Tasks are queued according to priority and roadmap.</li>
        <li>Pause development any time.</li>
        <li>You pay in advance and unused hours expire at the end of the month.</li>
      </ul>
    </div>
  </div>

  <div class="pricing-item">
    <div class="heading">
      <h2>Flexible PAYG</h2>
      <h2>
        <span class="currency-bundle">
          <span class="currency-symbol">£</span>
          <span class="currency-value">39</span>
        </span>
        <small>/ hour</small>
      </h2>
      <span class="notible">Pay as you go. For projects little and large.</span>
    </div>
    <div class="wyg">
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Everything in <b>Essentials Monthly</b></li>
        <li>Flexibility to work on smaller projects</li>
      </ul>
      <a class="btn pri chat-trigger" href="#contact">Get started <i class="ico icon-chat"></i></a>
    </div>
    <div>
      <h3>How it works:</h3>
      <ul class="dash">
        <li>We use your budget or project outline to set a schedule and costing according to you needs.</li>
        <li>4 hours - daily cap and overall minimum.</li>
        <li>Additional 1-week review period.</li>
        <li>You pay what is due at the end of every month or when your project is completed, whichever is sooner.</li>
      </ul>
    </div>
  </div>
</div>