<div class="container time-estimates parent build-in-scroll">
  <div class="heading reading-layout">
    <h2>Estimates</h2>
    <p>We've included some common project sizes and starting estimates to help you choose a plan that suits your needs.
    </p>
    <a class="btn primary" href="/pricing">Check out our pricing <i class="chevron-to-arrow"></i></a>
  </div>
  <div class="examples-flex animate-rotate">

    <div class="item target data">

      <h3>Logo & Design</h3>
      <p>
        Create a logo, colour palette and basic artworks and banners for use online.
      </p>
      <div class="badge-time-org"><span class="badge">6 hours</span>
        <div class="month-gauge-parent">
          <div class="month-gauge days-2">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <p>
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value">1,499</span>
          </span>
          <small>/m (*quarterly billing)</small></span> or
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value no-strategy">1,999</span>
          </span>
          <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">

      <h3>Web Design</h3>
      <p>
        Create a small static website or landing page.
      </p>
      <div class="badge-time-org"><span class="badge">12 hours</span>
        <div class="month-gauge-parent">
          <div class="month-gauge days-4">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <p>
        
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value">1,499</span>
          </span>
          <small>/m (*quarterly billing)</small></span> or
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value no-strategy">1,999</span>
          </span>
          <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">

      <h3>Backend API</h3>
      <p>
        Create a flexible application with a restful HTTP interface written in a powerful server-side language such as
        Node.js - JavaScript or PHP.
      </p>
      <div class="badge-time-org"><span class="badge">20 hours</span>
        <div class="month-gauge-parent">
          <div class="month-gauge days-6">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <p>
        
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value">1,499</span>
          </span>
          <small>/m (*quarterly billing)</small></span> or
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value no-strategy">1,999</span>
          </span>
          <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">

      <h3>Frontend App</h3>
      <p>
        Create a frontend application or website using a framework such as Vue.js.
        
      </p>
      <div class="badge-time-org"><span class="badge">30 hours</span>
        <div class="month-gauge-parent">
          <div class="month-gauge days-10">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <p>
        
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value">1,499</span>
          </span>
          <small>/m (*quarterly billing)</small></span> or
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value no-strategy">1,999</span>
          </span>
          <small>one time</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

    <div class="item target data">

      <h3>Application Stack</h3>
      <p>
        Create a web app with expertly-designed UI and supporting backend services, APIs.
      </p>
      <div class="badge-time-org"><span class="badge">60 hours</span>
        <div class="month-gauge-parent">
          <div class="month-gauge days-16">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="month-gauge days-10">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
        </div>
      </div>
      <p>
        
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value">1,499</span>
          </span>
          <small>/m (*quarterly billing)</small></span> or
        <span class="badge">
          <span class="currency-bundle">
            <span class="currency-symbol">£</span>
            <span class="currency-value no-strategy">3,998</span>
          </span>
          <small>overall</small></span>
      </p>
      <!-- <a class="link chat-trigger" href="#contact">Chat now <i class="ico icon-circle"></i></a> -->
    </div>

  </div>
</div>
