<div class="container showcase-parent -disabled-build-in-scroll">
  <div class="showcase-stationary animate-rotate">

    <div class="item target creative">
      <svg alt="Our experimental and educational projects which have bred new ideas and creative explorations"
        width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:1.5;">
        <rect id="studies" x="0" y="0" width="236.22" height="236.22" style="fill:none;" />
        <g id="grid0">
          <rect x="172.255" y="9.272" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-width:6.25px;" />
        </g>
        <g id="grid1">
          <rect x="118.11" y="9.272" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-width:6.25px;" />
          <rect x="172.255" y="63.783" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-width:6.25px;" />
        </g>
        <g id="grid2">
          <rect x="63.966" y="9.272" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="118.11" y="63.783" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="172.255" y="118.293" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
        </g>
        <g id="grid3">
          <rect x="9.821" y="9.272" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="63.966" y="63.783" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="118.11" y="118.293" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="172.255" y="172.804" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
        </g>
        <g id="grid4">
          <rect x="9.821" y="63.783" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="63.966" y="118.293" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
          <rect x="118.11" y="172.804" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;" />
        </g>
        <g id="grid5">
          <rect x="9.821" y="118.293" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;" />
          <rect x="63.966" y="172.804" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;" />
        </g>
        <g id="grid6">
          <rect x="9.821" y="172.804" width="54.145" height="54.145"
            style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;" />
        </g>
      </svg>
      <h3>Creative Studies </h3>
      <p>
        Browse some of the projects we've worked on that haven't made it to production.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="#projects">Browse Projects <i class="chevron-to-arrow"></i></a>
      </div>
    </div>

    <div class="item target btcpay">
      <svg alt="BTCPay Server" width="100%" height="100%" viewBox="0 0 237 237" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <rect id="btcpay" x="0" y="0" width="236.22" height="236.22" style="fill:none;" />
        <path id="tile0"
          d="M192.962,40.715c-0,-14.161 -11.48,-25.642 -25.642,-25.642l-126.605,0c-14.161,0 -25.642,11.481 -25.642,25.642l0,126.605c0,14.162 11.481,25.642 25.642,25.642l126.605,-0c14.162,-0 25.642,-11.48 25.642,-25.642l-0,-126.605Z"
          style="fill:var(--primary);fill-opacity:0.25;" />
        <path id="tile1"
          d="M192.962,40.715c-0,-14.161 -11.48,-25.642 -25.642,-25.642l-126.605,0c-14.161,0 -25.642,11.481 -25.642,25.642l0,126.605c0,14.162 11.481,25.642 25.642,25.642l126.605,-0c14.162,-0 25.642,-11.48 25.642,-25.642l-0,-126.605Z"
          style="fill:var(--accent);fill-opacity:0.75;" />
        <path id="tile2" serif:id="tile"
          d="M223.341,71.094c-0,-14.162 -11.481,-25.642 -25.642,-25.642l-126.605,0c-14.162,0 -25.642,11.48 -25.642,25.642l0,126.605c0,14.161 11.48,25.642 25.642,25.642l126.605,-0c14.161,-0 25.642,-11.481 25.642,-25.642l-0,-126.605Z"
          style="fill:var(--accent);fill-opacity:0.5;" />
        <g id="btcpayb">
          <path d="M110.453,77.646l28.622,21.668l-28.622,21.669l-0,-43.337Z"
            style="fill:none;stroke:var(--primary);stroke-width:10.42px;" />
          <path d="M110.453,115.238l28.622,21.668l-28.622,21.669l-0,-43.337Z"
            style="fill:none;stroke:var(--primary);stroke-width:10.42px;" />
        </g>
      </svg>
      <h3>BTCPay Server </h3>
      <p>
        The gold-standard of bitcoin payment processing and much more. Website built by Flat18.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="https://btcpayserver.org" target="_blank">BTCPay Server
          Website&nbsp;<i class="ico icon-external-link"></i></a>
      </div>
    </div>

    <div class="item target walletscrutiny">
      <svg alt="Wallet Scrutiny walletscrutiny.com" width="100%" height="100%" viewBox="0 0 237 237" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <rect id="walletscrutiny" x="0" y="0" width="236.22" height="236.22" style="fill:none;" />
        <path id="w0"
          d="M110.313,213.699c-11.832,-12.689 -18.611,-30.039 -17.397,-48.702c2.334,-35.913 33.387,-63.175 69.3,-60.84c15.501,1.008 29.39,7.365 39.983,17.154"
          style="fill:none;stroke:var(--accent);stroke-width:16.67px;" />
        <path id="w2" d="M20.364,90.822l66.825,27.288l43.604,-80.929"
          style="fill:none;stroke:var(--accent);stroke-width:16.67px;" />
        <path id="w1" d="M75.578,58.134l66.826,27.288l34.448,-63.936"
          style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:16.67px;" />
        <g id="ws">
          <path
            d="M186.481,150.261l-12.914,40.354l-14.584,-0l-6.515,-21.561l-6.86,21.561l-14.585,-0l-12.913,-40.354l14.009,0l7.033,22.944l7.436,-22.944l12.51,0l7.033,23.232l7.436,-23.232l12.914,0Z"
            style="fill:var(--primary);fill-rule:nonzero;" />
          <path
            d="M204.524,191.537c-3.343,0 -6.6,-0.375 -9.771,-1.124c-3.171,-0.75 -5.774,-1.758 -7.811,-3.027l4.381,-9.915c1.922,1.115 4.074,2.008 6.456,2.681c2.383,0.672 4.67,1.008 6.861,1.008c1.883,0 3.228,-0.182 4.035,-0.547c0.807,-0.365 1.211,-0.913 1.211,-1.643c-0,-0.846 -0.529,-1.48 -1.586,-1.903c-1.057,-0.422 -2.796,-0.883 -5.217,-1.383c-3.113,-0.653 -5.707,-1.355 -7.782,-2.104c-2.076,-0.75 -3.882,-1.979 -5.419,-3.69c-1.538,-1.71 -2.306,-4.025 -2.306,-6.946c-0,-2.537 0.711,-4.843 2.133,-6.918c1.422,-2.075 3.545,-3.709 6.37,-4.9c2.825,-1.191 6.255,-1.787 10.29,-1.787c2.767,-0 5.486,0.298 8.157,0.893c2.671,0.596 5.025,1.47 7.062,2.623l-4.093,9.858c-3.958,-1.998 -7.706,-2.998 -11.241,-2.998c-3.498,0 -5.246,0.846 -5.246,2.537c-0,0.807 0.519,1.412 1.556,1.816c1.038,0.403 2.748,0.836 5.131,1.297c3.074,0.576 5.669,1.239 7.782,1.989c2.114,0.749 3.949,1.969 5.506,3.66c1.556,1.691 2.334,3.997 2.334,6.918c0,2.537 -0.711,4.833 -2.133,6.889c-1.421,2.056 -3.545,3.69 -6.37,4.9c-2.824,1.211 -6.254,1.816 -10.29,1.816Z"
            style="fill:var(--primary);fill-rule:nonzero;" />
        </g>
      </svg>
      <h3>Wallet Scrutiny </h3>
      <p>
        Wallet Scrutiny publishes analyses and findings on crypto-wallet build verifiability. Website design,
        frontend UI/UX by Flat 18.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="https://walletscrutiny.com" target="_blank">Wallet
          Scrutiny
          Website&nbsp;<i class="ico icon-external-link"></i></a>
      </div>
    </div>

    <div class="item target f18pay">
      <svg alt="Flat 18 pay preview image." width="100%" height="100%" viewBox="0 0 237 237" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:1.5;">
        <rect id="f18" x="0" y="0" width="236.22" height="236.22" style="fill:none;" />
        <clipPath id="_clip1">
          <rect x="0" y="0" width="236.22" height="236.22" />
        </clipPath>
        <g clip-path="url(#_clip1)">
          <circle id="circle0" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);" />
          <circle id="circle1" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);" />
          <circle id="circle2" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);" />
          <path id="circle5"
            d="M176.662,-0l-0,109.112c-0,32.316 -26.236,58.552 -58.552,58.552c-32.315,0 -58.551,-26.236 -58.551,-58.552l-0,-109.112l117.103,-0Z"
            style="fill:var(--accent);fill-opacity:0.25;" />
          <circle id="circle4" cx="118.11" cy="109.112" r="58.552" style="fill:var(--accent);" />
          <g id="circle6">
            <path d="M118.11,77.243l-30.921,14.133l31.31,16.401l30.532,-16.401l-30.921,-14.133Z"
              style="fill:none;stroke:var(--primary);stroke-width:4.17px;" />
            <path
              d="M118.499,107.388l-31.31,-16.012l0,33.205l30.921,16.401l30.921,-16.401l0,-33.205l-30.532,16.401l-0.389,33.205l0.389,-33.594Z"
              style="fill:none;stroke:var(--primary);stroke-width:4.17px;" />
          </g>
        </g>
      </svg>
      <h3>F18 Pay </h3>
      <p>F18 Pay is a light-weight payments processing platform inspired by BTCPay Server.</p>
      <div class="flex">
        <a class="link pri" target="blank_" rel="noreferrer" href="https://money.flat18.co.uk">Check out F18
          Pay&nbsp;<i class="ico icon-external-link"></i></a>
        <!-- <a class="link chat-trigger" href="#contact" >Chat now <i class="ico icon-circle"></i></a> -->
      </div>
    </div>

    <!-- END -->

  </div>
</div>