.build-in-scroll-active {
  opacity: 0;
  // transform-origin: center;
  // transform: rotate3d(0.5, 0, 0, -70deg);
  // pointer-events: none;
  transition: 0.5s linear;
  &.build-in {
    opacity: 1;
    // transform: rotate3d(0, 0, 0, 0deg);
    // pointer-events: unset;
  }
}

// .main {
//   perspective: calc(100vw * 3);
//   perspective-origin: center;
// }
