:not(.light),
.dark {
  --theme-near-black: rgba(0, 0, 0, 0.1);
  --theme-true-black: #000;
  --theme-dark: #111;
  --theme-black: #1d1d1d;
  --theme-white: #efefef;
  --theme-off-white: #faf7f7;
  --theme-primary-dark: #0029b1;
  --theme-primary: #0070ff;
  --theme-accent: #00ffc3;
  --theme-accent-text: #00ffc3;
  --theme-yellow: #ffd500;
  --theme-orange: #ff9500;
}

.light {
  --theme-near-black: rgba(255, 255, 255, 0.1);
  --theme-true-black: #fff;
  --theme-dark: #f6f9fc;
  --theme-black: #fff;
  --theme-white: #121437;
  --theme-off-white: #455565;
  --theme-primary-dark: #0029b1;
  --theme-primary: #0070ff;
  --theme-accent: #3be8d7;
  --theme-accent-text: #2077ff;
  --theme-yellow: #009f89;
  --theme-orange: #ff0060;
}

:root {
  --persistent-black: #000;
  --persistent-white: #fff;
  --indigo: #586ada;
  --bg-indigo: #d5daf6;
  --light-indigo: #678ef1;
  --cerulean: #ceedfd;
  --bg-cerulean: #067ab8;
  --light-cerulean: #3a97d4;
  --moss: #09815c;
  --bg-moss: #cffcee;
  --light-moss: #1ba672;
  --lime: #0d9900;
  --bg-lime: #cffcdc;
  --light-lime: #02d602;
  --amber: #bb5506;
  --bg-amber: #fde2ce;
  --light-amber: #d97919;
  --red: #c44c35;
  --bg-red: #f4dcd7;
  --light-red: #e56f49;
  --crimson: #cd3d64;
  --bg-crimson: #f5d6de;
  --light-crimson: #ed5f74;
  --purple: #a44fb5;
  --bg-purple: #ecdbf0;
  --light-purple: #c66bce;
  --violet: #825fc3;
  --bg-violet: #e2daf1;
  --light-violet: #9c82db;
}

html {
  scroll-behavior: smooth;
}

body {
  --near-black: var(--theme-near-black);
  --true-black: var(--theme-true-black);
  --dark: var(--theme-dark);
  --black: var(--theme-black);
  --white: var(--theme-white);
  --off-white: var(--theme-off-white);
  --primary-dark: var(--theme-primary-dark);
  --primary: var(--theme-primary);
  --accent: var(--theme-accent);
  --accent-text: var(--theme-accent-text);
  --yellow: var(--theme-yellow);
  --orange: var(--theme-orange);

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  transition: 1s ease;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

$large: 1400px;
$content: 1200px;
$medium: 960px;
$small: 756px;
$x-small: 500px;

div,
a,
span,
ul,
li,
input,
textarea,
button,
h1,
h2,
h3,
h4,
h5,
p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  max-width: $large;
  margin: auto;
  @media (max-width: $large) {
    overflow: hidden;
  }
  @media (max-width: $small) {
    position: relative;
  }
}

@keyframes popInImage {
  from {
    opacity: 0;
    // transform: scale(0);
  }
  to {
    // transform: scale(1);
    opacity: 1;
  }
}

.lightDark .ico {
  display: block;
  line-height: 1.5;
  opacity: 0;
  // -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);

  &.drop-in {
    -webkit-animation: iconFlyDown 0.2s linear forwards 1;
    animation: iconFlyDown 0.2s linear forwards 1;
  }
}

@keyframes iconFlyDown {
  to {
    opacity: 1;
    // -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.logo {
  &::before {
    content: "Flat.18";
    font-family: "Montserrat";
    font-weight: 800;
    line-height: 2rem;
    font-size: 2rem;
    transition: 0.2s ease;
  }

  &:hover {
    background: -webkit-linear-gradient(60deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: $small) {
  .logo::before {
    content: "Ft.18";
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr auto;
  grid-template: 1fr / auto 1fr auto;
  padding: 1rem;
  gap: 1rem;

  align-items: center;
  position: relative;
  z-index: 10;

  .menu {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    a {
      padding: 0.5rem 1rem;
      border-radius: 100px;
      position: relative;

      &:hover {
        color: var(--yellow);

        &::after {
          content: "";
          background: var(--yellow);
          height: 100%;
          width: 110%;
          z-index: -1;
          position: absolute;
          left: -5%;
          top: 0;
          border-radius: 1000px;
          opacity: 0.15;
        }
      }
    }
  }
}

.link {
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
  position: relative;
  margin-left: -0.75rem;
  color: var(--primary);
  font-size: 0.9rem;

  &:hover {
    color: var(--yellow);

    &::after {
      content: "";
      background: var(--yellow);
      height: 100%;
      width: 110%;
      z-index: -1;
      position: absolute;
      left: -5%;
      top: 0;
      border-radius: 1000px;
      opacity: 0.15;
    }
  }
}

.img {
  position: relative;
  width: calc(700px - 3rem);
  max-width: calc(40vw - 3rem);
  height: calc(700px - 3rem);
  max-height: calc(40vw - 3rem);
  min-height: 600px;

  &::before {
    content: "";
    display: block;
    margin: 50% 0 0 50%;
    // -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50vw;
    max-width: 900px;
    height: 900px;
    max-height: 50vw;
  }
}

@media (max-width: $small) {
  .img {
    display: none;
  }
}
.light {
  .hero {
    &::before {
      animation: 2s beforeBlurLight 0.5s ease forwards 1;
    }
  }
}
.hero {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  margin: 20px auto;
  position: relative;
  @media (max-width: $small) {
    grid-template: 200px 1fr / 1fr;
  }

  &::before {
    content: "";
    position: absolute;
    top: -30vh;
    margin: auto;
    background-image: url(/src/img/blur.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 100vw;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    z-index: -1;
    animation: 2s beforeBlur 0.5s ease forwards 1;
  }

  .image-element {
    grid-column: 2 / 3;
    min-width: 600px;
    // min-height: 600px;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 750px;
    position: relative;
    top: auto;
    right: 0;
    @media (max-width: $small) {
      grid-column: 1/2;
      grid-row: 1/2;
      min-width: unset;
      height: 90vw;
      max-height: 100%;
    }
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(transparent 48%, var(--black) 48% 52%, transparent 52%);
      background-size: 100% 40px;
      z-index: -1;
      transform: rotate(111deg) scale(1.6);
      opacity: 0.5;
    }
    &:before {
      content: "";
      background-image: url(/src/img/fellas.webp);
      display: block;
      animation: 2s popInImage 0s ease forwards 1;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      margin: auto;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      top: 50%;
      min-height: 600px;
      @media (max-width: $large) {
        left: 45%;
      }
      @media (max-width: $content) {
        left: 40%;
      }
      @media (max-width: $medium) {
        left: 35%;
      }
      @media (max-width: $small) {
        min-height: unset;
        left: 50%;
        top: 40%;
        width: 90vw;
        height: 90vw;
        max-width: 290px;
        max-height: 290px;
        position: relative;
        // left: 0%;
        // transform: unset;
      }
    }
  }

  .cta-organiser {
    position: relative;
    z-index: 2;
    grid-column: 1 / 2;
    @media (max-width: $small) {
      width: calc(100vw - 4rem);
      max-width: 500px;
      margin: auto;
      text-align: center;
      margin-top: -5vh;
    }
    h1 {
      font-family: "Montserrat", "Arial Black", sans-serif;
      font-size: 6rem;
      margin: 0;
      line-height: 1;
      @media (max-width: $large) {
        font-size: 5.5rem;
      }
      @media (max-width: $medium) {
        font-size: 5rem;
        text-shadow: 0 0 20px var(--black);
      }
      @media (max-width: $small) {
        font-size: 3rem;
        text-shadow: unset;
      }
      @media (max-width: $x-small) {
        font-size: 2.5rem;
        text-shadow: unset;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.75;
      color: var(--off-white);
      @media (max-width: $small) {
        font-size: 1.15rem;
      }
      @media (max-width: $x-small) {
        font-size: 1.1rem;
      }
    }
  }
}

@keyframes beforeBlur {
  to {
    opacity: 0.5;
  }
}
@keyframes beforeBlurLight {
  to {
    opacity: 0.4;
  }
}

@keyframes strokeDraw1 {
  to {
    stroke-dashoffset: 510;
  }
}

@keyframes strokeDraw2 {
  to {
    stroke-dashoffset: 460;
  }
}

@keyframes float2 {
  to {
    // -webkit-transform: scale(1.3) translate(-592px, -458px) rotate(-10deg);
    transform: scale(1.3) translate(-592px, -458px) rotate(-10deg);
    opacity: 0;
  }
}

@keyframes strokeDraw1s {
  to {
    stroke-dashoffset: 250;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.btn {
  padding: 0.6rem 1.25rem;
  font-size: 1rem;
  line-height: 1rem;
  display: inline-block;
  position: relative;
  z-index: 2;
  border-radius: 100px;
  text-align: center;
  color: var(--primary);
  i {
    transform-origin: center;
    transition: 0.2s linear;
  }
  &:hover {
    i {
      transform: scale(1.1);
    }
    &::after {
      opacity: 0.1;
    }
  }

  &::before {
    content: "";
    background: var(--black);
    // background: linear-gradient(60deg, var(--accent), var(--yellow));
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    border-radius: 100px;
    z-index: -2;
    opacity: 1;
  }

  &::after {
    content: "";
    // background: var(--primary);
    background: linear-gradient(60deg, var(--accent), var(--primary));
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    transform-origin: center;
    opacity: 0;
  }
  &.primary,
  &.pri {
    color: var(--persistent-white);
    &:hover {
      &::after {
        opacity: 0.6;
      }
    }
    &::before,
    &::before {
      content: "";
      background: var(--primary);
      // background: linear-gradient(60deg, var(--accent), var(--primary));
      display: block;
      position: absolute;
      z-index: -2;
      opacity: 1;
    }
    &::after,
    &::after {
      content: "";
      background: var(--persistent-black);
      display: block;
      position: absolute;
      z-index: -1;
      transition: 0.1s linear;
      transform-origin: center;
      opacity: 0;
    }
  }

  &:active {
    background-color: transparent;

    &::after {
      opacity: 0 !important;
    }

    &::before {
      background: var(--yellow);
      opacity: 1;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
}

.heart {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin: auto 0.5rem;
}

.showcase-parent {
  &.container {
    width: 100vw;
    max-width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    // background: var(--black);
    @media (max-width: $medium) {
      margin-top: 10px;
      overflow: hidden;
    }
    @media (max-width: $small) {
      margin-top: 5px;
    }
  }

  .showcase {
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
    display: grid;
    grid-auto-flow: column;
    gap: 5rem;
    margin-top: 50px;
    user-select: none;
    transition: linear;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 20px;
    @media (max-width: $medium) {
      scroll-snap-type: x proximity;
    }
    @media (max-width: $small) {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    &.grabbed {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }

    img:not(.heart) {
      max-width: 400px;
      grid-row: 1/2;
      width: 100%;
    }

    .item {
      scroll-snap-align: start;
      width: 250px;
      max-width: 90vw;
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      margin-bottom: auto;
      gap: 1rem;
      transition: 0.2s ease;
      border-radius: 4px;
      position: relative;
      @media (max-width: $small) {
        scroll-snap-align: center;
      }
      &:first-of-type {
        margin-left: 2rem;
        @media (max-width: $small) {
          margin-left: 5vw;
        }
      }

      &:last-of-type {
        margin-right: 2rem;
        @media (max-width: $small) {
          margin-right: 5vw;
        }
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;
        @media (max-width: $medium) {
          font-size: 1.5rem;
        }
        @media (max-width: $small) {
          font-size: 1.2rem;
        }
      }

      p {
        margin: 0;
        color: var(--off-white);
        font-size: 0.9rem;
      }
      svg {
        width: 3rem;
        * {
          transform-origin: center;
        }
      }
      .link {
        margin-right: auto;
      }
    }
    .playing-animation {
      $cubicEase: cubic-bezier(0.48, 0.33, 0.21, 1.44);
      &.data {
        @for $i from 0 through 2 {
          #layer#{$i} {
            opacity: 0;
            transform: translateY(-100%) scale(0.5);
            animation: dropIn 0.4s $cubicEase forwards 1;
            animation-delay: $i * 0.15s;
          }
        }
        #branches {
          opacity: 0;
          transform: scale(0);
          animation: fadeIn 0.4s $cubicEase forwards 1;
          animation-delay: 0.5s;
          @for $i from 0 through 5 {
            #branch#{$i} {
              stroke-dasharray: 2000/ ($i + 1);
              stroke-dashoffset: 2000 / ($i + 1);
              animation: lineDraw 1s $cubicEase forwards 1;
              animation-delay: $i * 0.2s;
            }
          }
        }
      }
      &.metrics {
        @for $i from 0 through 3 {
          #bar#{$i} {
            stroke-dasharray: 196/ ($i + 1);
            stroke-dashoffset: 196 / ($i + 1);
            animation: lineDraw 0.5s $cubicEase forwards 1;
            animation-delay: $i * 0.2s;
          }
        }
        @for $i from 0 through 3 {
          #ring#{$i} {
            stroke-dasharray: 234 / ($i + 1);
            stroke-dashoffset: 234 / ($i + 1);
            animation: lineDraw 1s $cubicEase forwards 1;
            animation-delay: $i * 0.5s;
          }
        }
      }
      &.f18pay {
        @for $i from 0 through 6 {
          #circle#{$i} {
            opacity: 0;
            transform: translateY(-100%) scale(0.5);
            animation: dropIn 0.4s $cubicEase forwards 1;
            animation-delay: $i * 0.15s;
          }
        }
      }
      &.creative {
        @for $i from 0 through 6 {
          #grid#{$i} {
            opacity: 0;
            transform: scale(0) rotate(5deg);
            animation: fadeIn 0.2s linear forwards 1;
            animation-delay: $i * 0.1s;
          }
        }
      }
      &.btcpay {
        #btcpayb {
          opacity: 0;
          transform: scale(0);
          animation: fadeIn 0.4s $cubicEase forwards 1;
          animation-delay: 0.5s;
        }
        @for $i from 0 through 2 {
          #tile#{$i} {
            opacity: 0;
            transform: scale(0) rotate(10deg);
            animation: fadeIn 0.2s linear forwards 1;
            animation-delay: $i * 0.1s;
          }
        }
      }
      &.walletscrutiny {
        #ws {
          opacity: 0;
          transform: scale(0);
          animation: fadeIn 0.4s $cubicEase forwards 1;
        }
        @for $i from 0 through 3 {
          #w#{$i} {
            stroke-dasharray: 400/ ($i + 1);
            stroke-dashoffset: 400 / ($i + 1);
            animation: lineDraw 0.5s $cubicEase forwards 1;
            animation-delay: $i * 0.2s;
          }
        }
      }
      &.let-s-build {
        #line {
          stroke-dasharray: 200;
          stroke-dashoffset: 100;
          animation: lineDraw 0.5s $cubicEase forwards 1;
          animation-delay: 0.5s;
        }
        #pen {
          opacity: 0;
          transform: scale(0) rotate(10deg);
          animation: fadeIn 0.2s linear forwards 1;
          animation-delay: 0.2s;
        }
        @for $i from 0 through 3 {
          #circle#{$i} {
            opacity: 0;
            transform: translateY(-100%) scale(0.5);
            animation: dropIn 0.3s $cubicEase forwards 1;
            animation-delay: $i * 0.1s;
          }
        }
      }
      @keyframes lineDraw {
        to {
          stroke-dashoffset: 0;
        }
      }
      @keyframes dropIn {
        to {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }
      @keyframes fadeIn {
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .showcase-slider {
    position: relative;
    height: 70px;
    width: 100vw;
    margin-top: -20px;
    background: var(--black);
    z-index: 2;
    padding-top: 40px;

    .slider-ui {
      pointer-events: none;
      width: 150px;
      max-width: 95vw;
      margin: auto;
      left: 0;
      right: 0;
      transform: translateY(0.25rem);
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dot {
        display: block;
        height: 0.7rem;
        width: 0.7rem;
        background: var(--off-white);
        // opacity: 0.5;
        border-radius: 1rem;
      }
      .blob {
        transform: translateX(0);
        height: 0.7rem;
        width: 2rem;
        background: var(--off-white);
        border-radius: 100px;
        transition: 0.2s linear;
        position: absolute;
      }
    }

    input[type="range"] {
      // border-radius: 100px;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      // appearance: none;
      // background: -webkit-gradient(
      //   linear,
      //   left top,
      //   left bottom,
      //   color-stop(25%, var(--black)),
      //   color-stop(25%, var(--true-black)),
      //   color-stop(75%, var(--black))
      // );
      // background: linear-gradient(var(--black) 25%, var(--true-black) 25% 75%, var(--black) 75%);
      cursor: pointer;
      width: 150px;
      max-width: 95vw;
      opacity: 0;
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes imagePop {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.light {
  .cat::before {
    animation: 2s popInImage 0s ease forwards 1;
    background-image: url(/src/img/cat-on-computer-light.webp);
    // background-image: url(../img/fellas.webp);
  }
}
.cat::before {
  animation: 2s popInImage 0s ease forwards 1;
  background-image: url(/src/img/cat-on-computer.webp);
}

@media (max-width: $small) {
  .light {
    .cat::before {
      animation: 2s popInImage 0s ease forwards 1;
      background-image: url(/src/img/keyboard-light.webp);
    }
  }
  .cat::before {
    display: block;
    animation: 2s popInImage 0s ease forwards 1;
    background-image: url(/src/img/keyboard.webp);
    top: 0;
    position: absolute;
    height: 300px;
    width: calc(95vw - 4rem);
  }
}

@media (max-width: $small) {
  .cat {
    display: block;
    min-height: unset;
    height: 100px;
    max-height: unset;
  }
}
.light {
  .loudspeaker {
    &::before {
      animation: 2s popInImage 0s ease forwards 1;
      background-image: url(/src/img/loudspeaker-light.webp);
    }
  }
}
.loudspeaker {
  transform: rotate(60deg);
  position: relative;
  width: calc(600px - 3rem);
  max-width: calc(35vw - 3rem);
  height: calc(600px - 3rem);
  max-height: calc(35vw - 3rem);
  min-height: 500px;

  &::before {
    animation: 2s popInImage 0s ease forwards 1;
    background-image: url(/src/img/loudspeaker.webp);
  }
}

@media (max-width: $large) {
  .loudspeaker {
    transform: rotate(40deg) translate(0%, 20%);
  }
}

.container {
  margin: 150px auto;
  width: 100vw;
  max-width: 100%;

  @media (max-width: $large) {
    margin: 100px auto;
    overflow: hidden;
  }
  @media (max-width: $medium) {
    margin: 80px auto;
  }
  @media (max-width: $small) {
    margin: 50px auto;
  }
  &.flex {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;

    justify-content: center;

    align-items: center;
    @media (max-width: $content) {
      padding: 1rem;
    }
    @media (max-width: $small) {
      flex-direction: column-reverse;
    }
  }

  .text-organiser {
    width: calc(650px - 3rem);
    max-width: calc(60vw - 3rem);
    position: relative;
    z-index: 2;
    @media (max-width: $small) {
      width: calc(100vw - 3rem);
      max-width: 500px;
      margin: auto;
      text-align: center;
    }
    h2 {
      font-family: "Montserrat";
      font-size: 4rem;
      margin: 0;
      @media (max-width: $medium) {
        font-size: 3.5rem;
      }
      @media (max-width: $small) {
        font-size: 3rem;
      }
    }

    p {
      color: var(--off-white);
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.75;
    }
  }

  h1 {
    font-family: "Montserrat";
    font-size: 4rem;
    margin: 0;
    @media (max-width: $medium) {
      font-size: 3rem;
    }
    @media (max-width: $small) {
      font-size: 2.2rem;
    }
  }

  .btn {
    margin-bottom: 1rem;

    &:not(:last-of-type) {
      margin-right: 1rem;
      @media (max-width: $small) {
        margin-right: 0rem;
      }
    }
  }

  &.master {
    width: 90vw;
    max-width: $medium;
    padding: 2rem;
    margin: 20px auto;

    h1,
    h2 {
      background: -webkit-linear-gradient(60deg, var(--accent), var(--yellow));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.contact-form {
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin: 10px;
  min-width: 180px;
  // background-color: var(--black);
  background-image: radial-gradient(ellipse at bottom right, var(--primary) -100%, transparent 100%),
    radial-gradient(ellipse at right, var(--accent) -100%, transparent 100%);
  box-shadow: 0 20px 150px -60px var(--persistent-black);
  background-color: var(--accent);
  @media (max-width: $medium) {
    padding: 2rem;
  }
  h2,
  label {
    color: var(--persistent-black);
  }
  .btn {
    color: var(--white);
    cursor: pointer;
  }
  &.text-organiser {
    @media (min-width: 756px) {
      max-width: calc(65vw - 3rem);
    }
    h2 {
      margin-bottom: 3rem;
    }
  }
  input,
  textarea {
    font-size: 1rem;
    padding: 1rem;
    background: var(--black);
    font-family: inherit;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    // -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    border-style: solid;
    border-bottom-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: var(--white);
  }

  input:focus ::-webkit-input-placeholder,
  textarea:focus ::-webkit-input-placeholder,
  input:focus :-ms-input-placeholder,
  textarea:focus :-ms-input-placeholder,
  input:focus ::-ms-input-placeholder,
  textarea:focus ::-ms-input-placeholder,
  input:focus ::placeholder,
  textarea:focus ::placeholder {
    opacity: 0;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder,
  input::placeholder,
  textarea::placeholder {
    opacity: 0.75;
    // -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .form-help-text {
    margin-bottom: 5px;
    margin-left: calc(1rem / 2);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    margin-top: 1rem;
  }

  .errorHelpForm {
    margin-bottom: 1.5rem !important;
  }

  .isValid {
    // -webkit-box-shadow: 0 0 0 2px var(--accent) !important;
    box-shadow: 0 0 0 2px var(--accent) !important;
  }

  .isInvalid {
    // -webkit-box-shadow: 0 0 0 2px var(--crimson) !important;
    box-shadow: 0 0 0 2px var(--crimson) !important;
  }
}

.parent {
  display: grid;
  grid-auto-flow: row;
  max-width: $content;
  margin: 150px auto;
  gap: 0;

  align-items: center;
  padding: 2rem;
  @media (max-width: $small) {
    margin: 20px auto;
  }
  > {
    .heading {
      grid-column: 1/3;
      grid-row: 1/2;

      display: flex;

      flex-direction: row;

      flex-wrap: wrap;
      padding: 2rem 0;
      gap: 1rem;

      align-items: center;
      justify-content: space-between;
      @media (max-width: $small) {
        gap: 1.5rem;

        justify-content: center;
      }
      h2 {
        font-size: 4rem;
        margin: 0;
        @media (max-width: $medium) {
          font-size: 3.5rem;
        }
        @media (max-width: $small) {
          font-size: 3rem;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.75;
        margin: 0;
        color: var(--off-white);
      }
    }
  }
}

.pricing {
  .pricing-item {
    display: flex;
    flex-direction: column;
    width: 45vw;
    max-width: calc(600px - 2rem);
    min-width: 300px;
    background: var(--black);
    position: relative;
    grid-row: 2 / 3;
    @media (max-width: $small) {
      grid-column: 1/3;
      grid-row: auto;
      margin: auto;
      width: 80vw;
      max-width: 500px;
      padding: 2rem 0;
      box-shadow: inset 0 0 0 0;
    }
    @media (max-width: $small) {
      box-shadow: none;
    }

    &:first-of-type {
      margin-left: auto;
      z-index: 2;
    }

    > {
      div {
        padding-left: 3rem;
        padding-right: 3rem;

        &:last-of-type {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }

        &.wyg {
          padding-top: 3rem;
          padding-bottom: 3rem;
          background-color: var(--dark);
          display: flex;
          flex-direction: column;
          border-radius: 0 0 5px 5px;

          .btn {
            margin-top: 2rem;
            min-width: 80%;
            margin: auto;
          }
        }
      }

      :last-child {
        margin-top: auto;
      }
    }

    &:last-of-type {
      z-index: 1;
      max-height: 95%;
      margin-right: auto;
      @media (max-width: $small) {
        height: auto;
        box-shadow: none;
      }
      .wyg {
        background-image: linear-gradient(to right, var(--true-black) -20%, var(--dark) 40%);
      }
    }

    .heading {
      position: relative;
      padding: 3rem;
      z-index: 1;
      color: var(--black);
      &::after {
        content: "";
        // opacity: 0.5;
        background-image: radial-gradient(ellipse at top left, var(--primary) -30%, transparent),
          radial-gradient(ellipse at bottom right, var(--accent), transparent),
          radial-gradient(ellipse at top right, var(--yellow), transparent);
        background-color: var(--accent);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px 5px 0 0;
      }
    }

    h2 {
      margin: 0;
      font-size: 2.2rem;

      .currency-bundle {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 4rem;
      }

      small {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 1rem;
        opacity: 0.5;
      }
    }

    h3 {
      font-family: "Montserrat";
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 800;
      margin-bottom: 0;
    }

    ul {
      padding-left: 2rem;

      li {
        margin: 0 0 1rem 0;
      }

      &.tick {
        list-style: none;

        li {
          margin: 0 0 1rem 0;

          &::before {
            content: "";
            height: 0.5rem;
            width: 1rem;
            display: block;
            // -webkit-box-shadow: -3px 3px 0 0 var(--light-lime);
            box-shadow: -3px 3px 0 0 var(--light-lime);
            // -webkit-transform: translate(-2rem, 0.5rem) rotate(-45deg);
            transform: translate(-2rem, 0.5rem) rotate(-45deg);
            border-radius: 1px;
          }
        }
      }

      &.dash {
        list-style: none;

        li {
          margin: 0 0 1rem 0;

          &::before {
            content: "";
            height: 0.5rem;
            width: 1rem;
            display: block;
            // -webkit-box-shadow: 0 3px 0 0 var(--primary);
            box-shadow: 0 3px 0 0 var(--primary);
            // -webkit-transform: translate(-2rem, 0.5rem);
            transform: translate(-2rem, 0.5rem);
            border-radius: 1px;
          }
        }
      }
    }

    .btn {
      text-align: center;
      position: -webkit-sticky;
      position: sticky;
      bottom: 2rem;
    }
  }
}

ul {
  &.flex {
    list-style: none;
    padding: 0;
    margin: 2rem auto 4rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    &:not(.subtle) {
      @media (max-width: $small) {
        justify-content: center;
        width: 120%;
        margin-left: 50%;
        // -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        gap: 0.75rem;
      }
    }
    &.subtle {
      margin: 1rem auto 2rem auto;
      @media (max-width: $small) {
        justify-content: center;
      }
      li {
        padding: 0;

        &::after {
          opacity: 0;
        }
      }
    }

    li {
      text-transform: capitalize;
      padding: 0.5rem 1.5rem;
      border-radius: 100px;
      position: relative;
      color: var(--accent-text);
      @media (max-width: $small) {
        padding: 0.25rem 1rem;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background: var(--accent-text);
        opacity: 0.08;
      }
    }
  }
}

.light {
  .footer {
    &::after {
      animation: 2s popInImage 0s ease forwards 1;
      background-image: url(/src/img/stylus-light.webp);
    }
  }
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem;
  position: relative;
  z-index: 2;
  @media (max-width: $small) {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--dark);
    margin-left: 50%;
    transform: translateX(-50%);
    animation: 2s popInImage 0s ease forwards 1;
    background-image: url(/src/img/stylus.webp);
    background-size: 500px auto;
    background-repeat: no-repeat;
    background-position: 100% 80%;
  }

  .item {
    h2 {
      margin: 0 0 2rem 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0.5rem;
      }
    }

    &.wide {
      width: 100%;
    }
  }

  p {
    &:first-of-type {
      font-size: 2rem;
    }

    &:not(:first-of-type) {
      font-size: 0.9rem;
    }
  }
}

.status {
  &::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin: auto 0.5rem 0.2rem auto;
    vertical-align: middle;
  }

  &.good::before {
    background-color: var(--lime);
    // -webkit-box-shadow: 0 0 5px var(--lime);
    box-shadow: 0 0 5px var(--lime);
  }
}

.currency-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  flex-direction: row;

  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  // -webkit-transition: 0.2s linear;
  transition: 0.2s linear;

  &:hover {
    // -webkit-box-shadow: 0 0 0 2px var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
  }

  .option {
    padding: 0.75rem 1rem;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      border-radius: 5px;
      // -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
    }

    &:not(.selected):hover::after {
      background: var(--primary);
      opacity: 0.3;
    }

    &.selected {
      color: var(--persistent-white);
      &::after {
        background: var(--primary);
        opacity: 1;
      }
    }
  }
}

.project-showcase-workspace-container {
  transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
  width: calc(1200px - 4rem);
  max-width: calc(100vw - 4rem);

  .project-showcase-workspace {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .showcase-tile {
      position: relative;
      cursor: pointer;
      width: 250px;
      margin-bottom: 3rem;
      @media (max-width: $small) {
        width: 85vw;
      }

      .tile-internals {
        transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        width: 250px;
        @media (max-width: $small) {
          width: 85vw;
        }
        @media (max-width: $medium) {
          max-width: 100vw;
        }
        &::after {
          @media (max-width: $medium) {
            display: none;
          }
          position: absolute;
          top: 10rem;
          left: 0;
          height: calc(100% + 4rem);
          width: 100vw;
          margin: 50%;
          transform: translate(-50%, -50%);
          content: "";
          display: block;
          background-color: var(--black);
          z-index: -1;
          opacity: 0;
        }

        .banner-parent {
          position: relative;

          &::before {
            transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
            content: "";
            background: linear-gradient(60deg, var(--primary), var(--primary));
            z-index: 2;
            height: 100%;
            width: 100%;
            display: block;
            opacity: 0.75;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            border-radius: 5px;
          }

          .banner {
            transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
            height: auto;
            width: 250px;
            border-radius: 5px;
            @media (max-width: $small) {
              width: 85vw;
            }
            @media (max-width: $medium) {
              max-width: 100vw;
            }
          }
        }

        .post {
          transition: 0.5s 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
          transition-delay: 0.25s;
          transform: translateY(20px) scale(0.9);
          transform-origin: center;
          opacity: 0;
        }

        .post-components {
          &::after {
            transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
            transition-delay: 150ms;
            opacity: 0;
            content: "";
            width: 100%;
            display: block;
            overflow: hidden;
            position: absolute;
            left: 0;
            border-radius: 0 0 15px 15px;
          }

          &::before {
            transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
            transition-delay: 150ms;
            opacity: 0;
            content: "";
            width: 100%;
            display: block;
            overflow: hidden;
            position: absolute;
            left: 0;
            border-radius: 0 0 15px 15px;
            z-index: -1;
            bottom: 0;
            height: 100%;
            background-color: var(--black);
          }

          h3 {
            transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 1.1rem;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
          }
        }
      }

      &.invisible {
        opacity: 0;
      }

      &.absolute {
        margin-bottom: -250px;
      }

      &:not(.open) {
        z-index: 2;

        .post {
          position: absolute;
          height: 0;
          pointer-events: none;
        }

        &:hover {
          h3 {
            color: var(--primary);
          }

          .banner-parent::before {
            opacity: 0;
          }
        }
      }

      &.open .tile-internals {
        z-index: 2;
        overflow: unset;
        border-radius: 15px;
        width: calc($medium - 4rem);
        max-width: calc(100vw - 4rem);
        background-color: var(--black);

        &::after {
          // -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
          opacity: 1;
        }

        .banner-parent {
          border-radius: 15px 15px 0 0;
          overflow: hidden;

          &::before {
            opacity: 1;
            background: radial-gradient(ellipse at top, var(--near-black) 50%, var(--black));
            border-radius: 0;
          }

          .banner {
            pointer-events: none;
            width: calc($medium - 4rem);
            max-width: calc(100vw - 4rem);
          }
        }

        .close-x {
          pointer-events: all;
          height: 4rem;
          width: 4rem;
          display: block;
          position: absolute;
          z-index: 3;
          background: var(--primary);
          right: -2rem;
          bottom: 50%;
          padding: 1rem;
          border-radius: 4rem;
          @media (max-width: $medium) {
            right: 20px;
            top: calc(100vh - (4rem + 20px));
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 5px;
            width: 2rem;
            border-radius: 10px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            // -webkit-transform-origin: center;
            transform-origin: center;
            background: var(--persistent-white);
            z-index: 2;
          }

          &::before {
            // -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            z-index: 2;
          }

          &::after {
            -webkit-: rotate(45deg);
            transform: rotate(45deg);
            z-index: 2;
          }
        }

        .post-components {
          position: relative;
          z-index: 2;
          margin: -200px 0 2rem 0;
          padding: 0 3rem 3rem 3rem;
          display: -ms-grid;
          display: grid;
          gap: 1rem;
          // -webkit-box-shadow: -50px 50px 150px -100px var(--accent), 50px 50px 150px -100px var(--primary);
          box-shadow: -50px 50px 150px -100px var(--accent), 50px 50px 150px -100px var(--primary);
          border-radius: 0 0 15px 15px;
          @media (max-width: $medium) {
            padding: 0 7rem 3rem 3rem;
          }
          @media (max-width: $small) {
            margin: -100px 0 2rem 0;
          }
          &::after,
          &::before {
            opacity: 1;
          }

          h3 {
            opacity: 1;
            font-size: 2.5rem;
            margin: 0;
            color: var(--white);
            font-family: "Montserrat";

            display: flex;

            flex-direction: row;

            flex-wrap: wrap;
            justify-content: space-between;
          }

          .btn,
          .flex {
            margin-right: auto;
            margin-left: 0;
            width: auto;
          }

          .post {
            transform: translateY(2px) scale(1);
            opacity: 1;

            &.icon {
              height: 4rem;
              max-width: 250px;
              padding: 1rem;
              background: var(--black);
              border-radius: 15px;
              margin-left: -1rem;
            }

            &.palette {
              display: flex;

              flex-direction: row;
              margin-top: 1.2rem;
              margin-bottom: 1rem;

              flex-wrap: wrap;

              i {
                pointer-events: all;
                height: 2rem;
                width: 3rem;
                display: block;

                &:hover::after {
                  content: attr(colour);
                  position: absolute;
                  top: 0;
                  // -webkit-transform: translateY(-120%);
                  transform: translateY(-120%);
                  font-style: normal;
                  font-size: 0.9rem;
                  text-transform: uppercase;
                }
              }

              &::after {
                content: "colour palette";
                position: absolute;
                bottom: 0;
                // -webkit-transform: translateY(120%);
                transform: translateY(120%);
                font-size: 0.9rem;
                opacity: 0.75;
                color: var(--accent-text);
              }
            }

            &.subtitle {
              color: var(--accent-text);
              margin-top: -1rem;
            }
          }
        }
      }
    }
  }
}

.shove-across {
  transition: 0.5s cubic-bezier(0.48, 0, 0.29, 1.18);
  bottom: calc(4rem + 40px) !important;
}
