<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/showcaselogos.webp">
  </div>
  <div class="post-components">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/iconmstr.svg">
    <h3><span>Logo & Icon Design</span><span class="">~ 2 hours</span></h3>
    <span class="subtitle post badges">Icon design<br>Approx. 2 hrs per design</span>

    <div class="palette"><i style="background-color:rgb(223, 110, 73)" colour="rgb(223, 110, 73)"></i><i
        style="background-color:rgb(226, 73, 134)" colour="rgb(226, 73, 134)"></i><i
        style="background-color:rgb(247, 181, 49)" colour="rgb(247, 181, 49)"></i><i
        style="background-color:rgb(138,201,94)" colour="rgb(138,201,94)"></i><i
        style="background-color:rgb(100,156,248)" colour="rgb(100,156,248)"></i><i
        style="background-color:rgb(117,108,246)" colour="rgb(117,108,246)"></i><i
        style="background-color:#1F223A" colour="#1F223A"></i><i style="background-color:#50577E"
        colour="#50577E"></i><i style="background-color:#A8ADC7" colour="#A8ADC7"></i><i
        style="background-color:#F0F2FF" colour="#F0F2FF"></i></div>
    <ul class="flex">
      <li>multiple logo iterations</li>
      <li>monoscrome and coloured specimen</li>
      <li>product mockups</li>
    </ul>
    <div class="text-block">
      <p>Logos are a design introduction for any project, and can set the tone for the UX and interface design
        ass a whole.</p>
      <p>We enjoy designing logos that are vibrant, simple and meaningful to the product it represents.</p>
    </div>
  </div>
</div>