<div class="container master">
  <h1>About Us</h1>
  <p>
    Flat 18 is a web development company building products within the bitcoin and crypto spheres.<br>
    We've been incorporated for 7 years but our story starts 4 years earlier building mobile apps, websites and
    networks.
  </p>
  <p>
    We are creative and innovative —obsessed with open-source software and crypto.
  </p>
  <p>
    Our permanent team consists of two members covering frontend systems and backend services.<br>
    We believe the future looks bright. Let's build something together ♥️☘️
  </p>
</div>
