<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/vswee.webp">
  </div>
  <div class="post-components">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/vswee.webp">
    <h3><span>vswee</span><span class="">~ 10 hours</span></h3>
    <span class="subtitle post badges">Landing-page<br>Approx. 10 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
        class="chevron-to-arrow -long"></i></a>
    <div class="palette"><i style="background-color:#ff8336" colour="#ff8336"></i><i
        style="background-color:#fe3b3b" colour="#fe3b3b"></i><i style="background-color:#0c121e"
        colour="#0c121e"></i><i style="background-color:rgb(36, 41, 62)" colour="rgb(36, 41, 62)"></i><i
        style="background-color:#d8dbe3" colour="#d8dbe3"></i></div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
    </ul>
    <div class="text-block">
      <p>Taking inspiration from simple, single-themed landing-pages online, this personal landing-page uses
        narrowly-justified text against oversized, simple graphics to achieve a clean and dramatic page.</p>
    </div><a class="btn pri" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
        class="chevron-to-arrow -long"></i></a>
  </div>
</div>