    <div class="container master">
<h1>Illustrations</h1>
<p>This is a showcase dedicated to the graphics and art created for us and some projects we've worked on.<br>This showcase features depictions of people, individuals and/or animals.</p>
<p>Only artwork for open-source projects or pieces classed as 'not-commissioned' will be shown here.</p>
</div>

<div id="" class="container flex">
  <div class="text-organiser">
    <h2 class="h1">Flat18</h2>
    <p>Illustrations which have appeared on flat18.co.uk in previous site versions.</p>
    <p>Some of these range from 2017 to 2020 and are created with either Adobe AI or Affinity Designer.</p>
  </div>
  <div class="album">
    <div class="on-show"></div>
    <div class="other-shots">
      <img loading="lazy" src="/src/img/art/art0.png">
      <img loading="lazy" src="/src/img/art/art1.png">
      <img loading="lazy" src="/src/img/art/art2.png">
      <img loading="lazy" src="/src/img/art/art3.png">
      <img loading="lazy" src="/src/img/art/art4.png">
      <img loading="lazy" src="/src/img/art/art5.png">
      <img loading="lazy" src="/src/img/art/a0.png">
      <img loading="lazy" src="/src/img/art/a1.png">
      <img loading="lazy" src="/src/img/art/a2.png">
      <img loading="lazy" src="/src/img/art/a3.png">
      <img loading="lazy" src="/src/img/art/a13.png">
      <img loading="lazy" src="/src/img/art/a14.png">
    </div>
  </div>
</div>

<div id="" class="container flex -m2">
  <div class="text-organiser">
    <h2 class="h1">BTCPay Server</h2>
    <p>Illustrations created for the BTCPay Server website.</p>
    <p>These pieces are either disused or have not been included in the website they were intended for.</p>
  </div>
  <div class="album">
    <div class="on-show"></div>
    <div class="other-shots">
      <img loading="lazy" src="/src/img/art/a4.png">
      <img loading="lazy" src="/src/img/art/a5.png">
      <img loading="lazy" src="/src/img/art/a6.png">
      <img loading="lazy" src="/src/img/art/a7.jpg">
    </div>
  </div>
</div>

<div id="" class="container flex -m2">
  <div class="text-organiser">
    <h2 class="h1">Miscellaneous</h2>
    <p>Illustrations created for use online.</p>
    <p>These pieces are either disused or have not been included in the website they were intended for.</p>
  </div>
  <div class="album">
    <div class="on-show"></div>
    <div class="other-shots">
      <img loading="lazy" src="/src/img/art/a8.png">
      <img loading="lazy" src="/src/img/art/a9.png">
      <img loading="lazy" src="/src/img/art/a10.png">
      <img loading="lazy" src="/src/img/art/a11.png">
      <img loading="lazy" src="/src/img/art/a12.png">
    </div>
  </div>
</div>
