<div class="container projects parent" id="projects">
  <div class="heading reading-layout">
    <h2>Creative studies</h2>
    <p>Here are some design & creativity studies produced from demo sites, archived landing-pages and projects that
      never made it past the development phase.</p>
  </div>
  <div class="project-showcase-workspace-container">
    <div class="project-showcase-workspace">
      <a class="showcase-tile" href="/creative-studies/NairaEx">
        <div class="tile-internals">  
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/nairaex.webp">
          </div>
          <h3><span>NairaEx</span></h3>
        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/BTCPayServer">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/btcpay.webp">
          </div>
          <h3><span>BTCPay Server</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/Zismo.io">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/zismo.webp">
          </div>
          <h3><span>Zismo.io</span><span class=""> ~100hrs</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/logos_and_icons">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/showcaselogos.webp">
          </div>
          <h3><span>Logo & Icon Design</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/vswee.com">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/vswee.webp">
          </div>
          <h3><span>vswee</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/Incognet.io">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/incognetio.webp">
          </div>
          <h3><span>Incognet</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/Keevo">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/keevo.webp">
          </div>
          <h3><span>Keevo wallet</span></h3>

        </div>
      </a>
      <a class="showcase-tile" href="/creative-studies/F18">
        <div class="tile-internals">
          
          <div class="banner-parent">
            <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/oldflat18.webp">
          </div>
          <h3><span>Previous Flat18</span></h3>

        </div>
      </a>
    </div>
  </div>
</div>