<div class="container master">
  <h1>Free Services - Supported largely by donations</h1>
  <br>


  <p>
      Flat18 promise to use all donations to fund hosting and development for deserving entities and individuals<sup>2</sup>. 
  </p>
  <p>
      Any small business or individual is eligible for reduced rates or entirely free service.
  </p>
  
  <p>
  1 <sub>Donation pot balance is hidden for values above 1BTC and below 0.01BTC.</sub><br>
  2 <sub>Service availability is not guaranteed. Free and reduced-cost services cannot be prioritised above paid service. Eligibility criteria are based on first-hand knowledge of client's financial constraints or project goals in alignment with Flat18 objectives.</sub>
  </p>
  <p>
      When you donate to Flat 18, your contribution helps to fund deserving projects and lets us continue building apps and services for the community.
  </p>
  <a href="/donate" class="btn">Donate</a>
  </div>