.other-shots {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: visible;
overflow-x: scroll;
box-shadow: 0 0 0 2px;
max-width: calc(500px - 2rem);
}
.other-shots img {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
  /* box-shadow: 0 0 0 2px; */
  margin-right: 2px;
  padding: .75rem;
  margin: auto;
}
.on-show{
  height: 500px;
  max-height: 100vw;
  display: grid;
}
.on-show img {
  max-width: calc(500px - 2rem);
  width: calc(50vw - 2rem);
  padding: .75rem;
  margin: auto;
  animation: growIn .4s ease forwards 1;
}
.album {
  display: grid;
  grid-template: 1fr auto / 1fr;
  box-shadow: 0 0 0 2px;
  margin: auto;
}

@media (max-width: 800px){
  .on-show img {
    max-width: calc(100vw - 4rem);
    width: calc(100vw - 4rem);
}
.other-shots {
max-width: calc(100vw - 4rem);
}
}