<div class="study-contents">

  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/walletscrutiny.webp">
  </div>
  <div class="post-components "">
    <img class=" icon" loading="lazy" alt="website image" src="/src/img/projects/icons/ws.svg">
    <h3><span>Wallet Scrutiny</span><span class="">30 hours+</span></h3>
    <span class="subtitle post badges">Styles and layouts for a Jekyll website<br>>30 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://walletscrutinycom.flat18.co.uk/" target="blank_">View demo&nbsp;<i
        class="chevron-to-arrow -long"></i></a>
    <div class="palette">
      <i style="background-color:#61c861" colour="#61c681"></i>
      <i style="background-color:#000" colour="#000"></i>
    </div>
    <ul class="flex">
      <li>Custom graphics</li>
      <li>Layout</li>
      <li>UI</li>
    </ul>
    <div class="text-block">
      <p>This re-design is an ongoing learning process of how to visually organise the large quantity of statistics and
        documentations created by the Wallet Scrutiny project.</p>
    </div><a class="btn pri" rel="noreferrer" href="https://walletscrutinycom.flat18.co.uk/" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>
