
    <div class="hero">
  <div class="image-element">

      <div class="large fellas"></div>

    <svg class="small" width="100%" height="100%" viewBox="0 0 151 63" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <rect id="Artboard4" x="0" y="-0" width="150.198" height="62.205" style="fill:none;" />
      <clipPath id="_small_clip1">
        <rect x="0" y="-0" width="150.198" height="62.205" />
      </clipPath>
      <g clip-path="url(#_small_clip1)">
        <g>
          <g id="graph">
            <path
              d="M0,5.484l4.83,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.213,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.213,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l-0,6l6.118,-0l-0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.239,-0l-0,6l6.091,-0l0,-6l0.239,-0l-0,6l6.118,-0l-0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l6.118,-0l0,-6l0.212,-0l0,6l4.071,-0l-0.007,0.155l-0.003,0.055l-4.061,0l0,6.07l3.465,0c-0.01,0.069 -0.02,0.139 -0.031,0.211l-3.434,-0l0,6.07l2.183,0l-0.031,0.118l-0.025,0.093l-2.127,-0l0,6.07l0.11,-0c-0.028,0.07 -0.056,0.14 -0.085,0.21l-0.025,0l0,0.061c-0.069,0.17 -0.139,0.34 -0.212,0.512l0,-0.573l-6.118,0l0,6.071l3.395,-0l-0.049,0.085l-0.073,0.125l-3.273,-0l0,4.896c-0.07,0.092 -0.14,0.183 -0.212,0.277l0,-5.173l-6.118,-0l0,6.07l5.406,0l-0.058,0.072l-0.114,0.139l-5.234,-0l0,5.432l-0.076,0.067l-0.136,0.121l-0,-5.62l-6.118,-0l-0,6.07l5.599,-0c-0.083,0.07 -0.166,0.141 -0.248,0.21l-5.351,0l-0,3.961l-0.094,0.061c-0.037,0.023 -0.073,0.047 -0.109,0.07l-0.036,0.023l0,-4.115l-6.091,0l-0,6.071l2.804,-0c-0.128,0.07 -0.256,0.141 -0.384,0.21l-2.42,0l-0,1.244c-0.08,0.038 -0.16,0.077 -0.239,0.115l0,-1.359l-6.118,0l0,3.942l-0.116,0.042l-0.096,0.035l0,-4.019l-6.118,0l0,5.967c-0.071,0.019 -0.141,0.039 -0.212,0.058l-0,-6.025l-6.118,0l-0,6.07l5.95,0c-0.262,0.071 -0.526,0.141 -0.792,0.211l-5.158,-0l-0,1.187l-0.102,0.02l-0.11,0.022l-0,-1.229l-6.118,-0l-0,2.26c-0.071,0.009 -0.142,0.019 -0.212,0.029l-0,-2.289l-6.118,-0l-0,2.972l-0.028,0.002l-0.184,0.016l-0,-2.99l-6.118,-0l-0,3.375l-0.069,0.003l-0.144,0.006l0,-3.384l-6.118,-0l0,3.509l-0.069,0l-0.143,0.001l0,-3.51l-6.118,-0l0,3.399l-0.097,-0.004l-0.115,-0.004l0,-3.391l-6.118,-0l0,3.023l-0.169,-0.014l-0.043,-0.004l0,-3.005l-6.118,-0l0,2.343l-0.022,-0.003l-0.19,-0.025l0,-2.315l-6.118,-0l-0,1.31l-0.164,-0.032l-0.048,-0.01l-0,-1.268l-5.574,-0c-0.266,-0.069 -0.529,-0.139 -0.794,-0.211l0.038,0l-0,-6.07l-6.118,0l-0,4.174l-0.092,-0.032l-0.12,-0.043l-0,-4.099l-6.118,0l-0,1.572c-0.071,-0.033 -0.141,-0.066 -0.212,-0.1l-0,-1.472l-2.904,0c-0.13,-0.07 -0.258,-0.14 -0.386,-0.21l3.29,-0l-0,-6.071l-6.118,0l-0,4.413c-0.073,-0.045 -0.144,-0.09 -0.213,-0.133l0,-4.28l-5.876,0c-0.153,-0.128 -0.305,-0.257 -0.454,-0.385l0,-5.895l-5.799,-0l-0.115,-0.139l-0.059,-0.072l5.973,0l0,-6.07l-6.118,-0l0,5.892c-0.07,-0.087 -0.141,-0.174 -0.212,-0.263l0,-5.629l-3.879,-0l-0.073,-0.125l-0.05,-0.085l4.002,-0l0,-6.071l-6.118,0l0,2.014l-0.07,-0.152c-0.026,-0.057 -0.053,-0.114 -0.079,-0.171l-0.063,-0.14l0,-1.551l-0.67,0c-0.029,-0.07 -0.058,-0.139 -0.087,-0.21l0.757,-0l0,-6.07l-2.811,-0l-0.025,-0.093l-0.032,-0.118l2.868,0l0,-6.07l-4.156,-0c-0.011,-0.07 -0.022,-0.14 -0.033,-0.211l4.189,0l0,-6.07l-4.819,0l-0.003,-0.055l-0.008,-0.155Zm43.023,44.175l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.331,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm-63.301,-6.281l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.331,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm0,-6.28l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm107.4,-0l-6.091,-0l-0,6.07l6.091,-0l0,-6.07Zm0,-6.281l-6.091,-0l-0,6.07l6.091,0l0,-6.07Zm0.239,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-12.687,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-12.661,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm63.302,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-18.991,-6.281l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm50.641,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm19.017,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-25.347,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.331,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm56.998,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-69.658,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.33,0l-0,6.071l6.118,-0l-0,-6.071l-6.118,0Zm-6.331,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm-6.33,0l0,6.071l6.118,-0l0,-6.071l-6.118,0Zm113.73,0l-6.091,0l-0,6.071l6.091,-0l0,-6.071Zm12.899,-6.28l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-82.318,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm56.971,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-12.66,-0l-0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm120.299,-0l-0,6.07l6.118,-0l-0,-6.07l-6.118,-0Zm6.33,-0l0,6.07l6.118,-0l0,-6.07l-6.118,-0Zm-6.569,-0l-6.091,-0l-0,6.07l6.091,-0l0,-6.07Zm-18.778,-6.281l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-12.66,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-31.651,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm25.321,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.33,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-6.331,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm107.639,-0l-0,6.07l6.118,0l-0,-6.07l-6.118,-0Zm-120.299,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm126.629,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm6.33,-0l0,6.07l6.118,0l0,-6.07l-6.118,-0Zm-12.899,-0l-6.091,-0l-0,6.07l6.091,0l0,-6.07Zm6.569,-6.281l0,6.07l6.118,0l0,-6.07l-6.118,0Zm-126.629,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.331,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm63.328,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm-56.998,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.331,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l-0,6.07l6.118,0l-0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm6.33,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm25.347,0l0,6.07l6.118,0l0,-6.07l-6.118,0Zm-12.899,0l-6.091,0l-0,6.07l6.091,0l0,-6.07Z"
              style="fill:url(#_small_Radial2);" />
          </g>
          <path
            d="M7.9,32.364c0,0 -3.256,2.225 -3.798,5.37c-0.306,1.777 0.207,3.861 2.648,6c2.512,2.2 5.831,2.397 9.521,1.631c6.767,-1.404 14.829,-6.115 21.059,-6.26c6.194,-0.144 9.989,3.9 13.109,7.163c2.05,2.145 3.866,3.952 5.752,4.402c0.968,0.23 1.963,0.142 3.023,-0.392c1.671,-0.842 2.12,-2.531 1.929,-4.664c-0.272,-3.027 -1.933,-7.058 -1.212,-9.878c0.234,-0.914 0.772,-1.666 1.796,-2.15c1.323,-0.625 2.547,-0.218 3.718,0.699c1.082,0.848 2.109,2.114 3.113,3.553c1.971,2.824 3.826,6.304 5.662,8.89c1.13,1.592 2.274,2.853 3.409,3.521c1.19,0.701 2.393,0.823 3.619,0.216c2.417,-1.196 2.942,-3.635 2.292,-6.781c-1.017,-4.918 -5.005,-11.766 -5.961,-16.908c-0.443,-2.385 -0.227,-4.368 1.899,-5.263c2.648,-1.114 4.82,0.642 6.909,3.367c4.161,5.429 7.713,14.811 11.733,19.877c2.567,3.235 5.4,4.763 8.482,3.576c1.362,-0.524 2.262,-1.439 2.884,-2.594c0.919,-1.702 1.146,-4.027 1.554,-6.216c0.313,-1.682 0.684,-3.31 2.118,-4.133c2.125,-1.22 4.114,-1.377 6.13,-0.932c3.23,0.712 6.507,2.829 10.385,4.83c4.797,2.475 10.434,4.801 17.754,4.65c0.871,-0.022 1.561,-0.747 1.539,-1.619c-0.022,-0.871 -0.747,-1.561 -1.618,-1.539c-6.713,0.198 -11.891,-1.934 -16.311,-4.165c-4.152,-2.095 -7.691,-4.259 -11.138,-4.986c-2.693,-0.569 -5.342,-0.336 -8.159,1.314c-1.18,0.691 -1.971,1.68 -2.511,2.86c-0.824,1.801 -1.012,4.096 -1.397,6.183c-0.306,1.662 -0.663,3.226 -2.21,3.838c-1.198,0.473 -2.305,0.151 -3.368,-0.627c-1.047,-0.766 -2.044,-1.93 -3.027,-3.326c-4.026,-5.719 -7.718,-15.1 -12.058,-19.803c-2.597,-2.813 -5.439,-4.059 -8.602,-2.695c-2.787,1.202 -3.676,3.499 -3.407,6.44c0.45,4.905 4.493,11.846 6.028,17.131c0.37,1.273 0.59,2.437 0.523,3.433c-0.068,0.998 -0.452,1.797 -1.376,2.265c-0.701,0.355 -1.38,0.125 -2.067,-0.378c-0.7,-0.512 -1.391,-1.287 -2.092,-2.211c-2.884,-3.802 -5.841,-9.969 -9.133,-12.829c-1.908,-1.659 -3.934,-2.295 -6.088,-1.253c-1.569,0.758 -2.381,1.928 -2.728,3.337c-0.635,2.579 0.487,6.092 1.05,9.078c0.186,0.984 0.305,1.903 0.228,2.693c-0.075,0.766 -0.341,1.395 -1.03,1.75c-1.454,0.749 -2.719,0.179 -4.05,-0.883c-2.613,-2.086 -5.391,-5.97 -9.44,-8.29c-2.162,-1.238 -4.674,-2.046 -7.694,-1.949c-6.304,0.203 -14.433,5.002 -21.269,6.484c-3.294,0.714 -6.277,0.649 -8.54,-1.299c-2.064,-1.777 -2.579,-3.49 -2.335,-4.983c0.45,-2.762 3.318,-4.716 3.318,-4.716c0.229,-0.156 0.288,-0.468 0.132,-0.697c-0.156,-0.229 -0.468,-0.287 -0.697,-0.132Z"
            style="fill:none;" />
          <clipPath id="_small_clip3">
            <path
              d="M7.9,32.364c0,0 -3.256,2.225 -3.798,5.37c-0.306,1.777 0.207,3.861 2.648,6c2.512,2.2 5.831,2.397 9.521,1.631c6.767,-1.404 14.829,-6.115 21.059,-6.26c6.194,-0.144 9.989,3.9 13.109,7.163c2.05,2.145 3.866,3.952 5.752,4.402c0.968,0.23 1.963,0.142 3.023,-0.392c1.671,-0.842 2.12,-2.531 1.929,-4.664c-0.272,-3.027 -1.933,-7.058 -1.212,-9.878c0.234,-0.914 0.772,-1.666 1.796,-2.15c1.323,-0.625 2.547,-0.218 3.718,0.699c1.082,0.848 2.109,2.114 3.113,3.553c1.971,2.824 3.826,6.304 5.662,8.89c1.13,1.592 2.274,2.853 3.409,3.521c1.19,0.701 2.393,0.823 3.619,0.216c2.417,-1.196 2.942,-3.635 2.292,-6.781c-1.017,-4.918 -5.005,-11.766 -5.961,-16.908c-0.443,-2.385 -0.227,-4.368 1.899,-5.263c2.648,-1.114 4.82,0.642 6.909,3.367c4.161,5.429 7.713,14.811 11.733,19.877c2.567,3.235 5.4,4.763 8.482,3.576c1.362,-0.524 2.262,-1.439 2.884,-2.594c0.919,-1.702 1.146,-4.027 1.554,-6.216c0.313,-1.682 0.684,-3.31 2.118,-4.133c2.125,-1.22 4.114,-1.377 6.13,-0.932c3.23,0.712 6.507,2.829 10.385,4.83c4.797,2.475 10.434,4.801 17.754,4.65c0.871,-0.022 1.561,-0.747 1.539,-1.619c-0.022,-0.871 -0.747,-1.561 -1.618,-1.539c-6.713,0.198 -11.891,-1.934 -16.311,-4.165c-4.152,-2.095 -7.691,-4.259 -11.138,-4.986c-2.693,-0.569 -5.342,-0.336 -8.159,1.314c-1.18,0.691 -1.971,1.68 -2.511,2.86c-0.824,1.801 -1.012,4.096 -1.397,6.183c-0.306,1.662 -0.663,3.226 -2.21,3.838c-1.198,0.473 -2.305,0.151 -3.368,-0.627c-1.047,-0.766 -2.044,-1.93 -3.027,-3.326c-4.026,-5.719 -7.718,-15.1 -12.058,-19.803c-2.597,-2.813 -5.439,-4.059 -8.602,-2.695c-2.787,1.202 -3.676,3.499 -3.407,6.44c0.45,4.905 4.493,11.846 6.028,17.131c0.37,1.273 0.59,2.437 0.523,3.433c-0.068,0.998 -0.452,1.797 -1.376,2.265c-0.701,0.355 -1.38,0.125 -2.067,-0.378c-0.7,-0.512 -1.391,-1.287 -2.092,-2.211c-2.884,-3.802 -5.841,-9.969 -9.133,-12.829c-1.908,-1.659 -3.934,-2.295 -6.088,-1.253c-1.569,0.758 -2.381,1.928 -2.728,3.337c-0.635,2.579 0.487,6.092 1.05,9.078c0.186,0.984 0.305,1.903 0.228,2.693c-0.075,0.766 -0.341,1.395 -1.03,1.75c-1.454,0.749 -2.719,0.179 -4.05,-0.883c-2.613,-2.086 -5.391,-5.97 -9.44,-8.29c-2.162,-1.238 -4.674,-2.046 -7.694,-1.949c-6.304,0.203 -14.433,5.002 -21.269,6.484c-3.294,0.714 -6.277,0.649 -8.54,-1.299c-2.064,-1.777 -2.579,-3.49 -2.335,-4.983c0.45,-2.762 3.318,-4.716 3.318,-4.716c0.229,-0.156 0.288,-0.468 0.132,-0.697c-0.156,-0.229 -0.468,-0.287 -0.697,-0.132Z" />
          </clipPath>
          <g clip-path="url(#_small_clip3)">
            <rect x="-0.482" y="15.931" width="152.093" height="41.868" style="fill:url(#_small_Linear4);" />
          </g>
          <path id="threadcover1"
            d="M9.28,31.999c-0,-0 -1.246,0.881 -1.483,1.071c-1.435,1.148 -6.108,5.529 -0.681,10.243c7.039,6.113 20.71,-4.644 30.194,-4.907c11.965,-0.332 15.483,14.231 21.535,11.147c4.774,-2.432 -3.869,-13.733 2.496,-16.774c7.821,-3.738 13.265,19.87 19.45,16.774c7.963,-3.985 -11.438,-24.991 -1.768,-29.11c11.178,-4.762 16.861,30.625 27.089,26.635c4.833,-1.885 1.849,-10.309 6.337,-12.912c9.7,-5.624 17.049,7.778 33.387,8.193c0.508,0.013 1.352,0.013 1.878,-0"
            style="fill:none;stroke:var(--black);stroke-width:4.16px;" />
          <path id="quad2"
            d="M14.55,28.997c-0.375,-0.88 -1.393,-1.289 -2.273,-0.914c-0,0 -0,0 -0,0c-0.881,0.376 -1.29,1.394 -0.914,2.274c-0,-0 -0,-0 -0,-0c0.375,0.88 1.393,1.289 2.273,0.913c0,0 0,0 0,0c0.88,-0.375 1.29,-1.393 0.914,-2.273c0,-0 0,-0 0,-0Z"
            style="fill:var(--primary);" />
          <path id="quad1"
            d="M123.892,47.21c0.417,-0.951 0.439,-2.028 0.061,-2.995c-0.377,-0.967 -1.123,-1.744 -2.074,-2.161c-0,-0 -0.001,-0 -0.001,-0.001c-0.951,-0.417 -2.028,-0.439 -2.995,-0.061c-0.967,0.377 -1.744,1.123 -2.161,2.074c-0,0 -0.001,0.001 -0.001,0.002c-0.417,0.95 -0.439,2.027 -0.062,2.994c0.378,0.967 1.124,1.745 2.074,2.161c0.001,0.001 0.002,0.001 0.002,0.001c0.951,0.417 2.028,0.439 2.995,0.062c0.967,-0.378 1.744,-1.124 2.161,-2.074c0,-0.001 0.001,-0.001 0.001,-0.002Z"
            style="fill:var(--accent);" />
          <g id="handles">
            <g id="point3">
              <path d="M100.642,11.764l-32.343,12.959" style="fill:none;stroke:#1b72fd;stroke-width:0.18px;" />
              <path
                d="M68.178,23.975c0.413,-0.067 0.802,0.214 0.869,0.627c0.067,0.413 -0.214,0.803 -0.627,0.87c-0.413,0.067 -0.803,-0.214 -0.87,-0.627c-0.067,-0.414 0.214,-0.803 0.628,-0.87Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M100.546,11.006c0.413,-0.067 0.803,0.214 0.87,0.627c0.067,0.413 -0.215,0.803 -0.628,0.87c-0.413,0.067 -0.802,-0.214 -0.869,-0.628c-0.067,-0.413 0.214,-0.802 0.627,-0.869Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M79.092,19.772c0.359,0.03 0.625,0.345 0.595,0.703c-0.03,0.358 -0.346,0.624 -0.704,0.594c-0.358,-0.03 -0.624,-0.345 -0.594,-0.703c0.03,-0.358 0.345,-0.625 0.703,-0.594Z"
                style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            </g>
            <g id="point31" serif:id="point3">
              <path d="M73.583,51.174l18.478,-4.217" style="fill:none;stroke:#1b72fd;stroke-width:0.32px;" />
              <path
                d="M92.064,47.716c-0.419,0.001 -0.76,-0.337 -0.761,-0.756c-0.002,-0.418 0.336,-0.759 0.755,-0.761c0.418,-0.001 0.759,0.337 0.761,0.755c0.002,0.419 -0.337,0.76 -0.755,0.762Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M73.586,51.932c-0.418,0.002 -0.759,-0.336 -0.761,-0.755c-0.001,-0.418 0.337,-0.759 0.755,-0.761c0.419,-0.002 0.76,0.337 0.762,0.755c0.001,0.419 -0.337,0.76 -0.756,0.761Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M80.627,50.164c-0.349,-0.086 -0.563,-0.439 -0.478,-0.788c0.086,-0.349 0.439,-0.563 0.788,-0.477c0.349,0.086 0.563,0.439 0.477,0.788c-0.085,0.349 -0.438,0.563 -0.787,0.477Z"
                style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            </g>
            <g id="point32" serif:id="point3">
              <path d="M53.133,53.943l10.659,-8.307" style="fill:none;stroke:#1b72fd;stroke-width:0.32px;" />
              <path
                d="M64.069,46.322c-0.378,0.178 -0.831,0.017 -1.009,-0.362c-0.179,-0.378 -0.017,-0.83 0.361,-1.009c0.378,-0.179 0.831,-0.017 1.01,0.361c0.178,0.379 0.016,0.831 -0.362,1.01Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M53.457,54.629c-0.379,0.178 -0.831,0.017 -1.01,-0.362c-0.179,-0.378 -0.017,-0.83 0.362,-1.009c0.378,-0.179 0.83,-0.017 1.009,0.361c0.179,0.379 0.017,0.831 -0.361,1.01Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M59.084,50.043c-0.353,0.07 -0.696,-0.159 -0.766,-0.511c-0.071,-0.352 0.158,-0.696 0.511,-0.766c0.352,-0.07 0.695,0.159 0.766,0.511c0.07,0.353 -0.159,0.696 -0.511,0.766Z"
                style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            </g>
            <g id="point1">
              <path d="M53.647,35.896l25.417,-10.531" style="fill:none;stroke:#1b72fd;stroke-width:0.32px;" />
              <path
                d="M78.814,26.081c-0.395,-0.138 -0.604,-0.571 -0.466,-0.966c0.138,-0.395 0.571,-0.604 0.966,-0.466c0.395,0.138 0.604,0.571 0.466,0.966c-0.138,0.395 -0.571,0.604 -0.966,0.466Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M53.397,36.612c-0.395,-0.138 -0.604,-0.571 -0.466,-0.966c0.138,-0.395 0.571,-0.604 0.966,-0.466c0.395,0.138 0.604,0.571 0.466,0.966c-0.138,0.395 -0.571,0.604 -0.966,0.466Z"
                style="fill:#1b72fd;stroke:#d2edfa;stroke-width:0.22px;" />
              <path
                d="M61.235,33.102c-0.301,-0.197 -0.384,-0.601 -0.187,-0.902c0.197,-0.3 0.601,-0.384 0.901,-0.187c0.301,0.197 0.385,0.601 0.188,0.902c-0.198,0.3 -0.602,0.384 -0.902,0.187Z"
                style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            </g>
            <circle id="point0" cx="147.51" cy="42.576" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            <circle id="point01" serif:id="point0" cx="8.128" cy="32.771" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            <circle id="point02" serif:id="point0" cx="9.37" cy="44.641" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            <circle id="point03" serif:id="point0" cx="38.287" cy="38.395" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            <circle id="point04" serif:id="point0" cx="114.922" cy="33.232" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
            <circle id="point05" serif:id="point0" cx="105.469" cy="47.211" r="0.651"
              style="fill:#d2edfa;stroke:#1b72fd;stroke-width:0.19px;" />
          </g>
        </g>
      </g>
      <defs>
        <radialGradient id="_small_Radial2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(0.08829,61.7946,-73.4154,0.104893,74.201,-0.0993911)">
          <stop offset="0" style="stop-color:#247cff;stop-opacity:1" />
          <stop offset="0.52" style="stop-color:#2266ca;stop-opacity:0.76" />
          <stop offset="1" style="stop-color:var(--black);stop-opacity:0" />
        </radialGradient>
        <linearGradient id="_small_Linear4" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse"
          gradientTransform="matrix(-151.151,1.20089,-1.20089,-151.151,150.798,32.5502)">
          <stop offset="0" style="stop-color:var(--accent);stop-opacity:1" />
          <stop offset="0.52" style="stop-color:#2fc2e2;stop-opacity:1" />
          <stop offset="1" style="stop-color:#247cff;stop-opacity:1" />
        </linearGradient>
      </defs>
    </svg>






  </div>
  <div class="cta-organiser">
    <h1 alt="Web Developers obsessed with Design" title="We are Web and Software Developers">Web Development & Design
    </h1>
    <p>We're a small team handling web design, graphic design, software development and crypto-services.</p>
    <ul class="flex subtle">
      <li>#FullStackDeveloper</li>
      <li>#DesignAndCode</li>
    </ul>
    <a class="btn primary chat-trigger">Get in touch with us</a>
  </div>
</div>

<div class="container showcase-parent">
  <div class="showcase animate-rotate">

    <div class="item target data">
        <svg alt="Flat18 helps small organisations to manage their data and serve data-payloads with simple, tailor-made APIs" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="data" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><g id="data1" serif:id="data"><g id="layer0"><path d="M158.594,177.029c-0,11.32 -23.066,20.509 -51.476,20.509c-28.41,0 -51.476,-9.189 -51.476,-20.509l-0,-32.396c-0,11.319 23.066,20.509 51.476,20.509c28.41,-0 51.476,-9.19 51.476,-20.509l-0,32.396Z" style="fill:var(--accent);"/><ellipse cx="107.118" cy="144.633" rx="51.476" ry="20.509" style="fill:var(--primary);"/></g><g id="layer1"><path d="M158.594,138.491c-0,11.319 -23.066,20.509 -51.476,20.509c-28.41,0 -51.476,-9.19 -51.476,-20.509l-0,-32.396c-0,0.619 -0,0.596 -0,-0c-0,-11.32 23.066,-20.51 51.476,-20.51c28.41,0 51.476,9.19 51.476,20.51l-0,32.396Z" style="fill:var(--primary);"/><g opacity="0.75"><path d="M158.594,138.491c-0,11.319 -23.066,20.509 -51.476,20.509c-28.41,0 -51.476,-9.19 -51.476,-20.509l-0,-32.396c-0,11.319 23.066,20.509 51.476,20.509c28.41,-0 51.476,-9.19 51.476,-20.509l-0,32.396Z" style="fill:var(--accent);"/><ellipse cx="107.118" cy="106.095" rx="51.476" ry="20.509" style="fill:var(--primary);"/></g></g><g id="layer2"><path d="M158.594,99.953c-0,11.319 -23.066,20.509 -51.476,20.509c-28.41,0 -51.476,-9.19 -51.476,-20.509l-0,-32.397c-0,0.62 -0,0.597 -0,0c-0,-11.319 23.066,-20.509 51.476,-20.509c28.41,0 51.476,9.19 51.476,20.509l-0,32.397Z" style="fill:var(--primary);"/><g opacity="0.5"><path d="M158.594,99.953c-0,11.319 -23.066,20.509 -51.476,20.509c-28.41,0 -51.476,-9.19 -51.476,-20.509l-0,-32.397c-0,11.32 23.066,20.51 51.476,20.51c28.41,-0 51.476,-9.19 51.476,-20.51l-0,32.397Z" style="fill:var(--accent);"/><ellipse cx="107.118" cy="67.556" rx="51.476" ry="20.509" style="fill:var(--primary);"/></g></g><g id="branches"><path id="branch1" d="M151.971,94.447l30.882,-0c4.686,-0 8.484,-3.799 8.484,-8.485l0,-16.573c0,-4.685 3.799,-8.484 8.485,-8.484c10.719,-0 27.784,-0 27.784,-0" style="fill:none;stroke:var(--accent);stroke-width:16px;"/><path id="branch2" d="M151.971,169.932l30.882,0c4.686,0 8.484,3.799 8.484,8.485l0,16.573c0,4.685 3.799,8.484 8.485,8.484c10.719,0 27.784,0 27.784,0" style="fill:none;stroke:var(--accent);stroke-width:16px;"/><path id="branch0" d="M151.971,128.536l75.635,-0" style="fill:none;stroke:var(--accent);stroke-width:16px;"/><path id="branch3" d="M63.793,128.536l-37.972,-0c-8.971,-0 -16.244,-7.273 -16.244,-16.244c0,-20.098 0,-54.114 0,-74.212c0,-8.971 7.273,-16.243 16.244,-16.243c50.563,-0 201.785,-0 201.785,-0" style="fill:none;stroke:var(--primary);stroke-opacity:0.5;stroke-width:16px;stroke-linecap:square;"/><path id="branch4" d="M63.793,94.009l-10.714,0c-4.308,0 -8.44,-1.711 -11.486,-4.757c-3.047,-3.047 -4.758,-7.178 -4.758,-11.487l-0,-39.685c-0,-4.308 1.711,-8.439 4.758,-11.486c3.046,-3.046 7.178,-4.757 11.486,-4.757l174.527,-0" style="fill:none;stroke:var(--primary);stroke-opacity:0.5;stroke-width:16px;stroke-linecap:square;"/><path id="branch5" d="M63.793,171.086l-37.972,-0c-8.971,-0 -16.244,7.272 -16.244,16.243l0,23.707c0,4.309 1.712,8.44 4.758,11.487c3.046,3.046 7.178,4.757 11.486,4.757l201.785,0" style="fill:none;stroke:var(--primary);stroke-opacity:0.5;stroke-width:16px;stroke-linecap:square;"/></g></g></svg>
      <h3>Data Services</h3>
      <p>
        Customisable endpoints for all manner of data objects - Provided as a service or built on top of your own
        servers and storage.
      </p>
      <a class="link chat-trigger">Chat now <i class="ico icon-chat"></i></a>
    </div>

    <div class="item target metrics">
        <svg alt="Our metrics platform collects and displays website visitor data anonymously" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="metrics" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><circle id="ring0" cx="154.684" cy="155.923" r="47.617" style="fill:none;stroke:var(--primary);stroke-width:20px;"/><path id="ring1" d="M154.684,108.306c26.28,0 47.617,21.337 47.617,47.617c-0,26.28 -21.337,47.617 -47.617,47.617c-11.736,-0 -22.486,-4.255 -30.791,-11.306" style="fill:none;stroke:var(--accent);stroke-width:20px;"/><path id="ring2" d="M154.684,108.306c26.28,0 47.617,21.337 47.617,47.617c-0,2.464 -0.188,4.884 -0.549,7.248" style="fill:none;stroke:var(--primary);stroke-opacity:0.5;stroke-width:20px;"/><path id="bar0" d="M25.021,41.608l174.48,0" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/><path id="bar1" d="M25.021,80.297l102.319,0" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/><path id="bar2" d="M25.021,118.11l65.566,0" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/><path id="bar3" d="M25.021,155.923l42.015,0" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/></svg>
      <h3>F18 Metrics</h3>
      <p>
        F18 Metrics organises and delivers useful metrics data without compromising privacy.
      </p>

    </div>

    <div class="item target f18pay">
      <svg alt="Flat 18 pay preview image." width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:1.5;"><rect id="f18" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><clipPath id="_clip1"><rect x="0" y="0" width="236.22" height="236.22"/></clipPath><g clip-path="url(#_clip1)"><circle id="circle0" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);"/><circle id="circle1" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);"/><circle id="circle2" cx="118.11" cy="167.664" r="58.552" style="fill:var(--primary);"/><path id="circle5" d="M176.662,-0l-0,109.112c-0,32.316 -26.236,58.552 -58.552,58.552c-32.315,0 -58.551,-26.236 -58.551,-58.552l-0,-109.112l117.103,-0Z" style="fill:var(--accent);fill-opacity:0.25;"/><circle id="circle4" cx="118.11" cy="109.112" r="58.552" style="fill:var(--accent);"/><g id="circle6"><path d="M118.11,77.243l-30.921,14.133l31.31,16.401l30.532,-16.401l-30.921,-14.133Z" style="fill:none;stroke:var(--primary);stroke-width:4.17px;"/><path d="M118.499,107.388l-31.31,-16.012l0,33.205l30.921,16.401l30.921,-16.401l0,-33.205l-30.532,16.401l-0.389,33.205l0.389,-33.594Z" style="fill:none;stroke:var(--primary);stroke-width:4.17px;"/></g></g></svg>
      <h3>F18 Pay </h3>
      <p>F18 Pay is a light-weight payments processing platform inspired by BTCPay Server.</p>
      <div class="flex">
        <a class="link pri" target="blank_" rel="noreferrer" href="https://money.flat18.co.uk">Check out F18
          Pay&nbsp;<i class="ico icon-external-link"></i></a>
        <!-- <a class="link chat-trigger">Chat now <i class="ico icon-chat"></i></a> -->
      </div>
    </div>

    <div class="item target creative">
        <svg alt="Our experimental and educational projects which have bred new ideas and creative explorations" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:1.5;"><rect id="studies" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><g id="grid0"><rect x="172.255" y="9.272" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/></g><g id="grid1"><rect x="118.11" y="9.272" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/><rect x="172.255" y="63.783" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/></g><g id="grid2"><rect x="63.966" y="9.272" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="118.11" y="63.783" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="172.255" y="118.293" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/></g><g id="grid3"><rect x="9.821" y="9.272" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="63.966" y="63.783" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="118.11" y="118.293" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="172.255" y="172.804" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/></g><g id="grid4"><rect x="9.821" y="63.783" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="63.966" y="118.293" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/><rect x="118.11" y="172.804" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:6.25px;"/></g><g id="grid5"><rect x="9.821" y="118.293" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;"/><rect x="63.966" y="172.804" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;"/></g><g id="grid6"><rect x="9.821" y="172.804" width="54.145" height="54.145" style="fill:none;stroke:var(--accent);stroke-opacity:0.25;stroke-width:6.25px;"/></g></svg>
      <h3>Creative Studies </h3>
      <p>
        Browse some of the projects we've worked on that haven't made it to production.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="#projects">Browse Projects <i class="ico icon-arrow-down2"></i></a>
      </div>
    </div>

    <div class="item target btcpay">
      <svg alt="BTCPay Server" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="btcpay" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><path id="tile0" d="M192.962,40.715c-0,-14.161 -11.48,-25.642 -25.642,-25.642l-126.605,0c-14.161,0 -25.642,11.481 -25.642,25.642l0,126.605c0,14.162 11.481,25.642 25.642,25.642l126.605,-0c14.162,-0 25.642,-11.48 25.642,-25.642l-0,-126.605Z" style="fill:var(--primary);fill-opacity:0.25;"/><path id="tile1" d="M192.962,40.715c-0,-14.161 -11.48,-25.642 -25.642,-25.642l-126.605,0c-14.161,0 -25.642,11.481 -25.642,25.642l0,126.605c0,14.162 11.481,25.642 25.642,25.642l126.605,-0c14.162,-0 25.642,-11.48 25.642,-25.642l-0,-126.605Z" style="fill:var(--accent);fill-opacity:0.75;"/><path id="tile2" serif:id="tile" d="M223.341,71.094c-0,-14.162 -11.481,-25.642 -25.642,-25.642l-126.605,0c-14.162,0 -25.642,11.48 -25.642,25.642l0,126.605c0,14.161 11.48,25.642 25.642,25.642l126.605,-0c14.161,-0 25.642,-11.481 25.642,-25.642l-0,-126.605Z" style="fill:var(--accent);fill-opacity:0.5;"/><g id="btcpayb"><path d="M110.453,77.646l28.622,21.668l-28.622,21.669l-0,-43.337Z" style="fill:none;stroke:var(--primary);stroke-width:10.42px;"/><path d="M110.453,115.238l28.622,21.668l-28.622,21.669l-0,-43.337Z" style="fill:none;stroke:var(--primary);stroke-width:10.42px;"/></g></svg>
      <h3>BTCPay Server </h3>
      <p>
        The gold-standard of bitcoin payment processing and much more. Website built by Flat18.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="https://btcpayserver.org" target="_blank">BTCPay Server
          Website&nbsp;<i class="ico icon-external-link"></i></a>
      </div>
    </div>

    <div class="item target walletscrutiny">
      <svg alt="Wallet Scrutiny walletscrutiny.com" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="walletscrutiny" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><path id="w0" d="M110.313,213.699c-11.832,-12.689 -18.611,-30.039 -17.397,-48.702c2.334,-35.913 33.387,-63.175 69.3,-60.84c15.501,1.008 29.39,7.365 39.983,17.154" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/><path id="w2" d="M20.364,90.822l66.825,27.288l43.604,-80.929" style="fill:none;stroke:var(--accent);stroke-width:16.67px;"/><path id="w1" d="M75.578,58.134l66.826,27.288l34.448,-63.936" style="fill:none;stroke:var(--accent);stroke-opacity:0.5;stroke-width:16.67px;"/><g id="ws"><path d="M186.481,150.261l-12.914,40.354l-14.584,-0l-6.515,-21.561l-6.86,21.561l-14.585,-0l-12.913,-40.354l14.009,0l7.033,22.944l7.436,-22.944l12.51,0l7.033,23.232l7.436,-23.232l12.914,0Z" style="fill:var(--primary);fill-rule:nonzero;"/><path d="M204.524,191.537c-3.343,0 -6.6,-0.375 -9.771,-1.124c-3.171,-0.75 -5.774,-1.758 -7.811,-3.027l4.381,-9.915c1.922,1.115 4.074,2.008 6.456,2.681c2.383,0.672 4.67,1.008 6.861,1.008c1.883,0 3.228,-0.182 4.035,-0.547c0.807,-0.365 1.211,-0.913 1.211,-1.643c-0,-0.846 -0.529,-1.48 -1.586,-1.903c-1.057,-0.422 -2.796,-0.883 -5.217,-1.383c-3.113,-0.653 -5.707,-1.355 -7.782,-2.104c-2.076,-0.75 -3.882,-1.979 -5.419,-3.69c-1.538,-1.71 -2.306,-4.025 -2.306,-6.946c-0,-2.537 0.711,-4.843 2.133,-6.918c1.422,-2.075 3.545,-3.709 6.37,-4.9c2.825,-1.191 6.255,-1.787 10.29,-1.787c2.767,-0 5.486,0.298 8.157,0.893c2.671,0.596 5.025,1.47 7.062,2.623l-4.093,9.858c-3.958,-1.998 -7.706,-2.998 -11.241,-2.998c-3.498,0 -5.246,0.846 -5.246,2.537c-0,0.807 0.519,1.412 1.556,1.816c1.038,0.403 2.748,0.836 5.131,1.297c3.074,0.576 5.669,1.239 7.782,1.989c2.114,0.749 3.949,1.969 5.506,3.66c1.556,1.691 2.334,3.997 2.334,6.918c0,2.537 -0.711,4.833 -2.133,6.889c-1.421,2.056 -3.545,3.69 -6.37,4.9c-2.824,1.211 -6.254,1.816 -10.29,1.816Z" style="fill:var(--primary);fill-rule:nonzero;"/></g></svg>
      <h3>Wallet Scrutiny </h3>
      <p>
        Wallet Scrutiny publishes analyses and findings on crypto-wallet build verifiability. Website design,
        frontend UI/UX by Flat 18.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="https://walletscrutiny.com" target="_blank">Wallet
          Scrutiny
          Website&nbsp;<i class="ico icon-external-link"></i></a>
      </div>
    </div>

    <!-- <div class="item">
      <h3>Michael Hayden Talks .com</h3>
      <img loading="lazy" src="/src/img/showcase/mht.webp" alt="Michael Hayden Talks" />
      <p>
        A beautiful example of our JSON-to-website system. Easily combining data objects with html templates.
      </p>

      <div class="flex">
        <a class="link pri" rel="noreferrer" href="https://michaelhaydentalks.com" target="_blank">Visit
          Website&nbsp;<i class="ico icon-external-link"></i></a>
      </div>
    </div> -->

    <!-- <div class="item">
      <h3>Gratis Services</h3>
      <img loading="lazy" src="/src/img/showcase/gratis.webp" alt="" />
      <p>
        Free APIs and data services provided by Flat18
      </p>

    </div> -->


    <div class="item target let-s-build">
      <svg alt="Let's build something amazing" width="100%" height="100%" viewBox="0 0 237 237" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="let-s-build" serif:id="let&apos;s build" x="0" y="0" width="236.22" height="236.22" style="fill:none;"/><circle id="circle0" cx="102.64" cy="138.078" r="81.102" style="fill:var(--accent);"/><circle id="circle1" cx="102.64" cy="138.078" r="81.102" style="fill:var(--primary);"/><circle id="circle2" cx="102.64" cy="138.078" r="81.102" style="fill:var(--accent);"/><circle id="circle3" cx="102.64" cy="138.078" r="81.102" style="fill:var(--primary);"/><g id="pen" opacity="0.5"><path d="M178.106,50.625l-0.058,-0.057c-6.379,-6.244 -16.628,-6.134 -22.871,0.246c-6.244,6.379 -6.133,16.628 0.246,22.871l0.059,0.057l-58.781,59.944l-4.355,-4.663l32.369,-80.942c15.453,-4.519 45.165,-19.616 61.285,-38.014l16.451,16.101l-24.345,24.457Z" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/><path d="M178.031,50.793l0.059,0.057c6.379,6.243 6.489,16.492 0.246,22.871c-6.244,6.38 -16.492,6.49 -22.871,0.246l-0.059,-0.057l-58.78,59.944l4.281,4.224l80.817,-33.961c4.185,-15.547 19.056,-45.169 37.103,-61.681l-16.452,-16.1l-24.344,24.457Z" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/></g><path id="line" d="M29.565,73.685l145.496,145.496" style="fill:none;stroke:var(--accent);stroke-width:6.25px;"/></svg>
      <h3>Let's Build Something</h3>
      <p>
        We can't wait to get started on your project. Get in touch below whenever you're ready.
      </p>
      <div class="flex">
        <a class="chat-trigger link">Chat now <i class="ico icon-chat"></i></a>
      </div>
    </div>

    <!-- END -->

  </div>
  <div class="showcase-slider">
    <input type="range">
    <div class="slider-ui"><span class="blob"></span></div>
  </div>
</div>


<div class="container flex">
  <div class="text-organiser">
    <h2>You imagine it. We create it.</h2>
    <p>Whatever you're planning to build, let's see how we can help make it a reality.</p>
    <ul class="flex">
      <li>DeFi</li>
      <li>Crypto</li>
      <li>APIs</li>
      <li>Frontend design</li>
      <li>PHP development</li>
      <li>javascript</li>
      <li>HTML</li>
      <li>Server config</li>
      <li>Virtual Machines</li>
      <li>payments processing</li>
      <li>ERC-20</li>
      <li>Bitcoin</li>
      <li>finance</li>
      <li>Design</li>
    </ul>
    <a class="btn primary chat-trigger">Get in touch <i class="ico icon-chat"></i></a>
    <a class="btn" href="#pricing">Check out our pricing <i class="ico icon-arrow-down2"></i></a>
  </div>
  <div class="img cat" src="/src/img/cat-on-computer.webp"></div>
</div>

<div class="container pricing parent" id="pricing">
  <div class="heading">
    <h2>Pricing</h2>
    <div class="currency-options">
      <div class="option">BTC</div>
      <div class="option selected">GBP</div>
      <div class="option">EUR</div>
      <div class="option">USD</div>
    </div>
  </div>
  <div class="pricing-item">
    <div class="heading">
      <h2>Essentials Monthly</h2>
      <h2>
        <span class="currency-bundle"><span class="currency-symbol">£</span><span
            class="currency-value">1,199</span></span> <small>/ month</small>
        </small>
      </h2>
      <span class="notible">
        <span class="currency-bundle">Less than
          <span class="currency-symbol">£</span><span class="currency-value no-strategy">29.98</span> </span>per
        hour<br>Pause and resume any time.</span>
    </div>
    <div class="wyg">
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Graphic design</li>
        <li>Frontend UI/UX development</li>
        <li>Website/Landing-page</li>
        <li>Backend management</li>
        <li>APIs</li>
        <li>Maintenance</li>
        <li>Application staging</li>
      </ul>
      <a class="btn pri chat-trigger">Get started <i class="ico icon-chat"></i></a>
    </div>
    <div>
      <h3>How it works:</h3>
      <ul class="dash">
        <li>Up to 40 hours/month are dedicated to your project.</li>
        <li>Make as many revisions or requests as you like.</li>
        <li>Tasks are queued according to priority and roadmap.</li>
        <li>Pause development any time.</li>
        <li>You pay in advance and unused hours expire at the end of the month.</li>
      </ul>
    </div>
  </div>

  <div class="pricing-item">
    <div class="heading">
      <h2>Flexible PAYG</h2>
      <h2><span class="currency-bundle"><span class="currency-symbol">£</span><span
            class="currency-value">39</span></span> <small>/ hour</small></h2>
      <span class="notible">Pay as you go. For projects little and large.</span>
    </div>
    <div class="wyg">
      <h3>What you get:</h3>
      <ul class="tick">
        <li>Everything in <b>Essentials Monthly</b></li>
        <li>Flexibility to work on smaller projects</li>
      </ul>
      <a class="btn pri chat-trigger">Get started <i class="ico icon-chat"></i></a>
    </div>
    <div>
      <h3>How it works:</h3>
      <ul class="dash">
        <li>We use your budget or project outline to set a schedule and costing according to you needs.</li>
        <li>4 hours - daily cap and overall minimum.</li>
        <li>Additional 1-week review period.</li>
        <li>You pay what is due at the end of every month or when your project is completed, whichever is sooner.</li>
      </ul>
    </div>
  </div>
</div>

<div class="container projects parent" id="projects">
  <div class="heading">
    <h2>Creative studies</h2>
    <p>Here are some design & creativity studies produced from demo sites, archived landing-pages and projects that
      never made it past the development phase.</p>
  </div>
  <div class="project-showcase-workspace-container">
    <div class="project-showcase-workspace">
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/nairaex.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/nairaex.svg">
            <h3><span>NairaEx</span><span class=" post">~ 15 hours</span></h3>
            <span class="subtitle post">Landing-page for debit-card<br>Approx. 15 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
              target="blank_">View demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
            <div class="palette post"><i style="background-color:#02d602" colour="#02d602"></i><i
                style="background-color:#0d9900" colour="#0d9900"></i><i style="background-color:#1ba672"
                colour="#1ba672"></i><i style="background-color:#09815c" colour="#09815c"></i><i
                style="background-color:#444" colour="#444"></i><i style="background-color:#d1d9e6"
                colour="#d1d9e6"></i><i style="background-color:#8792a1" colour="#8792a1"></i><i
                style="background-color:#cbdbec" colour="#cbdbec"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
            </ul>
            <div class="text-block post">
              <p>NairaEx is a Nigerian company providing bitcoin services to the African and Canadian markets. </p>
              <p>This landing page was for a crypto debit-card, to be used in Canada. </p>
              <p>The design features colours associated with the Nigerian flag, and offers light-weight, pure-CSS
                animation for the debit-card graphic.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://hosted-projects.flat18.co.uk/2020-debit/"
              target="blank_">View demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/btcpay.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/btc.svg">
            <h3><span>BTCPay Server</span><span class=" post">~ 15 hours</span></h3>
            <span class="subtitle post">Landing-page / Experimental homepage<br>Approx. 15 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://experimental-btcpayserver.flat18.co.uk/"
              target="blank_">View demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
            <div class="palette post"><i style="background-color:#CEDC21" colour="#CEDC21"></i><i
                style="background-color:#51B13E" colour="#51B13E"></i><i style="background-color:#1E7A44"
                colour="#1E7A44"></i><i style="background-color:#0f3723" colour="#0f3723"></i><i
                style="background-color:var(--white)" colour="var(--white)"></i><i style="background-color:#000" colour="#000"></i>
            </div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>UI</li>
            </ul>
            <div class="text-block post">
              <p>Flat18 has played an important part in the development of the BTCPay Server website. </p>
              <p>In its early days, we tried many iterations of the website, using design to strike the right balance of
                seriousness and credibility while remaining inviting and approachable.</p>
              <p>This is one of many rejected samples provided. It features an experimental hero element with an
                embedded .gif element, experimental carousel for displaying the product features, and some whimsical
                graphics and page elements.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://experimental-btcpayserver.flat18.co.uk/"
              target="blank_">View demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/zismo.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/zismo.svg">
            <h3><span>Zismo.io</span><span class=" post">~ 100 hours</span></h3>
            <span class="subtitle post">P2P Trading platform prototype<br>Approx. 100 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View demo&nbsp;<i
                class="ico icon-arrow-right"></i></a>
            <div class="palette post"><i style="background-color:#1f3575" colour="#1f3575"></i><i
                style="background-color:#1634db" colour="#1634db"></i><i style="background-color:#166bdb"
                colour="#166bdb"></i><i style="background-color:#075311" colour="#075311"></i><i
                style="background-color:#00d07b" colour="#00d07b"></i><i style="background-color:#16db30"
                colour="#16db30"></i><i style="background-color:#d8fae5" colour="#d8fae5"></i><i
                style="background-color:#db1641" colour="#db1641"></i><i style="background-color:#fad8df"
                colour="#fad8df"></i><i style="background-color:#edeff6" colour="#edeff6"></i><i
                style="background-color:#d8e9fa" colour="#d8e9fa"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>UI</li>
              <li>UX</li>
              <li>databases</li>
              <li>encryption</li>
              <li>geolocation</li>
            </ul>
            <div class="text-block post">
              <p>This peer-to-peer trading platform was designed to work similarly to local bitcoins, but with huge
                improvements to the user experience.</p>
              <p>The development of this platform led to the creation of some unique UI elements; like the 'vertical
                cover-flow' element for listing trades.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://zismo.flat18.co.uk/" target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/showcaselogos.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/iconmstr.svg">
            <h3><span>Logo & Icon Design</span><span class=" post">~ 2 hours</span></h3>
            <span class="subtitle post">Icon design<br>Approx. 2 hrs per design</span>

            <div class="palette post"><i style="background-color:rgb(223, 110, 73)" colour="rgb(223, 110, 73)"></i><i
                style="background-color:rgb(226, 73, 134)" colour="rgb(226, 73, 134)"></i><i
                style="background-color:rgb(247, 181, 49)" colour="rgb(247, 181, 49)"></i><i
                style="background-color:rgb(138,201,94)" colour="rgb(138,201,94)"></i><i
                style="background-color:rgb(100,156,248)" colour="rgb(100,156,248)"></i><i
                style="background-color:rgb(117,108,246)" colour="rgb(117,108,246)"></i><i
                style="background-color:#1F223A" colour="#1F223A"></i><i style="background-color:#50577E"
                colour="#50577E"></i><i style="background-color:#A8ADC7" colour="#A8ADC7"></i><i
                style="background-color:#F0F2FF" colour="#F0F2FF"></i></div>
            <ul class="flex post">
              <li>multiple logo iterations</li>
              <li>monoscrome and coloured specimen</li>
              <li>product mockups</li>
            </ul>
            <div class="text-block post">
              <p>Logos are a design introduction for any project, and can set the tone for the UX and interface design
                ass a whole.</p>
              <p>We enjoy designing logos that are vibrant, simple and meaningful to the product it represents.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/vswee.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/vswee.webp">
            <h3><span>vswee</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post">Landing-page<br>Approx. 10 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
                class="ico icon-arrow-right"></i></a>
            <div class="palette post"><i style="background-color:#ff8336" colour="#ff8336"></i><i
                style="background-color:#fe3b3b" colour="#fe3b3b"></i><i style="background-color:#0c121e"
                colour="#0c121e"></i><i style="background-color:rgb(36, 41, 62)" colour="rgb(36, 41, 62)"></i><i
                style="background-color:#d8dbe3" colour="#d8dbe3"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
            </ul>
            <div class="text-block post">
              <p>Taking inspiration from simple, single-themed landing-pages online, this personal landing-page uses
                narrowly-justified text against oversized, simple graphics to achieve a clean and dramatic page.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://vswee.com" target="blank_">View demo&nbsp;<i
                class="ico icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/incognetio.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/incognet.svg">
            <h3><span>Incognet</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post">Website redesign proposal<br>Approx. 10 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
            <div class="palette post"><i style="background-color:#ca3e47" colour="#ca3e47"></i><i
                style="background-color:#164eab" colour="#164eab"></i><i style="background-color:#fcdab7"
                colour="#fcdab7"></i><i style="background-color:#000" colour="#000"></i><i
                style="background-color:#18181a" colour="#18181a"></i><i style="background-color:#302c2f"
                colour="#302c2f"></i><i style="background-color:#eee" colour="#eee"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>JavaScript-avoidance</li>
              <li>UI</li>
              <li>backend whois middleware</li>
            </ul>
            <div class="text-block post">
              <p>One main objective in this re-design proposal, is the de-cluttering of the site's existing content.</p>
              <p>However, it was also important that the site felt like the design choices were 'considered' and
                deliberately understated.</p>
              <p>Copious padding and judicious use of graphics hidden in menu dropdowns, make the UI feel stylish and
                characterful without compromising the minimalistic, clean look.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://incognetio.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/keevo.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/keevo.png">
            <h3><span>Keevo wallet</span><span class=" post">~ 10 hours</span></h3>
            <span class="subtitle post">Landing-page experiment sample<br>Approx. 10 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://hosted.flat18.co.uk/keevo" target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
            <div class="palette post"><i style="background-color:#1DB92C" colour="#1DB92C"></i><i
                style="background-color:#000" colour="#000"></i><i style="background-color:#eee" colour="#eee"></i><i
                style="background-color:var(--white)" colour="var(--white)"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
              <li>slide-show animations</li>
            </ul>
            <div class="text-block post">
              <p>This landing-page experiment conceptualises how an immersive experience might begin.</p>
            </div> <a class="btn pri post" rel="noreferrer" href="https://hosted.flat18.co.uk/keevo"
              target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
      <div class="showcase-tile">
        <div class="tile-internals">
          <a class="close-x"></a>
          <div class="banner-parent">
            <img class="banner" alt="banner image" src="src/img/projects/oldflat18.webp">
          </div>
          <div class="post-components stop">
            <img class="icon post" loading="lazy" alt="website image" src="src/img/projects/icons/f18.svg">
            <h3><span>Previous Flat18</span><span class=" post">~ 40 hours</span></h3>
            <span class="subtitle post">Older website versions for Flat18<br>Approx. 40 of development hours</span>
            <a class="btn post" rel="noreferrer" href="https://old.flat18.co.uk" target="blank_">View demo&nbsp;<i
                class="ico icon-arrow-right"></i></a>
            <div class="palette post"><i style="background-color:#0064ff" colour="#0064ff"></i><i
                style="background-color:#0ad2d2" colour="#0ad2d2"></i><i style="background-color:#879de2"
                colour="#879de2"></i><i style="background-color:#04c" colour="#04c"></i><i
                style="background-color:#f0003c" colour="#f0003c"></i><i style="background-color:#00174f"
                colour="#00174f"></i><i style="background-color:#000" colour="#000"></i><i style="background-color:var(--white)"
                colour="var(--white)"></i></div>
            <ul class="flex post">
              <li>custom graphics</li>
              <li>Layout</li>
              <li>keyframe animation loop</li>
              <li>form validation</li>
              <li>email handlers</li>
              <li>databases</li>
              <li>analytics</li>
            </ul>
            <div class="text-block post">
              <p>Since 2017, the Flat18 website has been re-designed numerous times. None of these re-designs has ever
                actually been completed.</p>
            </div><a class="btn pri post" rel="noreferrer" href="https://old.flat18.co.uk" target="blank_">View
              demo&nbsp;<i class="ico icon-arrow-right2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container flex" id="contact">
  <div class="img loudspeaker" src="/src/img/loudspeaker.webp"></div>
  <div class="contact-form text-organiser">
    <h2>Get in touch with us</h2>


    <label for="inputFormName" class="form-help-text">Nickname</label>
    <input type="text" placeholder="Jessie Limonzest" oninput="validateField(this, 'name')" />
    <label class="form-help-text" for="inputFormTel">Telephone • Telegram • Signal</label>
    <input type="text" placeholder="+44 7456 554455" oninput="validateField(this, 'numb')" />
    <label class="form-help-text" for="inputFormAdd">Email</label>
    <input type="text" placeholder="jessie@example.com" oninput="validateField(this, 'email')" />
    <label class="form-help-text" for="inputFormMes">Message</label>
    <textarea type="text" placeholder="Here's my next big project..."
      oninput="validateField(this, 'message')"></textarea>

    <label class="form-help-text errorHelpForm" for="workingForm"></label>
    <span style="margin: auto;" onclick="infoTransformsToButton(this)" class="btn">Send message <i
        class="ico icon-send"></i></span>
  </div>

</div>

