<div class="study-contents">
          
  <div class="banner-parent">
    <img class="banner" loading="lazy" alt="banner image" src="/src/img/projects/keevo.webp">
  </div>
  <div class="post-components">
    <img class="icon" loading="lazy" alt="website image" src="/src/img/projects/icons/keevo.png">
    <h3><span>Keevo wallet</span><span class="">10 hours+</span></h3>
    <span class="subtitle post badges">Landing-page experiment sample<br>>10 hours of development</span>
    <a class="btn" rel="noreferrer" href="https://https://keevowallet.pages.dev" target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
    <div class="palette"><i style="background-color:#1DB92C" colour="#1DB92C"></i><i
        style="background-color:#000" colour="#000"></i><i style="background-color:#eee" colour="#eee"></i><i
        style="background-color:var(--white)" colour="var(--white)"></i></div>
    <ul class="flex">
      <li>custom graphics</li>
      <li>Layout</li>
      <li>keyframe animation loop</li>
      <li>slide-show animations</li>
    </ul>
    <div class="text-block">
      <p>This landing-page experiment conceptualises how an immersive experience might begin.</p>
    </div> <a class="btn pri" rel="noreferrer" href="https://https://keevowallet.pages.dev"
      target="blank_">View
      demo&nbsp;<i class="chevron-to-arrow -long"></i></a>
  </div>
</div>